/* screen - devicefeaturebasiclayout */

.devicefeaturebasiclayout {
  background-color: var(--white);
  height: 1731px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturebasiclayout .group-6-gOoW4B {
  background-color: transparent;
  height: 1297px;
  left: 420px;
  position: absolute;
  top: 234px;
  width: 1400px;
}

.devicefeaturebasiclayout .web-title-area-gOoW4B {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturebasiclayout .lnb-feature-card-gOoW4B {
  background-color: transparent;
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .rectangle-IroKyu {
  background-color: var(--concrete);
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .background-IroKyu {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .stacked-group-IroKyu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-title-common-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-YpP2QW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-ZJ3OMb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-mIRk6d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_open_selected-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-YpP2QW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-ZJ3OMb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-mIRk6d {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-copy-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents2dpeth-ty1vdP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-ty1vdP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .group-bG5WkV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .empty-s2ZxYu {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturebasiclayout .line-copy-s2ZxYu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturebasiclayout .empty-lfio6u {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-title-reference-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-HyYgmd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-o84Et2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-4tQXRY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-contents1dpeth_close-UWtjAE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .group-YpP2QW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .empty-ZUFoMu {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturebasiclayout .line-copy-ZUFoMu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturebasiclayout .empty-LcYJyg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-title-reference-copy-bG5WkV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturebasiclayout .group-copy-bG5WkV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturebasiclayout .empty-uStM57 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturebasiclayout .line-copy-uStM57 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturebasiclayout .empty-cfmECw {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturebasiclayout .web-index-title-reference-YpP2QW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturebasiclayout .line-IroKyu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturebasiclayout .home-net-ui-guideline-IroKyu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicefeaturebasiclayout .webgnb-gOoW4B {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturebasiclayout .rectangle-RAOhDm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturebasiclayout .background-RAOhDm {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturebasiclayout .index-RAOhDm {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicefeaturebasiclayout .web-index-select-K2hpbj {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturebasiclayout .web-index-unselect-K2hpbj {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicefeaturebasiclayout .web-index-select_main-RAOhDm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicefeaturebasiclayout .logo-yHIVct {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
