/* screen - devicefeaturecapabilities */

.devicefeaturecapabilities {
  background-color: var(--white);
  height: 1318px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilities .group-6-iD02PH {
  background-color: transparent;
  height: 834px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturecapabilities .web-title-area-iD02PH {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilities .web-tab-feature-card_-capabilities-iD02PH {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilities .tab-csyxQC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilities .types-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 36px;
}

.devicefeaturecapabilities .graph-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilities .value-slider-_-lin-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilities .value-slider-_-ste-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilities .value-switch-sli-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilities .grouping-card-Jqm82B {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturecapabilities .lnb-feature-card-iD02PH {
  background-color: transparent;
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .rectangle-vjf6uB {
  background-color: var(--concrete);
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .background-vjf6uB {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .stacked-group-vjf6uB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilities .web-index-title-common-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-BFBGpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-xhWa8F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-xnvvwE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_open_selected-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-BFBGpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-xhWa8F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-xnvvwE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-copy-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents2dpeth-YI8cgq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-YI8cgq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .group-TifOgb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .empty-moUcMq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilities .line-copy-moUcMq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilities .empty-GcxQY3 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .web-index-title-reference-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-CB0fr1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-CDGxyC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-JuAQbE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .web-index-contents1dpeth_close-HFUDrS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .group-BFBGpp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .empty-buLByb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilities .line-copy-buLByb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilities .empty-TQxxcP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .web-index-title-reference-copy-TifOgb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturecapabilities .group-copy-TifOgb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilities .empty-PsDx5l {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturecapabilities .line-copy-PsDx5l {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturecapabilities .empty-di2wjv {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilities .web-index-title-reference-BFBGpp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturecapabilities .line-vjf6uB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilities .home-net-ui-guideline-vjf6uB {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicefeaturecapabilities .webgnb-iD02PH {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilities .rectangle-6hdlvE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilities .background-6hdlvE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilities .index-6hdlvE {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicefeaturecapabilities .web-index-select-RKTMxz {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturecapabilities .web-index-unselect-RKTMxz {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicefeaturecapabilities .web-index-select_main-6hdlvE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicefeaturecapabilities .logo-ZxchOZ {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
