/* screen - devicefeaturemaindevicefeaturebuttons2 */

.devicefeaturemaindevicefeaturebuttons2 {
  background-color: var(--white);
  height: 1360px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-3-KiqX5p {
  background-color: transparent;
  height: 619px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-copy-KiqX5p {
  background-color: transparent;
  height: 471px;
  left: 1140px;
  position: absolute;
  top: 689px;
  width: 680px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-gqC9qT {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-copy-gqC9qT {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-kwj7x7 {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-TX3LEI {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line_-bold-kwj7x7 {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-copy-2-gqC9qT {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 274px;
  width: 620px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-copy-4-gqC9qT {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 412px;
  width: 620px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-7-copy-3-gqC9qT {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-LroHES {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line-apzNLK {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturebuttons2 .table-guide-text1line_-bold-LroHES {
  background-color: transparent;
  height: 59px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-4-gqC9qT {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-title-area-KiqX5p {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-tab-feature-card_-main-feature-card-KiqX5p {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturebuttons2 .tab-xxnaQm {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturebuttons2 .main-device-feature-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 121px;
}

.devicefeaturemaindevicefeaturebuttons2 .state-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.devicefeaturemaindevicefeaturebuttons2 .types-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 35px;
}

.devicefeaturemaindevicefeaturebuttons2 .status-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.devicefeaturemaindevicefeaturebuttons2 .toggle-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.devicefeaturemaindevicefeaturebuttons2 .buttons-1-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 57px;
}

.devicefeaturemaindevicefeaturebuttons2 .buttons-2-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 60px;
}

.devicefeaturemaindevicefeaturebuttons2 .dropdown-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 64px;
}

.devicefeaturemaindevicefeaturebuttons2 .toggle-adjust-Ux9rYC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.devicefeaturemaindevicefeaturebuttons2 .lnb-feature-card-KiqX5p {
  background-color: transparent;
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .rectangle-EKJfDY {
  background-color: var(--concrete);
  height: 1213px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .background-EKJfDY {
  background-color: var(--concrete);
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .stacked-group-EKJfDY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-common-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-ZsgD8e {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-BNv1Ut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-3eGWyv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_open_selected-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-ZsgD8e {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-BNv1Ut {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-3eGWyv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-copy-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents2dpeth-A2M8Rl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-A2M8Rl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-EIopp8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-xB4it3 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-copy-xB4it3 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-6fPxqI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-reference-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-Ohdd4k {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-IUO43U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-5jraw0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-contents1dpeth_close-TBxZ2U {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-ZsgD8e {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-xAgHrF {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-copy-xAgHrF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-1wIMxs {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-reference-copy-EIopp8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturemaindevicefeaturebuttons2 .group-copy-EIopp8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-dvra1c {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-copy-dvra1c {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .empty-hrzitj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-title-reference-ZsgD8e {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicefeaturemaindevicefeaturebuttons2 .line-EKJfDY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturebuttons2 .home-net-ui-guideline-EKJfDY {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicefeaturemaindevicefeaturebuttons2 .webgnb-KiqX5p {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .rectangle-SarBNx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .background-SarBNx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturebuttons2 .index-SarBNx {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-select-11TprI {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-unselect-11TprI {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicefeaturemaindevicefeaturebuttons2 .web-index-select_main-SarBNx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicefeaturemaindevicefeaturebuttons2 .logo-irxJxg {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
