/* screen - keyscreenhomenetkeyscreenserviceplugin */

.keyscreenhomenetkeyscreenserviceplugin {
  background-color: var(--white);
  height: 3032px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.keyscreenhomenetkeyscreenserviceplugin .group-xEPfBp {
  background-color: transparent;
  height: 2490px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 964px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-sub_-title_w-description-xEPfBp {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.keyscreenhomenetkeyscreenserviceplugin .sub-title-dp22Zx {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.keyscreenhomenetkeyscreenserviceplugin .web-title-area-xEPfBp {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-tab-device-feature_-capabilities-xEPfBp {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.keyscreenhomenetkeyscreenserviceplugin .x3rd-depth-l3dq6H {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.keyscreenhomenetkeyscreenserviceplugin .tab-l3dq6H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.keyscreenhomenetkeyscreenserviceplugin .device-feature-nFx5nA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 106px;
}

.keyscreenhomenetkeyscreenserviceplugin .service-feature-type-nFx5nA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.keyscreenhomenetkeyscreenserviceplugin .service-feature-type-copy-nFx5nA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.keyscreenhomenetkeyscreenserviceplugin .service-feature-type-copy-2-nFx5nA {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.keyscreenhomenetkeyscreenserviceplugin .lnb-favorite-card-xEPfBp {
  background-color: transparent;
  height: 845px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .rectangle-W6XfQ4 {
  background-color: var(--concrete);
  height: 845px;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .background-W6XfQ4 {
  background-color: var(--concrete);
  height: 585px;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .stacked-group-W6XfQ4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-title-common-AP44YQ {
  margin: 0;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-contents1dpeth_close-copy-4-AP44YQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-contents1dpeth_open_selected-AP44YQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .group-AP44YQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-pBzCnw {
  top: 21px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-UwfUeB {
  top: 0px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-title-common-copy-AP44YQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .group-copy-AP44YQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-SAbTRQ {
  top: 21px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-Ug5HYy {
  top: 0px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-title-common-MiecUx {
  margin: 0px 0 0 0;
}

.keyscreenhomenetkeyscreenserviceplugin .group-copy-2-AP44YQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-nUIqXc {
  top: 21px;
}

.keyscreenhomenetkeyscreenserviceplugin .empty-xmol6b {
  top: 0px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-title-common-copy-2-AP44YQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.keyscreenhomenetkeyscreenserviceplugin .line-W6XfQ4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.keyscreenhomenetkeyscreenserviceplugin .home-net-gui-guidelin-W6XfQ4 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.keyscreenhomenetkeyscreenserviceplugin .webgnb-xEPfBp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.keyscreenhomenetkeyscreenserviceplugin .rectangle-xhVJCd {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.keyscreenhomenetkeyscreenserviceplugin .background-xhVJCd {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.keyscreenhomenetkeyscreenserviceplugin .index-xhVJCd {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-select-2X6nQl {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-unselect-2X6nQl {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.keyscreenhomenetkeyscreenserviceplugin .web-index-unelect_main-xhVJCd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.keyscreenhomenetkeyscreenserviceplugin .logo-JBTb7Z {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
