/* screen - basicinteractionerrorcaseservercloudnotresponse */

.basicinteractionerrorcaseservercloudnotresponse {
  background-color: var(--white);
  height: 1308px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basicinteractionerrorcaseservercloudnotresponse .group-1 {
  background-color: transparent;
  height: 786px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.basicinteractionerrorcaseservercloudnotresponse .network-disconnectio {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.basicinteractionerrorcaseservercloudnotresponse .server-cloud-not-res {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 165px;
}

.basicinteractionerrorcaseservercloudnotresponse .group-2 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basicinteractionerrorcaseservercloudnotresponse .group-3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
