/* screen - tabletdevicepluginsmartlock */

.tabletdevicepluginsmartlock {
  background-color: var(--white);
  height: 1944px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginsmartlock .group-K4Wend {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginsmartlock .group-copy-K4Wend {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdevicepluginsmartlock .group-5-K4Wend {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-xSXBlb {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-hx2Xqx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-hx2Xqx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-5IY68V {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-n7mfg2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-n7mfg2 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-xSXBlb {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginsmartlock .rectangle-XLdxQG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .contents-XLdxQG {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartlock .group-2-copy-MxvOKd {
  height: 59px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-80exHa {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-2YcMFH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-2YcMFH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-nuErZz {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-IeJwC9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-IeJwC9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-80exHa {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginsmartlock .rectangle-POOGZJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-POOGZJ {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartlock .contents-ERIV4d {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartlock .group-2-copy-2-MxvOKd {
  height: 37px;
  top: 192px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-xCaDO6 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-6opuxA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-6opuxA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-8uL9Cx {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-6k5mte {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-6k5mte {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-xCaDO6 {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginsmartlock .rectangle-D65E0n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .contents-D65E0n {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartlock .group-2-copy-2-cLLztS {
  height: 59px;
  top: 239px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-359jg0 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-b4QrhG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-b4QrhG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-Ndxyeo {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-D53U3c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-D53U3c {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-359jg0 {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginsmartlock .rectangle-topxSL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .group-topxSL {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartlock .contents-ERSkDD {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartlock .table-guide-title-wrmEyw {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-FU6dFR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-title-text-FU6dFR {
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-title-AmNxEV {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginsmartlock .rectangle-LMVrX8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginsmartlock .table-title-text-LMVrX8 {
  width: 328px;
}

.tabletdevicepluginsmartlock .table-guide-title-IUxeU2 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-axGnka {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-title-text-axGnka {
  width: 38px;
}

.tabletdevicepluginsmartlock .group-5-copy-K4Wend {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-2-copy-tC7Bh0 {
  height: 37px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-BjRH4N {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-QxGIrc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-QxGIrc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-VyG3Dr {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-nDyCLF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-nDyCLF {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-BjRH4N {
  height: 31px;
}

.tabletdevicepluginsmartlock .rectangle-DEsVdb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .contents-DEsVdb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-8xygdN {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-wT7Hwx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginsmartlock .contents-wT7Hwx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginsmartlock .table-guide-text1line-KRxS3a {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-yVvt9k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginsmartlock .contents-yVvt9k {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m-8xygdN {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginsmartlock .rectangle-KMQXBq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginsmartlock .contents-KMQXBq {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginsmartlock .table-guide-title-WzGGFe {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginsmartlock .rectangle-PSXe08 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginsmartlock .table-title-text-PSXe08 {
  width: 258px;
}

.tabletdevicepluginsmartlock .table-guide-title-NYtVIz {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginsmartlock .rectangle-uDjIcS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginsmartlock .table-title-text-uDjIcS {
  width: 328px;
}

.tabletdevicepluginsmartlock .table-guide-title-0sASzz {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginsmartlock .rectangle-xK86ED {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginsmartlock .table-title-text-xK86ED {
  width: 38px;
}

.tabletdevicepluginsmartlock .web-sub_-title-K4Wend {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginsmartlock .sub-title-Ktxlsf {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginsmartlock .web-title-area-K4Wend {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .web-tabc2-c_-common-K4Wend {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .x3rd-depth-9YKVFm {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .tab-9YKVFm {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginsmartlock .smart-lock-8gRRqw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 67px;
}

.tabletdevicepluginsmartlock .lnb-service-feature-K4Wend {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .rectangle-DOZsf2 {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-DOZsf2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginsmartlock .home-net-gui-guidelin-DOZsf2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup4 .web-index-title-reference-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-QJAx6h {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-2TTRXV {
  width: 72px;
}

.stackedgroup4 .group-RfN8gY {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-Pulfru {
  bottom: 0px;
}

.stackedgroup4 .empty-Bt6eWj {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-4ACX9q {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-hPReiv {
  width: 81px;
}

.stackedgroup4 .group-copy-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-r1utqI {
  bottom: 0px;
}

.stackedgroup4 .empty-NBNy5e {
  top: 0px;
}

.stackedgroup4 .web-index-title-reference-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-4dRUzG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-P49jek {
  width: 136px;
}

.stackedgroup4 .group-copy-2-RfN8gY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .empty-copy-YUNPyn {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup4 .line-copy-2-YUNPyn {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup4 .empty-copy-2-YUNPyn {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-index-title-reference-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-7ZDJEG {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup4 .title-1Ld0uJ {
  width: 50px;
}

.stackedgroup4 .web-index-contents2dpeth-copy-3-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-jFE7xR {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x1-depth-title-0NXR70 {
  color: #252525;
  width: 67px;
}

.stackedgroup4 .button-Fp2x8X {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-2-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-oAs0rr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x1-depth-title-xtZnqw {
  color: #252525;
  width: 123px;
}

.stackedgroup4 .button-NWKJa1 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-LMEIZL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x1-depth-title-zT3t9Z {
  color: #252525;
  width: 106px;
}

.stackedgroup4 .button-hkLtsx {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-4-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-KmOZO1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .web-expanded-L6xLMA {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup4 .button-OR66A8 {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup4 .x1-depth-title-L6xLMA {
  color: #3695dd;
  width: 100px;
}

.stackedgroup4 .web-index-contents2dpeth-copy-16-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-fRx5oS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-UWYUBo {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-15-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-BN8myf {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-38RhPk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-14-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-NxLkCR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-tdWkq4 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-13-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-6uvsxc {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-QZU63y {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-12-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-QyE9Fi {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-7FgSZ9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-11-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-8D6BmW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-pAeipz {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-10-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-MPExel {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-CgUVxY {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-18-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-xbn9ED {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-8bFtWC {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-17-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-rDf5Fo {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-5jPnxa {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-19-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-ARZpyZ {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-HXcBSx {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup4 .web-index-contents2dpeth-copy-9-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-hnJIJr {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x2-death-title-EKxEgv {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup4 .web-index-contents2dpeth-copy-5-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-xx9jAH {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x1-depth-title-8MyDYH {
  color: #252525;
  width: 112px;
}

.stackedgroup4 .button-axBU79 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup4 .web-index-contents2dpeth-copy-6-RfN8gY {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup4 .group-geVBLX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup4 .x1-depth-title-DowPg5 {
  color: #252525;
  width: 106px;
}

.stackedgroup4 .button-JFGpGV {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicepluginsmartlock .webgnb-K4Wend {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .rectangle-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .background-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .index-1eaZeC {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginsmartlock .web-index-select-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginsmartlock .web-index-unselect-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginsmartlock .web-index-unelect_main-1eaZeC {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletdevicepluginsmartlock .logo-P9KMke {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup4 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginsmartlock .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginsmartlock .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginsmartlock .group-2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginsmartlock .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginsmartlock .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
