/* screen - tabletdevicepluginactivityhistory */

.tabletdevicepluginactivityhistory {
  background-color: var(--white);
  height: 1968px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .group-copy-QfiXYH {
  background-color: transparent;
  height: 580px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdevicepluginactivityhistory .group-QfiXYH {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginactivityhistory .group-5-QfiXYH {
  top: 1188px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-uZIbmf {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-hGTea6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-hGTea6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-JNMZQn {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-Hq9Q4E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-Hq9Q4E {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-uZIbmf {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginactivityhistory .rectangle-qwH0xA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .contents-qwH0xA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-X8LH8F {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-AMcrxx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-AMcrxx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-CLwNWF {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-BU9ogK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-BU9ogK {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-X8LH8F {
  height: 53px;
}

.tabletdevicepluginactivityhistory .rectangle-E1FWst {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-E1FWst {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .contents-E1FWst {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-EV5xsS {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-QDKahT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-QDKahT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-nJPcMm {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-qgREL3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-qgREL3 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-EV5xsS {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginactivityhistory .rectangle-ADylE4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-ADylE4 {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .contents-9C5Hfd {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-title-N8jouj {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-iBUCyI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-title-text-iBUCyI {
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-title-eAhhDJ {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .rectangle-98UuNg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginactivityhistory .table-title-text-98UuNg {
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-title-75D1Wb {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-C0j5gr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-title-text-C0j5gr {
  width: 38px;
}

.tabletdevicepluginactivityhistory .group-5-Cd5jUu {
  top: 342px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-vKYVJl {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-qyeRGl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-qyeRGl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-oUppSY {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-zzcZTT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-zzcZTT {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-vKYVJl {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginactivityhistory .rectangle-qjszEZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .contents-qjszEZ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-51AcQI {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-F4XB61 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-F4XB61 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-iRadsB {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-yUfbkQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-yUfbkQ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-51AcQI {
  height: 53px;
}

.tabletdevicepluginactivityhistory .rectangle-m5hLnM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-m5hLnM {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .contents-m5hLnM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-q0Wl35 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-Mh06hw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginactivityhistory .contents-Mh06hw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginactivityhistory .table-guide-text1line-wcgyRF {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-AICip9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginactivityhistory .contents-AICip9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m-q0Wl35 {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginactivityhistory .rectangle-Wy35Px {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginactivityhistory .group-Wy35Px {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginactivityhistory .contents-YTfxF4 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-title-MjEhLg {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginactivityhistory .rectangle-xGpxgb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginactivityhistory .table-title-text-xGpxgb {
  width: 258px;
}

.tabletdevicepluginactivityhistory .table-guide-title-e6SqDu {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginactivityhistory .rectangle-f1an3Q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginactivityhistory .table-title-text-f1an3Q {
  width: 328px;
}

.tabletdevicepluginactivityhistory .table-guide-title-1wiLsb {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginactivityhistory .rectangle-cEeWPu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginactivityhistory .table-title-text-cEeWPu {
  width: 38px;
}

.tabletdevicepluginactivityhistory .web-sub_-title-QfiXYH {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginactivityhistory .sub-title-JQ6Zpo {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginactivityhistory .web-title-area-QfiXYH {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .web-tabc2-c_-common-QfiXYH {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .x3rd-depth-CamofG {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginactivityhistory .tab-CamofG {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginactivityhistory .keyscreen-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.tabletdevicepluginactivityhistory .time-routine_-power-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 158px;
}

.tabletdevicepluginactivityhistory .time-routine_-timer-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.tabletdevicepluginactivityhistory .activity-history-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.tabletdevicepluginactivityhistory .edit-BGBqBS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.tabletdevicepluginactivityhistory .lnb-service-feature-QfiXYH {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginactivityhistory .rectangle-YbmPE9 {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginactivityhistory .line-YbmPE9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginactivityhistory .home-net-gui-guidelin-YbmPE9 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup12 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup12 .web-index-title-reference-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-xruup6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-lxKcVC {
  width: 72px;
}

.stackedgroup12 .group-Wu9aHG {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-cI2Xkp {
  bottom: 0px;
}

.stackedgroup12 .empty-Lc5deE {
  top: 0px;
}

.stackedgroup12 .web-index-title-reference-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-NxOaEx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-hn1w3Q {
  width: 81px;
}

.stackedgroup12 .group-copy-Wu9aHG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-xRGKFn {
  bottom: 0px;
}

.stackedgroup12 .empty-TNVLWF {
  top: 0px;
}

.stackedgroup12 .web-index-title-reference-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-8pAEvx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-wFSXko {
  width: 136px;
}

.stackedgroup12 .group-copy-2-Wu9aHG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .empty-copy-2rfmdh {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup12 .line-copy-2-2rfmdh {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup12 .empty-copy-2-2rfmdh {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-index-title-reference-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-252yOU {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup12 .title-7YmqWj {
  width: 50px;
}

.stackedgroup12 .web-index-contents2dpeth-copy-3-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-u6J6Vv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x1-depth-title-lTv7gx {
  color: #252525;
  width: 67px;
}

.stackedgroup12 .button-GXAxA5 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-2-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Xrga8e {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x1-depth-title-WBBIDK {
  color: #252525;
  width: 123px;
}

.stackedgroup12 .button-4xkGdx {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-UxNTOP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x1-depth-title-DpRJpd {
  color: #252525;
  width: 106px;
}

.stackedgroup12 .button-RvdKGv {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-4-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-rOVfZ9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .web-expanded-e33AFA {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup12 .button-QEEotk {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup12 .x1-depth-title-e33AFA {
  color: #3695dd;
  width: 100px;
}

.stackedgroup12 .web-index-contents2dpeth-copy-16-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-yDmfgy {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-0LVsBZ {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup12 .web-index-contents2dpeth-copy-15-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-E0mwl1 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-kw5xQk {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-14-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-ieuoFx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-lG4p1x {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-13-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-rbbk4T {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-VxkwZP {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-12-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-ARRNtN {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-4srM4F {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-11-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-nQClMa {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-ikMbVp {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-10-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Tve2yv {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-EtSlx5 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-18-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-FzNQri {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-jDSYb9 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-17-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-Hi43je {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-dm54Kv {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-19-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-RbxZmR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-ov7hpf {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-9-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-lkBEGM {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x2-death-title-qItejW {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup12 .web-index-contents2dpeth-copy-5-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-l3Jse7 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x1-depth-title-QS6CIz {
  color: #252525;
  width: 112px;
}

.stackedgroup12 .button-oOJmbx {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup12 .web-index-contents2dpeth-copy-6-Wu9aHG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup12 .group-v9jnjv {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup12 .x1-depth-title-SmsZjt {
  color: #252525;
  width: 106px;
}

.stackedgroup12 .button-J8UOIB {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicepluginactivityhistory .webgnb-QfiXYH {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .rectangle-R2cIVK {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .background-R2cIVK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginactivityhistory .index-R2cIVK {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginactivityhistory .web-index-select-EoHu8o {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginactivityhistory .web-index-unselect-EoHu8o {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginactivityhistory .web-index-unelect_main-R2cIVK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletdevicepluginactivityhistory .logo-tbTYEp {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup12 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginactivityhistory .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginactivityhistory .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginactivityhistory .group-2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-2-copy {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-2-copy-2 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.tabletdevicepluginactivityhistory .group-5 {
  background-color: transparent;
  height: 249px;
  left: 1140px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginactivityhistory .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
