/* screen - tabletdevicepluginthermostat */

.tabletdevicepluginthermostat {
  background-color: var(--white);
  height: 1944px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginthermostat .group-ziWT1O {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdevicepluginthermostat .group-copy-ziWT1O {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletdevicepluginthermostat .group-5-ziWT1O {
  background-color: transparent;
  height: 298px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdevicepluginthermostat .table-guide-text1line-xHvGH1 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-Y5qBiG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-Y5qBiG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-O5ABYT {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-xrzfB5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-xrzfB5 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-xHvGH1 {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginthermostat .rectangle-RJkiiW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .contents-RJkiiW {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginthermostat .group-2-copy-24ZRtx {
  height: 59px;
}

.tabletdevicepluginthermostat .table-guide-text1line-L7d4I1 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-NHphmx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-NHphmx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-NHxi3z {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-8oOiME {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-8oOiME {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-L7d4I1 {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginthermostat .rectangle-Tk1OK6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .group-Tk1OK6 {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginthermostat .contents-qpxXDA {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginthermostat .group-2-copy-2-24ZRtx {
  height: 37px;
  top: 192px;
}

.tabletdevicepluginthermostat .table-guide-text1line-Fn4xn1 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-q7JGNx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-q7JGNx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-I505eH {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-hiSkq0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-hiSkq0 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-Fn4xn1 {
  cursor: pointer;
  height: 31px;
}

.tabletdevicepluginthermostat .rectangle-ldEijz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .contents-ldEijz {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginthermostat .group-2-copy-2-eVCxvk {
  height: 59px;
  top: 239px;
}

.tabletdevicepluginthermostat .table-guide-text1line-o0DWlP {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-YSbOrs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-YSbOrs {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-QufVUK {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-N8UzhE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-N8UzhE {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-o0DWlP {
  cursor: pointer;
  height: 53px;
}

.tabletdevicepluginthermostat .rectangle-LdJUEG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .group-LdJUEG {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginthermostat .contents-eQSlJF {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginthermostat .descriptiontabletop-24ZRtx {
  height: 38px;
}

.tabletdevicepluginthermostat .table-guide-title-SFHvRC {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-wyNzwU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdevicepluginthermostat .table-title-text-wyNzwU {
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-title-y2VoYH {
  left: 60px;
  width: 340px;
}

.tabletdevicepluginthermostat .rectangle-HjTnUD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdevicepluginthermostat .table-title-text-HjTnUD {
  width: 328px;
}

.tabletdevicepluginthermostat .table-guide-title-UThvvn {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-l2tf88 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdevicepluginthermostat .table-title-text-l2tf88 {
  width: 38px;
}

.tabletdevicepluginthermostat .group-5-copy-ziWT1O {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletdevicepluginthermostat .group-2-copy-mdHnUW {
  height: 37px;
}

.tabletdevicepluginthermostat .table-guide-text1line-RZe4F6 {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-tgPM39 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-tgPM39 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-OXQxbg {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-yzNJEI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-yzNJEI {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-RZe4F6 {
  height: 31px;
}

.tabletdevicepluginthermostat .rectangle-Wi0SYS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .contents-Wi0SYS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdevicepluginthermostat .table-guide-text1line-YTX2dS {
  left: 0px;
  width: 50px;
}

.tabletdevicepluginthermostat .rectangle-PI0CqJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdevicepluginthermostat .contents-PI0CqJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdevicepluginthermostat .table-guide-text1line-oOlw9t {
  left: 410px;
  width: 270px;
}

.tabletdevicepluginthermostat .rectangle-YjmeyO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdevicepluginthermostat .contents-YjmeyO {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m-YTX2dS {
  cursor: pointer;
  height: 51px;
}

.tabletdevicepluginthermostat .rectangle-yGuhbE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdevicepluginthermostat .contents-yGuhbE {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdevicepluginthermostat .descriptiontabletop-mdHnUW {
  height: 56px;
}

.tabletdevicepluginthermostat .web-sub_-title-ziWT1O {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdevicepluginthermostat .sub-title-GDOnc8 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdevicepluginthermostat .web-title-area-ziWT1O {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginthermostat .web-tabc2-c_-common-ziWT1O {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginthermostat .x3rd-depth-kiYWuu {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginthermostat .tab-kiYWuu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdevicepluginthermostat .thermostat-YYpaDL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.tabletdevicepluginthermostat .lnb-service-feature-ziWT1O {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginthermostat .rectangle-Aosvys {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdevicepluginthermostat .line-Aosvys {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginthermostat .home-net-gui-guidelin-Aosvys {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup13 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup13 .web-index-title-reference-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-qTNEk3 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-5pVMLi {
  width: 72px;
}

.stackedgroup13 .group-RPtMOJ {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-j7H5Yb {
  bottom: 0px;
}

.stackedgroup13 .empty-sonNDN {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-wk5Oug {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-z7Vwuq {
  width: 81px;
}

.stackedgroup13 .group-copy-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-GQXU62 {
  bottom: 0px;
}

.stackedgroup13 .empty-KRY9FR {
  top: 0px;
}

.stackedgroup13 .web-index-title-reference-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-gTn2FY {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-65pg3l {
  width: 136px;
}

.stackedgroup13 .group-copy-2-RPtMOJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .empty-copy-PE08ay {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup13 .line-copy-2-PE08ay {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup13 .empty-copy-2-PE08ay {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-index-title-reference-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-CexCxK {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup13 .title-OLoex9 {
  width: 50px;
}

.stackedgroup13 .web-index-contents2dpeth-copy-3-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-xk2Pbt {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x1-depth-title-DRKhOo {
  color: #252525;
  width: 67px;
}

.stackedgroup13 .button-2yXyZT {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-2-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-cfFACP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x1-depth-title-axxJLI {
  color: #252525;
  width: 123px;
}

.stackedgroup13 .button-IqmI8A {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-Yyh8dH {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x1-depth-title-gzp9xn {
  color: #252525;
  width: 106px;
}

.stackedgroup13 .button-DJrJSA {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-4-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-D1CHdS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .web-expanded-jz1Rh3 {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup13 .button-FIv6An {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup13 .x1-depth-title-jz1Rh3 {
  color: #3695dd;
  width: 100px;
}

.stackedgroup13 .web-index-contents2dpeth-copy-16-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-vGZMFw {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-nkxZMh {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-15-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-lQqrM2 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-HV8T2S {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-14-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-hkxNa6 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-dIZRxe {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-13-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-IzL1dR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-CP4g3L {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-12-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-DRXR9F {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-jQA0JQ {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup13 .web-index-contents2dpeth-copy-11-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-1giEPL {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-oxesKQ {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-10-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-70bIfI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-1DmsFH {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-18-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-pFyzJE {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-MxIeM3 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-17-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-jsMmXI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-lrkJpx {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-19-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-SSWsgW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-a3XRHO {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-9-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-2FenpR {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x2-death-title-xbyaua {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup13 .web-index-contents2dpeth-copy-5-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-VowxNt {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x1-depth-title-jrClbo {
  color: #252525;
  width: 112px;
}

.stackedgroup13 .button-yLYiMR {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup13 .web-index-contents2dpeth-copy-6-RPtMOJ {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup13 .group-7plxCX {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup13 .x1-depth-title-fIYK9l {
  color: #252525;
  width: 106px;
}

.stackedgroup13 .button-lgMrNn {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdevicepluginthermostat .webgnb-ziWT1O {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginthermostat .rectangle-lAgkAQ {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdevicepluginthermostat .background-lAgkAQ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginthermostat .index-lAgkAQ {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdevicepluginthermostat .web-index-select-DN1cM8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginthermostat .web-index-unselect-DN1cM8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdevicepluginthermostat .web-index-unelect_main-lAgkAQ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletdevicepluginthermostat .logo-f40sOS {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup13 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdevicepluginthermostat .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdevicepluginthermostat .descriptiontabletop {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdevicepluginthermostat .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdevicepluginthermostat .group-2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdevicepluginthermostat .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdevicepluginthermostat .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdevicepluginthermostat .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
