/* screen - tabletdeviceplugingasvalve */

.tabletdeviceplugingasvalve {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugingasvalve .group-copy-ZHIXtb {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletdeviceplugingasvalve .group-ZHIXtb {
  height: 696px;
  left: 420px;
  top: 342px;
  width: 670px;
}

.tabletdeviceplugingasvalve .group-5-copy-ZHIXtb {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy-QMM0C8 {
  height: 37px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IZhvy0 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-XN8oRy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-XN8oRy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-V28CxM {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-GZ2470 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-GZ2470 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IZhvy0 {
  height: 31px;
}

.tabletdeviceplugingasvalve .rectangle-CxNrGJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-CxNrGJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-SI0Ci2 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-cobqeL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-cobqeL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-E9mIvU {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-R9x7tU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-R9x7tU {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-SI0Ci2 {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugingasvalve .rectangle-wKzdvT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-wKzdvT {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-KK03Tz {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-7yNMrU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-title-text-7yNMrU {
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-title-e4axpk {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugingasvalve .rectangle-vlsotG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugingasvalve .table-title-text-vlsotG {
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-YeUPT7 {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-BF0dSq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-title-text-BF0dSq {
  width: 38px;
}

.tabletdeviceplugingasvalve .group-5-ZHIXtb {
  background-color: transparent;
  height: 296px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-IM0wjU {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-YHz79v {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-YHz79v {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-8qlxfS {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-A6eSWe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-A6eSWe {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-IM0wjU {
  cursor: pointer;
  height: 51px;
}

.tabletdeviceplugingasvalve .rectangle-MdSjth {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-MdSjth {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-xEJ0pj {
  cursor: pointer;
  height: 59px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-VDExBx {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-lx0GbF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-lx0GbF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-zYxCvT {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-cvXvGt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-cvXvGt {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-VDExBx {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugingasvalve .rectangle-PeWuhu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-PeWuhu {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .contents-7urEG4 {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xEJ0pj {
  cursor: pointer;
  height: 37px;
  top: 190px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-M1WfqS {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-HHApMI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-HHApMI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-1XnKyA {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-5stmpy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-5stmpy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-M1WfqS {
  cursor: pointer;
  height: 31px;
}

.tabletdeviceplugingasvalve .rectangle-0Gt8EA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .contents-0Gt8EA {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .group-2-copy-2-xudVkG {
  height: 59px;
  top: 237px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-2mQ2Cp {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-MhmdK0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletdeviceplugingasvalve .contents-MhmdK0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletdeviceplugingasvalve .table-guide-text1line-woxicx {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-MT4HZW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletdeviceplugingasvalve .contents-MT4HZW {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m-2mQ2Cp {
  cursor: pointer;
  height: 53px;
}

.tabletdeviceplugingasvalve .rectangle-YgI0zO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletdeviceplugingasvalve .group-YgI0zO {
  height: 42px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.tabletdeviceplugingasvalve .contents-BMpT0x {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-I9iWMh {
  left: 410px;
  width: 270px;
}

.tabletdeviceplugingasvalve .rectangle-6MkF7G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletdeviceplugingasvalve .table-title-text-6MkF7G {
  width: 258px;
}

.tabletdeviceplugingasvalve .table-guide-title-99RStU {
  left: 60px;
  width: 340px;
}

.tabletdeviceplugingasvalve .rectangle-wMSg4z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletdeviceplugingasvalve .table-title-text-wMSg4z {
  width: 328px;
}

.tabletdeviceplugingasvalve .table-guide-title-5sbg7O {
  left: 0px;
  width: 50px;
}

.tabletdeviceplugingasvalve .rectangle-DlP5ql {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletdeviceplugingasvalve .table-title-text-DlP5ql {
  width: 38px;
}

.tabletdeviceplugingasvalve .web-sub_-title-ZHIXtb {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletdeviceplugingasvalve .sub-title-5WWqSj {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletdeviceplugingasvalve .web-title-area-ZHIXtb {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .web-tabc2-c_-common-ZHIXtb {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .x3rd-depth-U6J7B2 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .tab-U6J7B2 {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 113px;
  position: absolute;
  top: 0px;
  width: auto;
}

.tabletdeviceplugingasvalve .status-type-copy-9FknRS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 71px;
}

.tabletdeviceplugingasvalve .controller-type-9FknRS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.tabletdeviceplugingasvalve .lnb-service-feature-ZHIXtb {
  background-color: transparent;
  height: 1259px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .rectangle-NoB4hZ {
  background-color: var(--concrete);
  height: 1259px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-NoB4hZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugingasvalve .home-net-gui-guidelin-NoB4hZ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup2 .web-index-title-reference-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jB1zcn {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-SDxNkY {
  width: 72px;
}

.stackedgroup2 .group-EHSxTt {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-xwsxPD {
  bottom: 0px;
}

.stackedgroup2 .empty-ijbXHj {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-eSVtpN {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-xRU6yc {
  width: 81px;
}

.stackedgroup2 .group-copy-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-K690TO {
  bottom: 0px;
}

.stackedgroup2 .empty-6Nhabs {
  top: 0px;
}

.stackedgroup2 .web-index-title-reference-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-WVVLw6 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-s5zU3L {
  width: 136px;
}

.stackedgroup2 .group-copy-2-EHSxTt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .empty-copy-NA9zcN {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup2 .line-copy-2-NA9zcN {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup2 .empty-copy-2-NA9zcN {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-index-title-reference-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-024gcf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup2 .title-R2QxRW {
  width: 50px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-3-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jDGOcL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-DUfan6 {
  color: #252525;
  width: 67px;
}

.stackedgroup2 .button-bTuaPn {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-2-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-KU2Pod {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-lzsewO {
  color: #252525;
  width: 123px;
}

.stackedgroup2 .button-hitnix {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-tF2mwu {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-rIEwp3 {
  color: #252525;
  width: 106px;
}

.stackedgroup2 .button-4xOYm2 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-4-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-x83ktd {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .web-expanded-Pd66Wl {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup2 .button-RlXGx0 {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup2 .x1-depth-title-Pd66Wl {
  color: #3695dd;
  width: 100px;
}

.stackedgroup2 .web-index-contents2dpeth-copy-16-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-bxqjV9 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-fIxxNm {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-15-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-AdANH7 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-h01sRs {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup2 .web-index-contents2dpeth-copy-14-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-Gkn2EI {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-mGMYy6 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-13-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-8cQliM {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-9eD3UK {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-12-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-gO9MWt {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-aocFic {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-11-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-6nALEx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-xMEWlG {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-10-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-s2rHEe {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-HkEj8A {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-18-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-kjAcOx {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-bmQRqe {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-17-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-KUHOlW {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-NtHnHH {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-19-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-jZJths {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-OCzl2i {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-9-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-DBGLDT {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x2-death-title-T34b5x {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup2 .web-index-contents2dpeth-copy-5-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-xH7yi1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-oEMUpY {
  color: #252525;
  width: 112px;
}

.stackedgroup2 .button-344CmJ {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup2 .web-index-contents2dpeth-copy-6-EHSxTt {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup2 .group-ItG2x0 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup2 .x1-depth-title-OnxPAH {
  color: #252525;
  width: 106px;
}

.stackedgroup2 .button-azxxQd {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletdeviceplugingasvalve .webgnb-ZHIXtb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .rectangle-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .background-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .index-QI5Wv6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletdeviceplugingasvalve .web-index-select-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalve .web-index-unselect-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletdeviceplugingasvalve .web-index-unelect_main-QI5Wv6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletdeviceplugingasvalve .logo-BLrMko {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup2 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}

.tabletdeviceplugingasvalve .contents {
  background-color: transparent;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletdeviceplugingasvalve .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-1 {
  background-color: transparent;
  position: absolute;
}

.tabletdeviceplugingasvalve .group-2 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletdeviceplugingasvalve .group-2-copy-2 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletdeviceplugingasvalve .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
