/* screen - deviceplugindevicepluginactivityhistory */

.deviceplugindevicepluginactivityhistory {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1463px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugindevicepluginactivityhistory .group-4-zvxwjV {
  background-color: transparent;
  height: 921px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugindevicepluginactivityhistory .group-copy-zvxwjV {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugindevicepluginactivityhistory .group-2-vCZjAb {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugindevicepluginactivityhistory .table-guide-text1line-5nyPbN {
  left: 0px;
  width: 50px;
}

.deviceplugindevicepluginactivityhistory .rectangle-6YbT2p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugindevicepluginactivityhistory .contents-6YbT2p {
  width: 38px;
}

.deviceplugindevicepluginactivityhistory .table-guide-text1line-tV7sxa {
  left: 410px;
  width: 270px;
}

.deviceplugindevicepluginactivityhistory .rectangle-rn7few {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugindevicepluginactivityhistory .contents-rn7few {
  width: 258px;
}

.deviceplugindevicepluginactivityhistory .table-guide-text2line_m-5nyPbN {
  background-color: transparent;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugindevicepluginactivityhistory .rectangle-XSA4lK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugindevicepluginactivityhistory .group-XSA4lK {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugindevicepluginactivityhistory .content-H0LQli {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.deviceplugindevicepluginactivityhistory .title-H0LQli {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugindevicepluginactivityhistory .descriptiontabletop-vCZjAb {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugindevicepluginactivityhistory .table-guide-title-IdJNNx {
  left: 410px;
  width: 270px;
}

.deviceplugindevicepluginactivityhistory .rectangle-vUyxZ0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugindevicepluginactivityhistory .table-title-text-vUyxZ0 {
  width: 258px;
}

.deviceplugindevicepluginactivityhistory .table-guide-title-4dJwPe {
  left: 60px;
  width: 340px;
}

.deviceplugindevicepluginactivityhistory .rectangle-3CV0lb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugindevicepluginactivityhistory .table-title-text-3CV0lb {
  width: 328px;
}

.deviceplugindevicepluginactivityhistory .table-guide-title-zgESxw {
  left: 0px;
  width: 50px;
}

.deviceplugindevicepluginactivityhistory .rectangle-kYJ3Kn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugindevicepluginactivityhistory .table-title-text-kYJ3Kn {
  width: 38px;
}

.deviceplugindevicepluginactivityhistory .web-sub_-title-zvxwjV {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.deviceplugindevicepluginactivityhistory .sub-title-lhnrWN {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 163px;
}

.deviceplugindevicepluginactivityhistory .web-title-area-zvxwjV {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugindevicepluginactivityhistory .web-tab-device-plug-zvxwjV {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugindevicepluginactivityhistory .x3rd-depth-sJjg2F {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugindevicepluginactivityhistory .tab-z36PFh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugindevicepluginactivityhistory .keyscreen-VagrFb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 64px;
}

.deviceplugindevicepluginactivityhistory .time-routine-VagrFb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.deviceplugindevicepluginactivityhistory .activity-history-VagrFb {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.deviceplugindevicepluginactivityhistory .lnb-device-plug-in-zvxwjV {
  background-color: transparent;
  height: 1305px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .rectangle-HI0L1e {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .background-HI0L1e {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .stacked-group-HI0L1e {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .web-index-title-common-sIqYMt {
  margin: 0;
}

.deviceplugindevicepluginactivityhistory .group-copy-sIqYMt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .empty-y8txxK {
  top: 21px;
}

.deviceplugindevicepluginactivityhistory .empty-46CwY1 {
  top: 0px;
}

.deviceplugindevicepluginactivityhistory .web-index-title-common-copy-sIqYMt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .web-index-contents1dpeth_open_selected-sIqYMt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .group-sIqYMt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .empty-xs37zE {
  top: 21px;
}

.deviceplugindevicepluginactivityhistory .empty-aBXf0p {
  top: 0px;
}

.deviceplugindevicepluginactivityhistory .web-index-title-common-kqszCd {
  margin: 0px 0 0 0;
}

.deviceplugindevicepluginactivityhistory .group-copy-2-sIqYMt {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .empty-YfHWOc {
  top: 21px;
}

.deviceplugindevicepluginactivityhistory .empty-2Zs3ug {
  top: 0px;
}

.deviceplugindevicepluginactivityhistory .web-index-title-common-copy-2-sIqYMt {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugindevicepluginactivityhistory .line-HI0L1e {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugindevicepluginactivityhistory .home-net-gui-guidelin-HI0L1e {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugindevicepluginactivityhistory .webgnb-zvxwjV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugindevicepluginactivityhistory .rectangle-YJxbIm {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugindevicepluginactivityhistory .background-YJxbIm {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugindevicepluginactivityhistory .index-YJxbIm {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugindevicepluginactivityhistory .web-index-select-IVRWxy {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugindevicepluginactivityhistory .web-index-unselect-IVRWxy {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugindevicepluginactivityhistory .web-index-unelect_main-YJxbIm {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.deviceplugindevicepluginactivityhistory .logo-XI5xj2 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.deviceplugindevicepluginactivityhistory .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.deviceplugindevicepluginactivityhistory .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}

.deviceplugindevicepluginactivityhistory .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}
