/* screen - devicepluginairconditioneroptionoff */

.devicepluginairconditioneroptionoff {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2385px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginairconditioneroptionoff .group-CrOYB9 {
  background-color: transparent;
  height: 1525px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.devicepluginairconditioneroptionoff .web-sub_-title-CrOYB9 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.devicepluginairconditioneroptionoff .sub-title-WNcicS {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 132px;
}

.devicepluginairconditioneroptionoff .web-title-area-CrOYB9 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginairconditioneroptionoff .web-tab-device-plug-CrOYB9 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginairconditioneroptionoff .x3rd-depth-XNNtjd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginairconditioneroptionoff .tab-b7ECqN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginairconditioneroptionoff .option-_-on-5aRq5p {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 75px;
}

.devicepluginairconditioneroptionoff .option-_-off-5aRq5p {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.devicepluginairconditioneroptionoff .lnb-device-plug-in-CrOYB9 {
  background-color: transparent;
  height: 1305px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginairconditioneroptionoff .rectangle-7jscZ6 {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.devicepluginairconditioneroptionoff .background-7jscZ6 {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.devicepluginairconditioneroptionoff .stacked-group-7jscZ6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicepluginairconditioneroptionoff .web-index-title-common-Uuz1yY {
  margin: 0;
}

.devicepluginairconditioneroptionoff .group-copy-Uuz1yY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .empty-SZctMX {
  top: 21px;
}

.devicepluginairconditioneroptionoff .empty-611aUh {
  top: 0px;
}

.devicepluginairconditioneroptionoff .web-index-title-common-copy-Uuz1yY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .web-index-contents1dpeth_open_selected-Uuz1yY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .group-Uuz1yY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .empty-1vGcVj {
  top: 21px;
}

.devicepluginairconditioneroptionoff .empty-6xarCx {
  top: 0px;
}

.devicepluginairconditioneroptionoff .web-index-title-common-2BgFzC {
  margin: 0px 0 0 0;
}

.devicepluginairconditioneroptionoff .group-copy-2-Uuz1yY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .empty-HHrIhj {
  top: 21px;
}

.devicepluginairconditioneroptionoff .empty-xRAfvZ {
  top: 0px;
}

.devicepluginairconditioneroptionoff .web-index-title-common-copy-2-Uuz1yY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginairconditioneroptionoff .line-7jscZ6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginairconditioneroptionoff .home-net-gui-guidelin-7jscZ6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicepluginairconditioneroptionoff .webgnb-CrOYB9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginairconditioneroptionoff .rectangle-nG1WbG {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicepluginairconditioneroptionoff .background-nG1WbG {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicepluginairconditioneroptionoff .index-nG1WbG {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicepluginairconditioneroptionoff .web-index-select-nx0GHs {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicepluginairconditioneroptionoff .web-index-unselect-nx0GHs {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginairconditioneroptionoff .web-index-unelect_main-nG1WbG {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.devicepluginairconditioneroptionoff .logo-raDkAD {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.devicepluginairconditioneroptionoff .group-7-copy-CrOYB9 {
  background-color: transparent;
  height: 218px;
  left: 420px;
  position: absolute;
  top: 1967px;
  width: 670px;
}

.devicepluginairconditioneroptionoff .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}
