/* screen - deviceplugincurtainpartiallyopencase */

.deviceplugincurtainpartiallyopencase {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2539px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.deviceplugincurtainpartiallyopencase .group-3-copy-iUbVTR {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1701px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .styletabletop-62BX13 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-Uy9BQ7 {
  left: 552px;
  width: 128px;
}

.deviceplugincurtainpartiallyopencase .rectangle-zbDfpf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-zbDfpf {
  width: 116px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-CS9Hp1 {
  left: 60px;
  width: 166px;
}

.deviceplugincurtainpartiallyopencase .rectangle-ihx90L {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-ihx90L {
  width: 154px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-cx2qwm {
  left: 236px;
  width: 106px;
}

.deviceplugincurtainpartiallyopencase .rectangle-6CRL7x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-6CRL7x {
  width: 94px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-k6nuIZ {
  left: 352px;
  width: 190px;
}

.deviceplugincurtainpartiallyopencase .rectangle-dKPBOp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-dKPBOp {
  width: 178px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-AoiZOg {
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-5Q7TFw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-5Q7TFw {
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .styletable1line_-color-62BX13 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-pKvvyo {
  height: 31px;
  left: 551px;
  width: 129px;
}

.deviceplugincurtainpartiallyopencase .rectangle-hYK2YL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.deviceplugincurtainpartiallyopencase .contents-hYK2YL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 117px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-t0f98H {
  height: 31px;
  left: 60px;
  width: 166px;
}

.deviceplugincurtainpartiallyopencase .rectangle-GTDWHx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.deviceplugincurtainpartiallyopencase .contents-GTDWHx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-CDqRB2 {
  height: 31px;
  left: 236px;
  width: 106px;
}

.deviceplugincurtainpartiallyopencase .rectangle-VyJiV8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.deviceplugincurtainpartiallyopencase .contents-VyJiV8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 94px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line-pKvvyo {
  background-color: transparent;
  height: 31px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.deviceplugincurtainpartiallyopencase .rectangle-DDxMvN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.deviceplugincurtainpartiallyopencase .contents-DDxMvN {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-VjHYli {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-nepRy4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-nepRy4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .group-copy-2-iUbVTR {
  background-color: transparent;
  height: 293px;
  left: 1140px;
  position: absolute;
  top: 1308px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-viLxHs {
  height: 128px;
  top: 56px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-RWpJEM {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-GjZHsc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-GjZHsc {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-7FO6xJ {
  height: 73px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-DV8Yxb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .group-DV8Yxb {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .content-h8sAa4 {
  color: var(--black);
  height: 40px;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .title-h8sAa4 {
  color: var(--science-blue);
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-RWpJEM {
  cursor: pointer;
  height: 53px;
}

.deviceplugincurtainpartiallyopencase .rectangle-YUMp3I {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-YUMp3I {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .content-9jtzmd {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .title-9jtzmd {
  color: var(--persian-green);
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-copy-RWpJEM {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 69px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .rectangle-geaDwx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-geaDwx {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .content-JPot5W {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .title-JPot5W {
  color: var(--persian-green);
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-1t0xWj {
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-5ddLKx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-5ddLKx {
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-5nxO03 {
  left: 60px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .rectangle-PkExtV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-PkExtV {
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-FlvyoV {
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-7HEeXS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-7HEeXS {
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-3-viLxHs {
  height: 99px;
  top: 194px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-EDq6G9 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-s3b9Ko {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-s3b9Ko {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-xTVbfr {
  height: 53px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-V8XSHz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .group-V8XSHz {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .content-fQ3HlU {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .title-fQ3HlU {
  color: var(--science-blue);
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-EDq6G9 {
  height: 53px;
}

.deviceplugincurtainpartiallyopencase .rectangle-rXkMWv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .group-rXkMWv {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .content-5YqleW {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .title-5YqleW {
  color: var(--persian-green);
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-8-EDq6G9 {
  background-color: transparent;
  height: 40px;
  left: 60px;
  position: absolute;
  top: 59px;
  width: 40px;
}

.deviceplugincurtainpartiallyopencase .group-6-EDq6G9 {
  background-color: transparent;
  height: 40px;
  left: 110px;
  position: absolute;
  top: 59px;
  width: 40px;
}

.deviceplugincurtainpartiallyopencase .group-10-iUbVTR {
  background-color: transparent;
  height: 816px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.deviceplugincurtainpartiallyopencase .group-3-iUbVTR {
  background-color: transparent;
  height: 257px;
  left: 390px;
  position: absolute;
  top: 1714px;
  width: 451px;
}

.deviceplugincurtainpartiallyopencase .group-7-iUbVTR {
  background-color: transparent;
  height: 256px;
  left: 380px;
  position: absolute;
  top: 1308px;
  width: 710px;
}

.deviceplugincurtainpartiallyopencase .group-4-iUbVTR {
  background-color: transparent;
  height: 218px;
  left: 400px;
  position: absolute;
  top: 2121px;
  width: 356px;
}

.deviceplugincurtainpartiallyopencase .group-copy-iUbVTR {
  background-color: transparent;
  height: 321px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-qEEOjJ {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-mzdDPz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-mzdDPz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-C8BINe {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-8PNRQt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-8PNRQt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-qEEOjJ {
  height: 31px;
}

.deviceplugincurtainpartiallyopencase .rectangle-wiKQsc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-wiKQsc {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-fEW4CG {
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-HRmlyA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-HRmlyA {
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-2PBULZ {
  left: 60px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .rectangle-30ct6f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-30ct6f {
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-xMXJ4d {
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-oDTkey {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-oDTkey {
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-kxHhyI {
  height: 37px;
  top: 103px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-GqKrBY {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-4yrpIT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-4yrpIT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-yX9dcH {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-KbxQtr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-KbxQtr {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-GqKrBY {
  cursor: pointer;
  height: 31px;
}

.deviceplugincurtainpartiallyopencase .rectangle-zfMCbt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-zfMCbt {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-3-kxHhyI {
  height: 57px;
  top: 150px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-xlFOx4 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-FSJoZw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-FSJoZw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-5DgVwn {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-6ioxYO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-6ioxYO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-xlFOx4 {
  cursor: pointer;
  height: 51px;
}

.deviceplugincurtainpartiallyopencase .rectangle-q3elde {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-q3elde {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-4-kxHhyI {
  height: 37px;
  top: 217px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-EqwHdz {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-RCL9MK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-RCL9MK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-3LYbxx {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-7jgsau {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-7jgsau {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-EqwHdz {
  cursor: pointer;
  height: 31px;
}

.deviceplugincurtainpartiallyopencase .rectangle-TJV8sN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-TJV8sN {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-5-kxHhyI {
  height: 57px;
  top: 264px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-ffl2N9 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-5w58yb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-5w58yb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-e0SpNx {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-xSugHQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-xSugHQ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-ffl2N9 {
  cursor: pointer;
  height: 51px;
}

.deviceplugincurtainpartiallyopencase .rectangle-P3dYSX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-P3dYSX {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-copy-3-iUbVTR {
  background-color: transparent;
  height: 207px;
  left: 1140px;
  position: absolute;
  top: 2121px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-KBfCBd {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-owiOwz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-owiOwz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-Y16Vx4 {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-JDVH2r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-JDVH2r {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-KBfCBd {
  height: 31px;
}

.deviceplugincurtainpartiallyopencase .rectangle-NDc7O5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-NDc7O5 {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-4-xo6mPG {
  height: 57px;
  top: 103px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-n8FVxQ {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-q2BXXo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-q2BXXo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-5P5lOO {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-9AHnGL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-9AHnGL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-n8FVxQ {
  cursor: pointer;
  height: 51px;
}

.deviceplugincurtainpartiallyopencase .rectangle-OkKdIG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-OkKdIG {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-t92sxO {
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-PXg2er {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-PXg2er {
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-6ctEUu {
  left: 60px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .rectangle-K7mvRp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-K7mvRp {
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .table-guide-title-Xqtp47 {
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-u1lmO2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .table-title-text-u1lmO2 {
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-5-xo6mPG {
  height: 37px;
  top: 170px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-IsY09T {
  height: 31px;
  left: 0px;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .rectangle-MGpDMn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.deviceplugincurtainpartiallyopencase .contents-MGpDMn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line-vyKmW8 {
  height: 31px;
  left: 410px;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .rectangle-HtVTN0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.deviceplugincurtainpartiallyopencase .contents-HtVTN0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m-IsY09T {
  cursor: pointer;
  height: 31px;
}

.deviceplugincurtainpartiallyopencase .rectangle-t4OuoZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .contents-t4OuoZ {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.deviceplugincurtainpartiallyopencase .web-sub_-title-iUbVTR {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.deviceplugincurtainpartiallyopencase .sub-title-Ptfp95 {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 201px;
}

.deviceplugincurtainpartiallyopencase .web-title-area-iUbVTR {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .web-tab-device-plug-iUbVTR {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .x3rd-depth-wLYi9x {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.deviceplugincurtainpartiallyopencase .tab-OnLvJM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 102px;
  position: relative;
  top: 0px;
  width: auto;
}

.deviceplugincurtainpartiallyopencase .x2-btn-OHXjxl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 33px;
}

.deviceplugincurtainpartiallyopencase .partially-open-case-OHXjxl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.deviceplugincurtainpartiallyopencase .lnb-device-plug-in-iUbVTR {
  background-color: transparent;
  height: 1305px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .rectangle-0KftVP {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .background-0KftVP {
  background-color: var(--concrete);
  height: 1305px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .stacked-group-0KftVP {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-0DlrhF {
  margin: 0;
}

.deviceplugincurtainpartiallyopencase .group-copy-0DlrhF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .empty-iKn6D4 {
  top: 21px;
}

.deviceplugincurtainpartiallyopencase .empty-v92qpx {
  top: 0px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-copy-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .web-index-contents1dpeth_open_selected-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .group-0DlrhF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .empty-O8xG9k {
  top: 21px;
}

.deviceplugincurtainpartiallyopencase .empty-bJHVEB {
  top: 0px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-BDHssy {
  margin: 0px 0 0 0;
}

.deviceplugincurtainpartiallyopencase .group-copy-2-0DlrhF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .empty-CwBHom {
  top: 21px;
}

.deviceplugincurtainpartiallyopencase .empty-jxx7lf {
  top: 0px;
}

.deviceplugincurtainpartiallyopencase .web-index-title-common-copy-2-0DlrhF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.deviceplugincurtainpartiallyopencase .line-0KftVP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.deviceplugincurtainpartiallyopencase .home-net-gui-guidelin-0KftVP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.deviceplugincurtainpartiallyopencase .webgnb-iUbVTR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .rectangle-YSpF2D {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .background-YSpF2D {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.deviceplugincurtainpartiallyopencase .index-YSpF2D {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.deviceplugincurtainpartiallyopencase .web-index-select-bY8YIM {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.deviceplugincurtainpartiallyopencase .web-index-unselect-bY8YIM {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.deviceplugincurtainpartiallyopencase .web-index-unelect_main-YSpF2D {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.deviceplugincurtainpartiallyopencase .logo-Xkevzx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.deviceplugincurtainpartiallyopencase .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
}

.deviceplugincurtainpartiallyopencase .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.deviceplugincurtainpartiallyopencase .group-2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-4 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .group-2-copy-5 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.deviceplugincurtainpartiallyopencase .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.deviceplugincurtainpartiallyopencase .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.deviceplugincurtainpartiallyopencase .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
