/* screen - c2caccesstokenrefreshtokeninvalidcase */

.c2caccesstokenrefreshtokeninvalidcase {
  background-color: var(--white);
  height: 2312px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-13-Vwxbq8 {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 1206px;
  width: 690px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-10-Vwxbq8 {
  background-color: transparent;
  height: 714px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-Vwxbq8 {
  height: 126px;
  left: 1140px;
  top: 1480px;
  width: 560px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-4-Vwxbq8 {
  background-color: transparent;
  height: 200px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-2-0HptvW {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-uNKkWe {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-Qoz1GT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-Qoz1GT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-copy-uNKkWe {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-qWLEiy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-qWLEiy {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-copy-uNKkWe {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-pOZxld {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-pOZxld {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-3-0HptvW {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-CPQuMu {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-0s1C34 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-0s1C34 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-CPQuMu {
  cursor: pointer;
  height: 71px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-xoB7jf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-xoB7jf {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-9Qn32w {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-FiJo4x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-FiJo4x {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-15-Vwxbq8 {
  background-color: transparent;
  height: 224px;
  left: 1140px;
  position: absolute;
  top: 1206px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-7-bXGTY2 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-Crdr3G {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-xR2ZMA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-xR2ZMA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-Crdr3G {
  height: 31px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-UaFNWQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .title-UaFNWQ {
  left: 6px;
  top: 11px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-txrDSL {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-DbHlUx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-DbHlUx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-6-bXGTY2 {
  background-color: transparent;
  height: 121px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-qXBQGg {
  left: 0px;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-FCRFtC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-FCRFtC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m-qXBQGg {
  height: 115px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-HmZTK7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .group-HmZTK7 {
  height: 104px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .content-7AVkND {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .content-copy-7AVkND {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 44px;
  width: 328px;
}

.c2caccesstokenrefreshtokeninvalidcase .title-7AVkND {
  left: 0px;
  top: 0px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line-rxTPGb {
  left: 410px;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-oMVbib {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents-oMVbib {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-sub_-title-Vwxbq8 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 459px;
}

.c2caccesstokenrefreshtokeninvalidcase .sub-title-sT1FiR {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2caccesstokenrefreshtokeninvalidcase .web-title-area-Vwxbq8 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-tabc2-c_-access-token-Vwxbq8 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .x3rd-depth-T7fA14 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenrefreshtokeninvalidcase .tab-T7fA14 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenrefreshtokeninvalidcase .life-tab-device-tab-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenrefreshtokeninvalidcase .partner-refresh-toke-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 208px;
}

.c2caccesstokenrefreshtokeninvalidcase .st-refresh-token-inv-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenrefreshtokeninvalidcase .family-hub-token-i-IG1q7T {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 187px;
}

.c2caccesstokenrefreshtokeninvalidcase .lnb-service-feature-copy-Vwxbq8 {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-2DPAKH {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .background-2DPAKH {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenrefreshtokeninvalidcase .line-2DPAKH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenrefreshtokeninvalidcase .home-net-gui-guidelin-2DPAKH {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup22 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup22 .web-index-title-reference-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-MSm7nV {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup22 .empty-cuAAUT {
  bottom: 0px;
}

.stackedgroup22 .empty-h2bLti {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-copy-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-Ss487G {
  bottom: 0px;
}

.stackedgroup22 .empty-BNIP8t {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents1dpeth_close-copy-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .group-OhPUBb {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup22 .web-expanded-7q2qwx {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup22 .button-SPXu7W {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup22 .x1-depth-title-7q2qwx {
  color: #3695dd;
  width: 91px;
}

.stackedgroup22 .web-index-contents1dpeth_close-MSm7nV {
  height: auto;
}

.stackedgroup22 .web-index-contents1dpeth_close-FzKKfg {
  height: auto;
}

.stackedgroup22 .web-index-contents1dpeth_close-lCKiNU {
  height: auto;
}

.stackedgroup22 .web-index-contents1dpeth_close-copy-2-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .web-index-contents1dpeth_close-SKCOnH {
  height: auto;
}

.stackedgroup22 .web-index-contents1dpeth_close-7tSHVL {
  height: 46px;
}

.stackedgroup22 .group-K56P6x {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup22 .x1-depth-title-5ubca5 {
  color: #252525;
  width: 56px;
}

.stackedgroup22 .web-fold-K56P6x {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup22 .background-1xHauK {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup22 .button-1xHauK {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup22 .group-copy-2-MSm7nV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup22 .empty-xViNmL {
  bottom: 0px;
}

.stackedgroup22 .empty-acgJzL {
  top: 0px;
}

.stackedgroup22 .web-index-title-reference-copy-3-MSm7nV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenrefreshtokeninvalidcase .webgnb-Vwxbq8 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .rectangle-MNhxuD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .background-MNhxuD {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenrefreshtokeninvalidcase .index-MNhxuD {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-select-5dnpE9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-unselect-5dnpE9 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenrefreshtokeninvalidcase .web-index-unelect_main-MNhxuD {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.c2caccesstokenrefreshtokeninvalidcase .logo-5fM67X {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.c2caccesstokenrefreshtokeninvalidcase .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.c2caccesstokenrefreshtokeninvalidcase .group {
  background-color: transparent;
  position: absolute;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenrefreshtokeninvalidcase .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenrefreshtokeninvalidcase .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup22 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup22 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
