/* screen - c2caccesstokenfamilyhub */

.c2caccesstokenfamilyhub {
  background-color: var(--white);
  height: 1177px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2caccesstokenfamilyhub .group-9-JBfdSx {
  background-color: transparent;
  height: 635px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.c2caccesstokenfamilyhub .group-JBfdSx {
  height: 450px;
  left: 1140px;
  top: 342px;
  width: 680px;
}

.c2caccesstokenfamilyhub .group-5-LN6Ijp {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-TaTxYY {
  height: 31px;
  left: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-kJXKTC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-kJXKTC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-vu9cdk {
  height: 93px;
  left: 410px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-lwauyk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .group-lwauyk {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 258px;
}

.c2caccesstokenfamilyhub .title-YTQ520 {
  color: var(--science-blue);
  left: 0px;
  top: 0px;
  width: 258px;
}

.c2caccesstokenfamilyhub .contents-lwauyk {
  color: var(--black);
  font-weight: 400;
  height: 60px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  width: 258px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_-strongman-TaTxYY {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .rectangle-SwpIHD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .group-SwpIHD {
  height: 20px;
  left: 6px;
  top: 11px;
  width: 328px;
}

.c2caccesstokenfamilyhub .title-tQxCLB {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
  width: 328px;
}

.c2caccesstokenfamilyhub .contents-SwpIHD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenfamilyhub .group-7-LN6Ijp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 413px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-SxGec6 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-5A9Ndu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-5A9Ndu {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-SxGec6 {
  height: 28px;
}

.c2caccesstokenfamilyhub .rectangle-Yxy7c5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .contents-Yxy7c5 {
  color: var(--rose);
  font-weight: 400;
  height: auto;
  line-height: 17px;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-7YZwUK {
  height: 31px;
  left: 410px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-xS3YYp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .contents-xS3YYp {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenfamilyhub .group-6-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 212px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-XOjKzr {
  height: 31px;
  left: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-5mzWQd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-5mzWQd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-XOjKzr {
  cursor: pointer;
  height: 51px;
}

.c2caccesstokenfamilyhub .rectangle-5lISpx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .contents-5lISpx {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-dBpaKg {
  height: 31px;
  left: 410px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-mNtKlD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .contents-mNtKlD {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenfamilyhub .group-6-copy-3-LN6Ijp {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-OfWPa6 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-oNE3zH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-oNE3zH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-OfWPa6 {
  height: 31px;
}

.c2caccesstokenfamilyhub .rectangle-tSTlJV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .title-tSTlJV {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
  width: 328px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-vYwfZk {
  height: 31px;
  left: 410px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-WE4WXU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .contents-WE4WXU {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenfamilyhub .group-6-copy-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 279px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-Z6vxvn {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-8hDHnP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-8hDHnP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-Z6vxvn {
  cursor: pointer;
  height: 51px;
}

.c2caccesstokenfamilyhub .rectangle-xDIg1Q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .contents-xDIg1Q {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-2-Z6vxvn {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-meB8Rz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .contents-meB8Rz {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenfamilyhub .group-6-copy-2-LN6Ijp {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 346px;
  width: 680px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-3-zPfjWY {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2caccesstokenfamilyhub .rectangle-OmzUxf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2caccesstokenfamilyhub .contents-OmzUxf {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m-zPfjWY {
  cursor: pointer;
  height: 51px;
}

.c2caccesstokenfamilyhub .rectangle-5RaCr0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2caccesstokenfamilyhub .contents-5RaCr0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  opacity: 0.8;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.c2caccesstokenfamilyhub .table-guide-text1line-copy-4-zPfjWY {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2caccesstokenfamilyhub .rectangle-ntUiEu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2caccesstokenfamilyhub .contents-ntUiEu {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2caccesstokenfamilyhub .table-guide-title-LN6Ijp {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2caccesstokenfamilyhub .web-sub_-title-JBfdSx {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 431px;
}

.c2caccesstokenfamilyhub .sub-title-sEJ1YV {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2caccesstokenfamilyhub .web-title-area-JBfdSx {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .web-tabc2-c_-access-token-JBfdSx {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .x3rd-depth-F5Ptxx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2caccesstokenfamilyhub .tab-F5Ptxx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2caccesstokenfamilyhub .life-tab-device-tab-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 264px;
}

.c2caccesstokenfamilyhub .partner-refresh-toke-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.c2caccesstokenfamilyhub .st-refresh-token-inv-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 175px;
}

.c2caccesstokenfamilyhub .family-hub-token-i-dn6LUO {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.c2caccesstokenfamilyhub .lnb-service-feature-copy-JBfdSx {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2caccesstokenfamilyhub .rectangle-3ac4vb {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenfamilyhub .background-3ac4vb {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2caccesstokenfamilyhub .line-3ac4vb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2caccesstokenfamilyhub .home-net-gui-guidelin-3ac4vb {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup24 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup24 .web-index-title-reference-copy-2-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-ofqU4F {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup24 .empty-bKSeeX {
  bottom: 0px;
}

.stackedgroup24 .empty-l2dRrZ {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-copy-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-copy-ofqU4F {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .empty-Bwk24N {
  bottom: 0px;
}

.stackedgroup24 .empty-CbNzDh {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .web-index-contents1dpeth_close-copy-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .group-5caFG8 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup24 .web-expanded-cbqqQs {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup24 .button-4Ziseo {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup24 .x1-depth-title-cbqqQs {
  color: #3695dd;
  width: 91px;
}

.stackedgroup24 .web-index-contents1dpeth_close-ofqU4F {
  height: auto;
}

.stackedgroup24 .web-index-contents1dpeth_close-tFyU0x {
  height: auto;
}

.stackedgroup24 .web-index-contents1dpeth_close-kGnjJE {
  height: auto;
}

.stackedgroup24 .web-index-contents1dpeth_close-copy-2-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .web-index-contents1dpeth_close-gmRlol {
  height: auto;
}

.stackedgroup24 .web-index-contents1dpeth_close-4wuiKO {
  height: 46px;
}

.stackedgroup24 .group-DTxjEn {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup24 .x1-depth-title-F436y2 {
  color: #252525;
  width: 56px;
}

.stackedgroup24 .web-fold-DTxjEn {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup24 .background-AtxUxF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup24 .button-AtxUxF {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup24 .group-copy-2-ofqU4F {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup24 .empty-h8sxZh {
  bottom: 0px;
}

.stackedgroup24 .empty-yBfTvN {
  top: 0px;
}

.stackedgroup24 .web-index-title-reference-copy-3-ofqU4F {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2caccesstokenfamilyhub .webgnb-JBfdSx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .rectangle-aITSPR {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .background-aITSPR {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2caccesstokenfamilyhub .index-aITSPR {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2caccesstokenfamilyhub .web-index-select-tVolPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2caccesstokenfamilyhub .web-index-unselect-tVolPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2caccesstokenfamilyhub .web-index-unelect_main-aITSPR {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.c2caccesstokenfamilyhub .logo-wlMbxD {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.c2caccesstokenfamilyhub .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
}

.c2caccesstokenfamilyhub .group {
  background-color: transparent;
  position: absolute;
}

.c2caccesstokenfamilyhub .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.c2caccesstokenfamilyhub .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2caccesstokenfamilyhub .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.stackedgroup24 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup24 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
