/* screen - c2coverviewsmartapartmentaccess */

.c2coverviewsmartapartmentaccess {
  background-color: var(--white);
  height: 1300px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2coverviewsmartapartmentaccess .strong-man-gui-9yrZSp {
  background-color: transparent;
  height: 18px;
  left: 1140px;
  position: absolute;
  top: 314px;
  width: 232px;
}

.c2coverviewsmartapartmentaccess .group-6-9yrZSp {
  background-color: transparent;
  height: 758px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.c2coverviewsmartapartmentaccess .group-11-9yrZSp {
  background-color: transparent;
  height: 456px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .group-5-9MPME9 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-j8yFLw {
  left: 0px;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .rectangle-ArlpZo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .contents-ArlpZo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line_mint-j8yFLw {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .rectangle-PPvoAw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .title-PPvoAw {
  color: var(--persian-green);
  left: 6px;
  top: 11px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-s3mRNx {
  left: 410px;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .rectangle-AKDBWH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .contents-AKDBWH {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .group-4-9MPME9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-25t0qU {
  left: 0px;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .rectangle-ccgJPy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .contents-ccgJPy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line_-strongman-25t0qU {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .rectangle-utSncX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .group-utSncX {
  height: 62px;
}

.c2coverviewsmartapartmentaccess .content-wSEYJc {
  color: var(--lochmara);
  text-decoration: underline;
}

.c2coverviewsmartapartmentaccess .title-wSEYJc {
  color: var(--cornflower-blue);
  left: 0px;
  top: 0px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-LRMhk6 {
  left: 410px;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .rectangle-FKNmVB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .contents-FKNmVB {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .group-10-9MPME9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-TgfPhx {
  left: 0px;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .rectangle-rFZL0I {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .contents-rFZL0I {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line_m-TgfPhx {
  cursor: pointer;
  height: 73px;
}

.c2coverviewsmartapartmentaccess .rectangle-kPDEge {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .group-kPDEge {
  height: 20px;
}

.c2coverviewsmartapartmentaccess .title-A6lyit {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2coverviewsmartapartmentaccess .contents-kPDEge {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line-TgfPhx {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .rectangle-9L7VJ4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .contents-9L7VJ4 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .group-10-copy-9MPME9 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-copy-FdjQE4 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .rectangle-FFnr9K {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .contents-FFnr9K {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line_m-copy-FdjQE4 {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .rectangle-A12hVT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .group-A12hVT {
  height: 20px;
}

.c2coverviewsmartapartmentaccess .title-BVxl7t {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2coverviewsmartapartmentaccess .contents-A12hVT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 33px;
  white-space: nowrap;
  width: 328px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line-copy-FdjQE4 {
  background-color: transparent;
  height: 53px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .rectangle-X2F6nJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .contents-X2F6nJ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .group-9-9MPME9 {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 192px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-P1V8zt {
  left: 0px;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .rectangle-DukxYg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.c2coverviewsmartapartmentaccess .contents-DukxYg {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line_m-P1V8zt {
  height: 95px;
}

.c2coverviewsmartapartmentaccess .rectangle-7BriKz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .group-7BriKz {
  height: 84px;
}

.c2coverviewsmartapartmentaccess .content-olOYqP {
  color: var(--persian-green);
}

.c2coverviewsmartapartmentaccess .content-copy-olOYqP {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 328px;
}

.c2coverviewsmartapartmentaccess .title-olOYqP {
  color: var(--persian-green);
  left: 0px;
  top: 0px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line-Q6hmDl {
  left: 410px;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .rectangle-S8W8EJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.c2coverviewsmartapartmentaccess .contents-S8W8EJ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .table-guide-title-9MPME9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.c2coverviewsmartapartmentaccess .web-sub_-title-9yrZSp {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 422px;
}

.c2coverviewsmartapartmentaccess .sub-title-Rks821 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.c2coverviewsmartapartmentaccess .web-title-area-9yrZSp {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2coverviewsmartapartmentaccess .web-tabc2-c_-overview-9yrZSp {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2coverviewsmartapartmentaccess .x3rd-depth-43Zgd0 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.c2coverviewsmartapartmentaccess .tab-43Zgd0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.c2coverviewsmartapartmentaccess .image-G6WMwp {
  margin: 0;
  width: 198px;
}

.c2coverviewsmartapartmentaccess .smart-apartment-G6WMwp {
  width: 108px;
}

.c2coverviewsmartapartmentaccess .list-copy-G6WMwp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.c2coverviewsmartapartmentaccess .smart-apartment_-card-copy-G6WMwp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 144px;
}

.c2coverviewsmartapartmentaccess .smart-apartment_-list-copy-G6WMwp {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 139px;
}

.c2coverviewsmartapartmentaccess .smart-apartment-f2ST29 {
  width: 188px;
}

.c2coverviewsmartapartmentaccess .image-f2ST29 {
  margin: 0 0 0 50px;
  width: 145px;
}

.c2coverviewsmartapartmentaccess .lnb-service-feature-copy-9yrZSp {
  background-color: transparent;
  height: 799px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2coverviewsmartapartmentaccess .rectangle-Jx4T2M {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2coverviewsmartapartmentaccess .background-Jx4T2M {
  background-color: var(--concrete);
  height: 799px;
  width: 320px;
}

.c2coverviewsmartapartmentaccess .line-Jx4T2M {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2coverviewsmartapartmentaccess .home-net-gui-guidelin-Jx4T2M {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup15 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup15 .web-index-title-reference-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-6glLD1 {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup15 .empty-9fxZYK {
  bottom: 0px;
}

.stackedgroup15 .empty-uJOsts {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-copy-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-MUVuFv {
  bottom: 0px;
}

.stackedgroup15 .empty-5Z2I5D {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-copy-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .group-yHeWO3 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup15 .web-expanded-EhHiUB {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup15 .button-K9MMVI {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup15 .x1-depth-title-EhHiUB {
  color: #3695dd;
  width: 91px;
}

.stackedgroup15 .web-index-contents1dpeth_close-6glLD1 {
  height: auto;
}

.stackedgroup15 .web-index-contents1dpeth_close-2h8iOF {
  height: auto;
}

.stackedgroup15 .web-index-contents1dpeth_close-3H5lIh {
  height: auto;
}

.stackedgroup15 .web-index-contents1dpeth_close-copy-2-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .web-index-contents1dpeth_close-CYlnms {
  height: auto;
}

.stackedgroup15 .web-index-contents1dpeth_close-qzg4TP {
  height: 46px;
}

.stackedgroup15 .group-GRquxM {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup15 .x1-depth-title-6BVSsb {
  color: #252525;
  width: 56px;
}

.stackedgroup15 .web-fold-GRquxM {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup15 .background-1kZx97 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup15 .button-1kZx97 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup15 .group-copy-2-6glLD1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup15 .empty-xSqfIe {
  bottom: 0px;
}

.stackedgroup15 .empty-N3gNzV {
  top: 0px;
}

.stackedgroup15 .web-index-title-reference-copy-3-6glLD1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.c2coverviewsmartapartmentaccess .webgnb-9yrZSp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2coverviewsmartapartmentaccess .rectangle-9CAxoH {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2coverviewsmartapartmentaccess .background-9CAxoH {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2coverviewsmartapartmentaccess .index-9CAxoH {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.c2coverviewsmartapartmentaccess .web-index-select-exkeZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2coverviewsmartapartmentaccess .web-index-unselect-exkeZO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.c2coverviewsmartapartmentaccess .web-index-unelect_main-9CAxoH {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.c2coverviewsmartapartmentaccess .logo-O5atRk {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.c2coverviewsmartapartmentaccess .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  width: 328px;
}

.c2coverviewsmartapartmentaccess .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.c2coverviewsmartapartmentaccess .contents-copy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 258px;
}

.c2coverviewsmartapartmentaccess .group {
  background-color: transparent;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.c2coverviewsmartapartmentaccess .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.c2coverviewsmartapartmentaccess .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.c2coverviewsmartapartmentaccess .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 328px;
}

.stackedgroup15 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup15 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
