/* screen - coreappdesignprinciplepattern */

.coreappdesignprinciplepattern {
  background-color: var(--white);
  height: 1424px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappdesignprinciplepattern .group-3-xy1Ou1 {
  background-color: transparent;
  height: 910px;
  left: 420px;
  position: absolute;
  top: 315px;
  width: 1400px;
}

.coreappdesignprinciplepattern .web-sub_-title-xy1Ou1 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.coreappdesignprinciplepattern .sub-title-XWgDSr {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreappdesignprinciplepattern .web-title-area-xy1Ou1 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappdesignprinciplepattern .web-tabc2-c_re_popup-xy1Ou1 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappdesignprinciplepattern .x3rd-depth-A8iZTN {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappdesignprinciplepattern .tab-A8iZTN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreappdesignprinciplepattern .design-principle-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.coreappdesignprinciplepattern .title-copy-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.coreappdesignprinciplepattern .contents-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.coreappdesignprinciplepattern .logo-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.coreappdesignprinciplepattern .background-image-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.coreappdesignprinciplepattern .pattern-xukwZV {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreappdesignprinciplepattern .lnbc2-c_coreapp-xy1Ou1 {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappdesignprinciplepattern .rectangle-yIdHju {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreappdesignprinciplepattern .background-yIdHju {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreappdesignprinciplepattern .line-yIdHju {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappdesignprinciplepattern .home-net-gui-guidelin-yIdHju {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup49 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup49 .web-index-title-reference-copy-2-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .group-dcTRte {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup49 .empty-s64rQH {
  bottom: 0px;
}

.stackedgroup49 .empty-5Ruscs {
  top: 0px;
}

.stackedgroup49 .web-index-title-reference-copy-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .group-copy-dcTRte {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .empty-hYvm88 {
  bottom: 0px;
}

.stackedgroup49 .empty-Tt0jBn {
  top: 0px;
}

.stackedgroup49 .web-index-title-reference-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .web-index-contents1dpeth_close-copy-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .group-Kw3gIf {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup49 .x1-depth-title-f9SwHR {
  color: #252525;
  width: 91px;
}

.stackedgroup49 .web-fold-Kw3gIf {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup49 .background-g1jmly {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup49 .button-g1jmly {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup49 .web-index-contents1dpeth_close-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .group-5NclnS {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup49 .web-expanded-HQxRFk {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup49 .button-PotA7l {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup49 .x1-depth-title-HQxRFk {
  color: #3695dd;
  width: 55px;
}

.stackedgroup49 .web-index-contents1dpeth_open_selected-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .group-copy-2-dcTRte {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup49 .empty-XqrUOx {
  bottom: 0px;
}

.stackedgroup49 .empty-xR02Jr {
  top: 0px;
}

.stackedgroup49 .web-index-title-reference-copy-3-dcTRte {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreappdesignprinciplepattern .webgnb-xy1Ou1 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappdesignprinciplepattern .rectangle-OYOg2s {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciplepattern .background-OYOg2s {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciplepattern .index-OYOg2s {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappdesignprinciplepattern .web-index-select-J7C5Rw {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappdesignprinciplepattern .web-index-unselect-J7C5Rw {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappdesignprinciplepattern .web-index-unelect_main-OYOg2s {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.coreappdesignprinciplepattern .logo-CxEGZ3 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup49 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup49 .group {
  background-color: transparent;
  opacity: 1;
  width: 100%;
}

.stackedgroup49 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
