/* screen - coreappdesignprinciplecontents */

.coreappdesignprinciplecontents {
  background-color: var(--white);
  height: 1588px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreappdesignprinciplecontents .group-4-vZgRac {
  background-color: transparent;
  height: 476px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.coreappdesignprinciplecontents .group-6-vZgRac {
  background-color: transparent;
  height: 420px;
  left: 420px;
  position: absolute;
  top: 968px;
  width: 1400px;
}

.coreappdesignprinciplecontents .web-sub_-title-vZgRac {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.coreappdesignprinciplecontents .sub-title-H0oKEq {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreappdesignprinciplecontents .web-title-area-vZgRac {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreappdesignprinciplecontents .web-tabc2-c_re_popup-vZgRac {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.coreappdesignprinciplecontents .x3rd-depth-UqBvka {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreappdesignprinciplecontents .tab-UqBvka {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.coreappdesignprinciplecontents .design-principle-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 94px;
}

.coreappdesignprinciplecontents .title-copy-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.coreappdesignprinciplecontents .contents-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.coreappdesignprinciplecontents .logo-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.coreappdesignprinciplecontents .background-image-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 109px;
}

.coreappdesignprinciplecontents .pattern-ChUzhC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 44px;
}

.coreappdesignprinciplecontents .lnbc2-c_coreapp-vZgRac {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreappdesignprinciplecontents .rectangle-xur5Td {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreappdesignprinciplecontents .background-xur5Td {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreappdesignprinciplecontents .line-xur5Td {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreappdesignprinciplecontents .home-net-gui-guidelin-xur5Td {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup46 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup46 .web-index-title-reference-copy-2-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .group-AxTJKv {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup46 .empty-jvS4SU {
  bottom: 0px;
}

.stackedgroup46 .empty-cLJiFb {
  top: 0px;
}

.stackedgroup46 .web-index-title-reference-copy-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .group-copy-AxTJKv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .empty-NsNQeN {
  bottom: 0px;
}

.stackedgroup46 .empty-8Lxirb {
  top: 0px;
}

.stackedgroup46 .web-index-title-reference-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .web-index-contents1dpeth_close-copy-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .group-8xCfRa {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup46 .x1-depth-title-F14eDN {
  color: #252525;
  width: 91px;
}

.stackedgroup46 .web-fold-8xCfRa {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup46 .background-E9IM9P {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup46 .button-E9IM9P {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup46 .web-index-contents1dpeth_close-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .group-ZKxYUy {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup46 .web-expanded-XXF5mm {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup46 .button-X5sxiJ {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup46 .x1-depth-title-XXF5mm {
  color: #3695dd;
  width: 55px;
}

.stackedgroup46 .web-index-contents1dpeth_open_selected-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .group-copy-2-AxTJKv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup46 .empty-6myeuP {
  bottom: 0px;
}

.stackedgroup46 .empty-dxmZ3D {
  top: 0px;
}

.stackedgroup46 .web-index-title-reference-copy-3-AxTJKv {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreappdesignprinciplecontents .webgnb-vZgRac {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreappdesignprinciplecontents .rectangle-B9MfJ7 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciplecontents .background-B9MfJ7 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreappdesignprinciplecontents .index-B9MfJ7 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreappdesignprinciplecontents .web-index-select-3RlaOb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreappdesignprinciplecontents .web-index-unselect-3RlaOb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreappdesignprinciplecontents .web-index-unelect_main-B9MfJ7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.coreappdesignprinciplecontents .logo-Eqwe5W {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup46 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup46 .group {
  background-color: transparent;
  opacity: 1;
  width: 100%;
}

.stackedgroup46 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
