/* screen - coreapplifetabservicecardbasictitle */

.coreapplifetabservicecardbasictitle {
  background-color: var(--white);
  height: 1893px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .group-12-eh7llx {
  background-color: transparent;
  height: 345px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicecardbasictitle .group-13-eh7llx {
  background-color: transparent;
  height: 702px;
  left: 380px;
  position: absolute;
  top: 991px;
  width: 710px;
}

.coreapplifetabservicecardbasictitle .group-5-eh7llx {
  background-color: transparent;
  height: 229px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-H62dEb {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-COd3ZR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .contents-COd3ZR {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreapplifetabservicecardbasictitle .rectangle-2AOehP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardbasictitle .contents-2AOehP {
  color: var(--black);
  font-weight: 400;
  top: 53px;
  width: 328px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-vbOavd {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .rectangle-mmbAFG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .contents-mmbAFG {
  color: var(--science-blue);
  font-weight: 600;
  top: 11px;
  width: 258px;
}

.coreapplifetabservicecardbasictitle .group-4-copy-uaVPfa {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-9FLxlD {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-9CKsaa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .contents-9CKsaa {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreapplifetabservicecardbasictitle .rectangle-e0xexs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardbasictitle .contents-e0xexs {
  color: var(--black);
  font-weight: 400;
  top: 53px;
  width: 328px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-ag8XTz {
  height: 73px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .rectangle-CHh3uZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .contents-CHh3uZ {
  color: var(--science-blue);
  font-weight: 600;
  top: 11px;
  width: 258px;
}

.coreapplifetabservicecardbasictitle .contents-copy-CHh3uZ {
  color: var(--black);
  height: 40px;
  width: 258px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-uaVPfa {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .group-5-copy-eh7llx {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 991px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-uFqiRa {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-wBy9CM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .contents-wBy9CM {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreapplifetabservicecardbasictitle .rectangle-HkmKV8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardbasictitle .contents-HkmKV8 {
  color: var(--black);
  font-weight: 400;
  top: 53px;
  width: 328px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-ege8xx {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .rectangle-FIvUph {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardbasictitle .contents-FIvUph {
  color: var(--science-blue);
  font-weight: 600;
  top: 11px;
  width: 258px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-DB0l46 {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .group-3-copy-eh7llx {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 725px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-obcxsR {
  height: 38px;
  left: 552px;
  width: 128px;
}

.coreapplifetabservicecardbasictitle .rectangle-7fGEcz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.coreapplifetabservicecardbasictitle .table-title-text-7fGEcz {
  width: 116px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-FFxSLp {
  height: 38px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .rectangle-Bx0yOe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .table-title-text-Bx0yOe {
  width: 154px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-hxcw2e {
  height: 38px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .rectangle-XWcZLx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .table-title-text-XWcZLx {
  width: 94px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-NUlxtq {
  height: 38px;
  left: 352px;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .rectangle-f5LaEU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .table-title-text-f5LaEU {
  width: 178px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-TsRxaL {
  height: 38px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-pWkab9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .table-title-text-pWkab9 {
  width: 38px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-3fdgyw {
  height: 31px;
  left: 551px;
  width: 129px;
}

.coreapplifetabservicecardbasictitle .rectangle-2sV0op {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicecardbasictitle .contents-2sV0op {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 117px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-mzCdHT {
  height: 31px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .rectangle-MHcnIX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .contents-MHcnIX {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 154px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-Hu5LVU {
  height: 31px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .rectangle-4v3FjM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .contents-4v3FjM {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 94px;
}

.coreapplifetabservicecardbasictitle .rectangle-vputt3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .contents-vputt3 {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 178px;
}

.coreapplifetabservicecardbasictitle .contents-copy-vputt3 {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-9ih3rH {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-CjKIUW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .contents-CjKIUW {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreapplifetabservicecardbasictitle .group-3-copy-4-eh7llx {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 1226px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-K4F4gl {
  height: 38px;
  left: 552px;
  width: 128px;
}

.coreapplifetabservicecardbasictitle .rectangle-wxAYpZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.coreapplifetabservicecardbasictitle .table-title-text-wxAYpZ {
  width: 116px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-qpuHNW {
  height: 38px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .rectangle-HmMaTQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .table-title-text-HmMaTQ {
  width: 154px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-3xL3Ex {
  height: 38px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .rectangle-fqGe4f {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .table-title-text-fqGe4f {
  width: 94px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-fjneAx {
  height: 38px;
  left: 352px;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .rectangle-dE72tS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .table-title-text-dE72tS {
  width: 178px;
}

.coreapplifetabservicecardbasictitle .table-guide-title-RNMnCn {
  height: 38px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-Vu3xhM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .table-title-text-Vu3xhM {
  width: 38px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-coD3qI {
  height: 31px;
  left: 551px;
  width: 129px;
}

.coreapplifetabservicecardbasictitle .rectangle-Gw4cxo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicecardbasictitle .contents-Gw4cxo {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 117px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-ipVTm1 {
  height: 31px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .rectangle-NwkYGp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicecardbasictitle .contents-NwkYGp {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 154px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-BgNV4E {
  height: 31px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .rectangle-zWjVmx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicecardbasictitle .contents-zWjVmx {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 94px;
}

.coreapplifetabservicecardbasictitle .rectangle-e5ZoeM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .contents-e5ZoeM {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 178px;
}

.coreapplifetabservicecardbasictitle .contents-copy-e5ZoeM {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line-aFceFg {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .rectangle-KvEILj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardbasictitle .contents-KvEILj {
  color: var(--black);
  font-weight: 400;
  top: 11px;
  width: 38px;
}

.coreapplifetabservicecardbasictitle .web-sub_-title-eh7llx {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 382px;
}

.coreapplifetabservicecardbasictitle .sub-title-9EA65M {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreapplifetabservicecardbasictitle .web-title-area-eh7llx {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .web-tabc2-c_re_popup-eh7llx {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .rectangle-xzll7A {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .background-xzll7A {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .x3rd-depth-xzll7A {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .layout-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardbasictitle .life-tab-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardbasictitle .service-card-health-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardbasictitle .basic-_-title-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictitle .basic-_-page-indicat-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardbasictitle .basic-_-bg-copy-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardbasictitle .basic-_-primary-colo-cWSfXY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardbasictitle .x3rd-depth-copy-xzll7A {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardbasictitle .basic-type-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-copy-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-_-se-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardbasictitle .quick-link-type-_-ic-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardbasictitle .banner-type-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardbasictitle .broken-token-39DsL1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardbasictitle .lnbc2-c_coreapp-eh7llx {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardbasictitle .rectangle-rxNnnN {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicecardbasictitle .background-rxNnnN {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicecardbasictitle .line-rxNnnN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardbasictitle .home-net-gui-guidelin-rxNnnN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup35 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup35 .web-index-title-reference-copy-2-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-eMcu0i {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup35 .empty-qlW6r5 {
  bottom: 0px;
}

.stackedgroup35 .empty-ZKkHXu {
  top: 0px;
}

.stackedgroup35 .web-index-title-reference-copy-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-copy-eMcu0i {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .empty-hLOCcV {
  bottom: 0px;
}

.stackedgroup35 .empty-WZKPDp {
  top: 0px;
}

.stackedgroup35 .web-index-title-reference-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .web-index-contents1dpeth_close-copy-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-qHJlGL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup35 .x1-depth-title-3fSdJk {
  color: #252525;
  width: 91px;
}

.stackedgroup35 .web-fold-qHJlGL {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup35 .background-SoHzQP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup35 .button-SoHzQP {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup35 .web-index-contents1dpeth_close-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-ynILIi {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup35 .web-expanded-x5Asp4 {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup35 .button-BjnqzT {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup35 .x1-depth-title-x5Asp4 {
  color: #3695dd;
  width: 55px;
}

.stackedgroup35 .web-index-contents1dpeth_open_selected-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .group-copy-2-eMcu0i {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup35 .empty-Udfqm1 {
  bottom: 0px;
}

.stackedgroup35 .empty-x9Fn87 {
  top: 0px;
}

.stackedgroup35 .web-index-title-reference-copy-3-eMcu0i {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardbasictitle .webgnb-eh7llx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .rectangle-6Bngm6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .background-6Bngm6 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicecardbasictitle .index-6Bngm6 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardbasictitle .web-index-select-NiRtMa {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardbasictitle .web-index-unselect-NiRtMa {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardbasictitle .web-index-unelect_main-6Bngm6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.coreapplifetabservicecardbasictitle .logo-LZjJxR {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.coreapplifetabservicecardbasictitle .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.coreapplifetabservicecardbasictitle .contents-copy {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
}

.coreapplifetabservicecardbasictitle .group {
  background-color: transparent;
  height: 40px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicecardbasictitle .group-4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .styletable1line_-color-copy {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicecardbasictitle .table-guide-text1line_mint {
  background-color: transparent;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardbasictitle .table-guide-text2line {
  background-color: transparent;
  height: 53px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.coreapplifetabservicecardbasictitle .table-guide-title {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicecardbasictitle .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 328px;
}

.stackedgroup35 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup35 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
