/* screen - coreapplifetabservicefeaturequicklink */

.coreapplifetabservicefeaturequicklink {
  background-color: var(--white);
  height: 3391px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .group-12-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 380px;
  position: absolute;
  top: 396px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .group-13-k0Y1MD {
  background-color: transparent;
  height: 464px;
  left: 365px;
  position: absolute;
  top: 1010px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-14-k0Y1MD {
  background-color: transparent;
  height: 491px;
  left: 365px;
  position: absolute;
  top: 1624px;
  width: 725px;
}

.coreapplifetabservicefeaturequicklink .group-19-k0Y1MD {
  background-color: transparent;
  height: 926px;
  left: 380px;
  position: absolute;
  top: 2265px;
  width: 710px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-2-k0Y1MD {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 698px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-WdMk49 {
  height: 38px;
  left: 552px;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .rectangle-4Cf8Bf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-4Cf8Bf {
  width: 116px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-TQVjYe {
  height: 38px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-aO3ojf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-aO3ojf {
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-6GKFLc {
  height: 38px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-miUCwE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-miUCwE {
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-gTGHbo {
  height: 38px;
  left: 352px;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .rectangle-cY2zOK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-cY2zOK {
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-wIVXxo {
  height: 38px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-JX7gr4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-JX7gr4 {
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-4tJphF {
  left: 551px;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .rectangle-yV86zn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .contents-yV86zn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-sDhDk0 {
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-9K2zSl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .contents-9K2zSl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-rGsyYa {
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-mSDht7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .contents-mSDht7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Oe3HAS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .contents-Oe3HAS {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-pXYSeg {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-7q1kcm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-7q1kcm {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-3-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1312px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-PL2xEA {
  height: 38px;
  left: 552px;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .rectangle-9B5TKS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-9B5TKS {
  width: 116px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-KixxJt {
  height: 38px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-pbWNxU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-pbWNxU {
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-xoWbXG {
  height: 38px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-yZp64t {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-yZp64t {
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-MCKofs {
  height: 38px;
  left: 352px;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ZmJo5n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-ZmJo5n {
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-xVp3Hj {
  height: 38px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-2UAABq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-2UAABq {
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-8BwCuM {
  left: 551px;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .rectangle-9QxaPC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .contents-9QxaPC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-imOaRa {
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-rBcxLD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .contents-rBcxLD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-o5OpxC {
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-pTxAf6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .contents-pTxAf6 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .rectangle-0nTDDF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .contents-0nTDDF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-5xF8Kr {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-hZX8sl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-hZX8sl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-YTBIms {
  left: 551px;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .rectangle-x9BUdM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .contents-x9BUdM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-GnibKj {
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-GqHXBO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .contents-GqHXBO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-xQNUXE {
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-9O1sIU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .contents-9O1sIU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .rectangle-sPEnfl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .contents-sPEnfl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-wxBSUE {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ihW0jj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-ihW0jj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .group-3-copy-4-k0Y1MD {
  background-color: transparent;
  height: 140px;
  left: 1140px;
  position: absolute;
  top: 1926px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-oinjyz {
  height: 38px;
  left: 552px;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .rectangle-nY3VH1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-nY3VH1 {
  width: 116px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-odTz0k {
  height: 38px;
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-tVyRFw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-tVyRFw {
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-Ax7sqi {
  height: 38px;
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-hx2Kkf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-hx2Kkf {
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-uL3Thv {
  height: 38px;
  left: 352px;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .rectangle-xr8Dx0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-xr8Dx0 {
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-xhwYdy {
  height: 38px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-M9HeyX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .table-title-text-M9HeyX {
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-HURNEb {
  left: 551px;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .rectangle-SC6IZL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .contents-SC6IZL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-nrZqFL {
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-kV3mHP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .contents-kV3mHP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-iNaltC {
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-5HL39R {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .contents-5HL39R {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Rr9hlI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .contents-Rr9hlI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-F6i1UA {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-QDAznA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-QDAznA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-4dtpoM {
  left: 551px;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .rectangle-4HiHEe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.coreapplifetabservicefeaturequicklink .contents-4HiHEe {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 117px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-BIDM8u {
  left: 60px;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ETcuBE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.coreapplifetabservicefeaturequicklink .contents-ETcuBE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 154px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-fpS0Oh {
  left: 236px;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .rectangle-KIaz9X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 106px;
}

.coreapplifetabservicefeaturequicklink .contents-KIaz9X {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 94px;
}

.coreapplifetabservicefeaturequicklink .rectangle-OzIbS4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .contents-OzIbS4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 178px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-g4In76 {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-cdm0an {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-cdm0an {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-7-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2265px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-XuxVcy {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Nf2pTe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-Nf2pTe {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-XuxVcy {
  height: 73px;
}

.coreapplifetabservicefeaturequicklink .rectangle-UAbScJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-UAbScJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 53px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-AY9wqv {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-FxKO1q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-FxKO1q {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-kAMQ0J {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-eqYA0T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-eqYA0T {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-kAMQ0J {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicefeaturequicklink .rectangle-B8mgaC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-B8mgaC {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-SIJyWW {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-6wgrhY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-6wgrhY {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-0GOPex {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-6-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1624px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-MOhjfl {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Td672i {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-Td672i {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-MOhjfl {
  height: 73px;
}

.coreapplifetabservicefeaturequicklink .rectangle-YU5s4P {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-YU5s4P {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 53px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-t9qc1n {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Q0TFhy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-Q0TFhy {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-noK1LS {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-mvlRWx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-mvlRWx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-noK1LS {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Lx6Q25 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-Lx6Q25 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-R8MB9T {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-tGaBnx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-tGaBnx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-xarZZ3 {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-5-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 1010px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-fxGudU {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-szUwPo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-szUwPo {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-fxGudU {
  height: 73px;
}

.coreapplifetabservicefeaturequicklink .rectangle-lDi2zM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-lDi2zM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 53px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-ahv24A {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-oQBFmN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-oQBFmN {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-G1Kjmt {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-qyiZlh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-qyiZlh {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-G1Kjmt {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicefeaturequicklink .rectangle-xfCIKo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-xfCIKo {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-xzWPPe {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-yXETPa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-yXETPa {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-XRIGoo {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-5-copy-4-k0Y1MD {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-WwJFjq {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-X2rQdF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-X2rQdF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-WwJFjq {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicefeaturequicklink .rectangle-x2NGiW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-x2NGiW {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-YYGxLR {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-LV5eI7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-LV5eI7 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-PEu42x {
  left: 0px;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .rectangle-GxkjQn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicefeaturequicklink .contents-GxkjQn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint-PEu42x {
  height: 73px;
}

.coreapplifetabservicefeaturequicklink .rectangle-Z9404j {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .contents-Z9404j {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 53px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line-5QVyQM {
  left: 410px;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .rectangle-EwxoSf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicefeaturequicklink .contents-EwxoSf {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title-OUYLnW {
  height: 56px;
  left: 0px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .web-sub_-title-k0Y1MD {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 712px;
}

.coreapplifetabservicefeaturequicklink .sub-title-RMUVHT {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreapplifetabservicefeaturequicklink .web-title-area-k0Y1MD {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .web-tabc2-c_re_popup-k0Y1MD {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .rectangle-KAEJHY {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .background-KAEJHY {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .layout-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicefeaturequicklink .life-tab-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicefeaturequicklink .service-card-health-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicefeaturequicklink .basic-_-title-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .basic-_-page-indicat-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicefeaturequicklink .basic-_-bg-copy-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicefeaturequicklink .basic-_-primary-colo-D9fVwW {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicefeaturequicklink .x3rd-depth-copy-KAEJHY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicefeaturequicklink .basic-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-copy-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-se-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 267px;
}

.coreapplifetabservicefeaturequicklink .quick-link-type-_-ic-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicefeaturequicklink .banner-type-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicefeaturequicklink .broken-token-9E4xvc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicefeaturequicklink .lnbc2-c_coreapp-k0Y1MD {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .rectangle-76OXko {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .background-76OXko {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicefeaturequicklink .line-76OXko {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicefeaturequicklink .home-net-gui-guidelin-76OXko {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup41 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup41 .web-index-title-reference-copy-2-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-KYDZvq {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup41 .empty-ayBnw8 {
  bottom: 0px;
}

.stackedgroup41 .empty-lVsEMB {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-copy-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-copy-KYDZvq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .empty-kwacQ2 {
  bottom: 0px;
}

.stackedgroup41 .empty-inNpZN {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .web-index-contents1dpeth_close-copy-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-E2xCDP {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup41 .x1-depth-title-rJ1HCb {
  color: #252525;
  width: 91px;
}

.stackedgroup41 .web-fold-E2xCDP {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup41 .background-D9tB7x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup41 .button-D9tB7x {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup41 .web-index-contents1dpeth_close-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-jQIPa7 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup41 .web-expanded-TdqvAZ {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup41 .button-X1LbH5 {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup41 .x1-depth-title-TdqvAZ {
  color: #3695dd;
  width: 55px;
}

.stackedgroup41 .web-index-contents1dpeth_open_selected-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .group-copy-2-KYDZvq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup41 .empty-iGDQO5 {
  bottom: 0px;
}

.stackedgroup41 .empty-i4yZaV {
  top: 0px;
}

.stackedgroup41 .web-index-title-reference-copy-3-KYDZvq {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicefeaturequicklink .webgnb-k0Y1MD {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .rectangle-ablmNW {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .background-ablmNW {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicefeaturequicklink .index-ablmNW {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicefeaturequicklink .web-index-select-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicefeaturequicklink .web-index-unselect-0uOhDy {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicefeaturequicklink .web-index-unelect_main-ablmNW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.coreapplifetabservicefeaturequicklink .logo-0cZVUX {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.coreapplifetabservicefeaturequicklink .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.coreapplifetabservicefeaturequicklink .group {
  background-color: transparent;
  height: 40px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .group-4-copy-3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .styletable1line_-color-copy {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .styletable1line_-color-copy-2 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text1line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicefeaturequicklink .table-guide-text2line {
  background-color: transparent;
  height: 31px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.coreapplifetabservicefeaturequicklink .table-guide-title {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicefeaturequicklink .title {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 328px;
}

.stackedgroup41 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup41 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
