/* screen - coreapplifetabservicecardquicklinktype */

.coreapplifetabservicecardquicklinktype {
  background-color: var(--white);
  height: 4885px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .group-26-k1WPvS {
  background-color: transparent;
  height: 853px;
  left: 420px;
  position: absolute;
  top: 3832px;
  width: 670px;
}

.coreapplifetabservicecardquicklinktype .group-24-k1WPvS {
  background-color: transparent;
  height: 693px;
  left: 380px;
  position: absolute;
  top: 2142px;
  width: 710px;
}

.coreapplifetabservicecardquicklinktype .group-10-k1WPvS {
  background-color: transparent;
  height: 732px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 1400px;
}

.coreapplifetabservicecardquicklinktype .group-23-k1WPvS {
  background-color: transparent;
  height: 676px;
  left: 380px;
  position: absolute;
  top: 1278px;
  width: 710px;
}

.coreapplifetabservicecardquicklinktype .group-25-k1WPvS {
  background-color: transparent;
  height: 676px;
  left: 400px;
  position: absolute;
  top: 2985px;
  width: 690px;
}

.coreapplifetabservicecardquicklinktype .group-5-copy-3-k1WPvS {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 3832px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-iWDepI {
  height: 57px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-8Id6Xx {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-gN45W1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-gN45W1 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-8Id6Xx {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-LqmxU0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-LqmxU0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-q3x1Xk {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-wiqr1D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-wiqr1D {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-iWDepI {
  top: 123px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-yiAbMl {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-S2mBbB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-S2mBbB {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-yiAbMl {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-SNDjWQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-SNDjWQ {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XG5IMN {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-LfRMj7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-LfRMj7 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-18-k1WPvS {
  background-color: transparent;
  height: 697px;
  left: 1140px;
  position: absolute;
  top: 2985px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-8TM3Cl {
  height: 84px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-P4Y4Bn {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-8ipy73 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-8ipy73 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-P4Y4Bn {
  height: 31px;
}

.coreapplifetabservicecardquicklinktype .rectangle-QFuFsU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-QFuFsU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-3a30AM {
  height: 73px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-1s47Wx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-1s47Wx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-8TM3Cl {
  top: 150px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-yeLaxM {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Xr7Hao {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-Xr7Hao {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-yeLaxM {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-3dWRVF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-3dWRVF {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-7JmoEl {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-jHXT3d {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-jHXT3d {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-1xQwxf {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-GEF3aP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-GEF3aP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-1xQwxf {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-QXxPxe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-QXxPxe {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-vRDgDL {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-6ZB9LS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-6ZB9LS {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-8TM3Cl {
  height: 77px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-fcY5dV {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-kOiMCY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-kOiMCY {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-fcY5dV {
  cursor: pointer;
  height: 71px;
}

.coreapplifetabservicecardquicklinktype .rectangle-gDajpZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-gDajpZ {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-DgPUBP {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-RJ0J9z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-RJ0J9z {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-8TM3Cl {
  top: 371px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-l1MZOZ {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-VqICye {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-VqICye {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-l1MZOZ {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-rWFf45 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-rWFf45 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-JreIIa {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-DU4zau {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-DU4zau {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-9-8TM3Cl {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-QliC6Q {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-LgJnqM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-LgJnqM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-LqF2hU {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-5o8IJC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-5o8IJC {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .rectangle-eIsPVt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .content-oFWxYB {
  font-weight: 600;
}

.coreapplifetabservicecardquicklinktype .group-17-k1WPvS {
  background-color: transparent;
  height: 677px;
  left: 1140px;
  position: absolute;
  top: 2142px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-GOc393 {
  height: 84px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-tS51cM {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-G0dwyr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-G0dwyr {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-tS51cM {
  height: 31px;
}

.coreapplifetabservicecardquicklinktype .rectangle-bl65ij {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-bl65ij {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-lFN9ir {
  height: 73px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-hdNQWO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-hdNQWO {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-GOc393 {
  top: 150px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-4qqPTj {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-vVpght {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-vVpght {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-4qqPTj {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-rVebTY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-rVebTY {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-cT3WYJ {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-vO2nHl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-vO2nHl {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-ED3Hac {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-7hln0v {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-7hln0v {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-ED3Hac {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-teBogA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-teBogA {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-YXyOuN {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Mm361U {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-Mm361U {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-GOc393 {
  height: 57px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-nUEyXQ {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-9ozg16 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-9ozg16 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-nUEyXQ {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-T8673Z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-T8673Z {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-ZbF2xH {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-dn92hx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-dn92hx {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-GOc393 {
  top: 351px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XwPFKM {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-zNbmxx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-zNbmxx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-XwPFKM {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-0yq49n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-0yq49n {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-wkSIVE {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-LCfXAP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-LCfXAP {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-16-GOc393 {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 418px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-4xsjj0 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-XCOMOF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-XCOMOF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-FAxFnm {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-eux6V6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-eux6V6 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .rectangle-V9j9WY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .content-tKEHIW {
  font-weight: 600;
}

.coreapplifetabservicecardquicklinktype .group-15-k1WPvS {
  background-color: transparent;
  height: 714px;
  left: 1140px;
  position: absolute;
  top: 1278px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-jVFATI {
  height: 84px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-jct7g7 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-cK0PmK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-cK0PmK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-jct7g7 {
  height: 31px;
}

.coreapplifetabservicecardquicklinktype .rectangle-qjcgfk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-qjcgfk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-zT7LF1 {
  height: 73px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Xpbweq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-Xpbweq {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3-jVFATI {
  top: 150px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-gaA2LC {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-G07SwJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-G07SwJ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-gaA2LC {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-fkZNsT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-fkZNsT {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-YwlcKy {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Hfzej1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-Hfzej1 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-BIxfyC {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-WsB9sw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-WsB9sw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-BIxfyC {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-5h4cWe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-5h4cWe {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-21xsek {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-F522at {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-F522at {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6-jVFATI {
  height: 77px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-n36JDU {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-rgtW7l {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-rgtW7l {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-n36JDU {
  cursor: pointer;
  height: 71px;
}

.coreapplifetabservicecardquicklinktype .rectangle-yFRNz0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-yFRNz0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-XwRJ8s {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Hyoxos {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-Hyoxos {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7-jVFATI {
  top: 371px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-2Fi257 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-vEAnUP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-vEAnUP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-2Fi257 {
  cursor: pointer;
  height: 51px;
}

.coreapplifetabservicecardquicklinktype .rectangle-xvb3jv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .contents-xvb3jv {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-2EflkA {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-FVkqAt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-FVkqAt {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group-5-jVFATI {
  background-color: transparent;
  height: 276px;
  left: 0px;
  position: absolute;
  top: 438px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-VxSwzI {
  height: 31px;
  left: 0px;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .rectangle-Dci4fX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.coreapplifetabservicecardquicklinktype .contents-Dci4fX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.coreapplifetabservicecardquicklinktype .rectangle-hUooVt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .content-y8hqYc {
  font-weight: 400;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line-Uzpj0t {
  height: 31px;
  left: 410px;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .rectangle-hH47NW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.coreapplifetabservicecardquicklinktype .contents-hH47NW {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .web-sub_-title-k1WPvS {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 413px;
}

.coreapplifetabservicecardquicklinktype .sub-title-O2ZJvO {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.coreapplifetabservicecardquicklinktype .web-title-area-k1WPvS {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .web-tabc2-c_re_popup-k1WPvS {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .rectangle-ipwhF1 {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .background-ipwhF1 {
  background-color: var(--white);
  height: 100px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .x3rd-depth-ipwhF1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .layout-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 42px;
}

.coreapplifetabservicecardquicklinktype .life-tab-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.coreapplifetabservicecardquicklinktype .service-card-health-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.coreapplifetabservicecardquicklinktype .basic-_-title-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardquicklinktype .basic-_-page-indicat-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.coreapplifetabservicecardquicklinktype .basic-_-bg-copy-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 65px;
}

.coreapplifetabservicecardquicklinktype .basic-_-primary-colo-M40sKv {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.coreapplifetabservicecardquicklinktype .x3rd-depth-copy-ipwhF1 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.coreapplifetabservicecardquicklinktype .basic-type-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 63px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-copy-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-_-se-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 265px;
}

.coreapplifetabservicecardquicklinktype .quick-link-type-_-ic-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.coreapplifetabservicecardquicklinktype .banner-type-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.coreapplifetabservicecardquicklinktype .broken-token-uAJp8a {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 83px;
}

.coreapplifetabservicecardquicklinktype .lnbc2-c_coreapp-k1WPvS {
  background-color: transparent;
  height: 753px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.coreapplifetabservicecardquicklinktype .rectangle-YSp8ND {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicecardquicklinktype .background-YSp8ND {
  background-color: var(--concrete);
  height: 753px;
  width: 320px;
}

.coreapplifetabservicecardquicklinktype .line-YSp8ND {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.coreapplifetabservicecardquicklinktype .home-net-gui-guidelin-YSp8ND {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.stackedgroup40 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup40 .web-index-title-reference-copy-2-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-jyXXSI {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.stackedgroup40 .empty-prOtce {
  bottom: 0px;
}

.stackedgroup40 .empty-2WN23f {
  top: 0px;
}

.stackedgroup40 .web-index-title-reference-copy-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-SRxd8I {
  bottom: 0px;
}

.stackedgroup40 .empty-2Ax9C8 {
  top: 0px;
}

.stackedgroup40 .web-index-title-reference-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .web-index-contents1dpeth_close-copy-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-vBtwSO {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.stackedgroup40 .x1-depth-title-8uf17K {
  color: #252525;
  width: 91px;
}

.stackedgroup40 .web-fold-vBtwSO {
  background-color: transparent;
  height: 19.57%;
  left: 9.38%;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 40.22%;
  width: 1.56%;
}

.stackedgroup40 .background-arn7C8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup40 .button-arn7C8 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup40 .web-index-contents1dpeth_close-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-hPwJba {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
}

.stackedgroup40 .web-expanded-854xxT {
  background-color: transparent;
  height: 10.87%;
  left: 8.75%;
  opacity: 1;
  position: absolute;
  top: 44.57%;
  width: 2.81%;
}

.stackedgroup40 .button-d5Kn5X {
  height: 220.00%;
  left: 11.11%;
  top: -60.00%;
  transform: rotate(90deg);
  width: 77.78%;
}

.stackedgroup40 .x1-depth-title-854xxT {
  color: #3695dd;
  width: 55px;
}

.stackedgroup40 .web-index-contents1dpeth_open_selected-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .group-copy-2-jyXXSI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup40 .empty-Sem1mb {
  bottom: 0px;
}

.stackedgroup40 .empty-4ipchw {
  top: 0px;
}

.stackedgroup40 .web-index-title-reference-copy-3-jyXXSI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.coreapplifetabservicecardquicklinktype .webgnb-k1WPvS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .rectangle-42SwVt {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .background-42SwVt {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.coreapplifetabservicecardquicklinktype .index-42SwVt {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.coreapplifetabservicecardquicklinktype .web-index-select-bkuSvL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.coreapplifetabservicecardquicklinktype .web-index-unselect-bkuSvL {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.coreapplifetabservicecardquicklinktype .web-index-unelect_main-42SwVt {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.coreapplifetabservicecardquicklinktype .logo-DBgVLP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.coreapplifetabservicecardquicklinktype .content {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  height: 80px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 62px;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .content-copy {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 144px;
  white-space: nowrap;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .content-copy-2 {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .content-copy-3 {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 208px;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.coreapplifetabservicecardquicklinktype .contents-copy {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  width: 258px;
}

.coreapplifetabservicecardquicklinktype .group {
  background-color: transparent;
  height: 242px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-4 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-6 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 284px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .group-4-copy-7 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-text1line_mint-copy {
  background-color: transparent;
  cursor: pointer;
  height: 253px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.coreapplifetabservicecardquicklinktype .table-guide-title {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.coreapplifetabservicecardquicklinktype .title {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 60px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 328px;
}

.stackedgroup40 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup40 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}
