/* screen - tabletservicepluginliveviewincomingcall2 */

.tabletservicepluginliveviewincomingcall2 {
  background-color: var(--white);
  height: 2329px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall2 .group-2-GlXFSi {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall2 .group-3-GlXFSi {
  background-color: transparent;
  height: 675px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletservicepluginliveviewincomingcall2 .web-title-area-GlXFSi {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall2 .web-tabc2-c-connecto-GlXFSi {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall2 .x3rd-depth-EKppxQ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall2 .tab-KCydC1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginliveviewincomingcall2 .feature-SivZOU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.tabletservicepluginliveviewincomingcall2 .incoming-call-_-feat-SivZOU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.tabletservicepluginliveviewincomingcall2 .incoming-call-_-SivZOU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewincomingcall2 .incoming-call-_-HhUKQ5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.tabletservicepluginliveviewincomingcall2 .incoming-call-_-0AEOm1 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.tabletservicepluginliveviewincomingcall2 .lnbc2-c-connector_1-GlXFSi {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .rectangle-imnXtl {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .stacked-group-imnXtl {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-title-common-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .group-EZOaTP {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .empty-Qk3CZb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .line-copy-Qk3CZb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall2 .empty-lxZLJE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-title-reference-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall2 .group-cs0EYM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .empty-s9ZcWq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .line-copy-s9ZcWq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall2 .empty-OOAGUQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-title-reference-cs0EYM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall2 .group-copy-EZOaTP {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .empty-copy-rLCbNr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .line-copy-2-rLCbNr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall2 .empty-copy-2-rLCbNr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-title-reference-copy-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents1d-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents1d-cs0EYM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents1dpeth_open_selected-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents1dpeth_close-copy-5-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents1dpeth_close-copy-3-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-7-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-6-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-9-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-8-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-5-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-4-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-2-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-3-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-14-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-12-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-10-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-13-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-contents2dpeth-copy-11-EZOaTP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall2 .line-imnXtl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall2 .home-net-ui-guideline-imnXtl {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicepluginliveviewincomingcall2 .webgnb-GlXFSi {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall2 .rectangle-FMjJ1k {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall2 .background-FMjJ1k {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall2 .index-FMjJ1k {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-select-5Ivs0a {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-unselect-5Ivs0a {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicepluginliveviewincomingcall2 .web-index-unelect_main-FMjJ1k {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
