/* screen - tabletservicepluginservicepluginmenu */

.tabletservicepluginservicepluginmenu {
  background-color: var(--white);
  height: 4309px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginservicepluginmenu .group-4-bTigxZ {
  background-color: transparent;
  height: 1049px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginservicepluginmenu .group-5-bTigxZ {
  background-color: transparent;
  height: 1099px;
  left: 320px;
  position: absolute;
  top: 2218px;
  width: 1600px;
}

.tabletservicepluginservicepluginmenu .group-3-bTigxZ {
  background-color: transparent;
  height: 535px;
  left: 420px;
  position: absolute;
  top: 1483px;
  width: 856px;
}

.tabletservicepluginservicepluginmenu .group-3-copy-bTigxZ {
  background-color: transparent;
  height: 642px;
  left: 420px;
  position: absolute;
  top: 3467px;
  width: 1400px;
}

.tabletservicepluginservicepluginmenu .web-title-area-bTigxZ {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginservicepluginmenu .lnbc2-c-connector_1-bTigxZ {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .rectangle-opVuAY {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .stacked-group-opVuAY {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-title-common-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .group-Of5fdo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .empty-e0vFAx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .line-copy-e0vFAx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginservicepluginmenu .empty-SmWwUe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-title-reference-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginservicepluginmenu .group-RKTxcI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .empty-H8XhxU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .line-copy-H8XhxU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginservicepluginmenu .empty-yBgXpt {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-title-reference-RKTxcI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginservicepluginmenu .group-copy-Of5fdo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .empty-copy-VOJVOd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .line-copy-2-VOJVOd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginservicepluginmenu .empty-copy-2-VOJVOd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-title-reference-copy-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginservicepluginmenu .web-index-contents1d-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents1d-RKTxcI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents1dpeth_open_selected-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents1dpeth_close-copy-5-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents1dpeth_close-copy-3-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-7-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-6-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-9-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-8-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-5-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-4-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-2-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-3-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-14-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-12-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-10-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-13-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .web-index-contents2dpeth-copy-11-Of5fdo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginservicepluginmenu .line-opVuAY {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginservicepluginmenu .home-net-ui-guideline-opVuAY {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicepluginservicepluginmenu .webgnb-bTigxZ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginservicepluginmenu .rectangle-8dx6Ky {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginservicepluginmenu .background-8dx6Ky {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginservicepluginmenu .index-8dx6Ky {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicepluginservicepluginmenu .web-index-select-ZFpX6T {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginservicepluginmenu .web-index-unselect-ZFpX6T {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicepluginservicepluginmenu .web-index-unelect_main-8dx6Ky {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
