/* screen - tabletservicepluginliveviewincomingcallfeature */

.tabletservicepluginliveviewincomingcallfeature {
  background-color: var(--white);
  height: 1815px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcallfeature .group-5-S3GQ70 {
  background-color: transparent;
  height: 305px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcallfeature .group-3-S3GQ70 {
  background-color: transparent;
  height: 876px;
  left: 420px;
  position: absolute;
  top: 739px;
  width: 1400px;
}

.tabletservicepluginliveviewincomingcallfeature .web-title-area-S3GQ70 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcallfeature .web-tabc2-c-connecto-S3GQ70 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcallfeature .x3rd-depth-TMrgr9 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcallfeature .tab-w4ZV4H {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginliveviewincomingcallfeature .feature-NxANUq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.tabletservicepluginliveviewincomingcallfeature .incoming-call-_-feat-NxANUq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 147px;
}

.tabletservicepluginliveviewincomingcallfeature .incoming-call-_-NxANUq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewincomingcallfeature .incoming-call-_-0OdQGJ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewincomingcallfeature .incoming-call-_-8EWjkd {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.tabletservicepluginliveviewincomingcallfeature .lnbc2-c-connector_1-S3GQ70 {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .rectangle-OVKxA1 {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .stacked-group-OVKxA1 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-title-common-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .group-xJxxQQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-IxmOMx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .line-copy-IxmOMx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-Yx1bni {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-title-reference-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcallfeature .group-BqxmYU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-9HRuPb {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .line-copy-9HRuPb {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-M8TbqL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-title-reference-BqxmYU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcallfeature .group-copy-xJxxQQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-copy-7uyPgc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .line-copy-2-7uyPgc {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcallfeature .empty-copy-2-7uyPgc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-title-reference-copy-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents1d-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents1d-BqxmYU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents1dpeth_open_selected-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents1dpeth_close-copy-5-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents1dpeth_close-copy-3-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-7-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-6-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-9-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-8-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-5-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-4-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-2-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-3-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-14-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-12-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-10-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-13-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-contents2dpeth-copy-11-xJxxQQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcallfeature .line-OVKxA1 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcallfeature .home-net-ui-guideline-OVKxA1 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicepluginliveviewincomingcallfeature .webgnb-S3GQ70 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcallfeature .rectangle-GAW8Zk {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcallfeature .background-GAW8Zk {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcallfeature .index-GAW8Zk {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-select-hsOsxJ {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-unselect-hsOsxJ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicepluginliveviewincomingcallfeature .web-index-unelect_main-GAW8Zk {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
