/* screen - tabletservicepluginliveviewincomingcall1 */

.tabletservicepluginliveviewincomingcall1 {
  background-color: var(--white);
  height: 4334px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall1 .group-fkdMOd {
  background-color: transparent;
  height: 1053px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall1 .group-2-fkdMOd {
  background-color: transparent;
  height: 1015px;
  left: 320px;
  position: absolute;
  top: 2328px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall1 .group-3-fkdMOd {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1487px;
  width: 1400px;
}

.tabletservicepluginliveviewincomingcall1 .group-3-copy-fkdMOd {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 3493px;
  width: 1400px;
}

.tabletservicepluginliveviewincomingcall1 .web-title-area-fkdMOd {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall1 .web-tabc2-c-connecto-fkdMOd {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall1 .x3rd-depth-jZSbHk {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginliveviewincomingcall1 .tab-6xZTrh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginliveviewincomingcall1 .feature-yJpXhm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.tabletservicepluginliveviewincomingcall1 .incoming-call-_-feat-yJpXhm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.tabletservicepluginliveviewincomingcall1 .incoming-call-_-yJpXhm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 136px;
}

.tabletservicepluginliveviewincomingcall1 .incoming-call-_-MO2lRI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 127px;
}

.tabletservicepluginliveviewincomingcall1 .incoming-call-_-xmnASB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 115px;
}

.tabletservicepluginliveviewincomingcall1 .lnbc2-c-connector_1-fkdMOd {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .rectangle-JbSb3g {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .stacked-group-JbSb3g {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-title-common-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .group-axxKVU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .empty-8veXWe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .line-copy-8veXWe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall1 .empty-AZ9QgU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-title-reference-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall1 .group-wzNFgj {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .empty-CCz78z {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .line-copy-CCz78z {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall1 .empty-CLUpXu {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-title-reference-wzNFgj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall1 .group-copy-axxKVU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .empty-copy-1n968c {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .line-copy-2-1n968c {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall1 .empty-copy-2-1n968c {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-title-reference-copy-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents1d-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents1d-wzNFgj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents1dpeth_open_selected-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents1dpeth_close-copy-5-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents1dpeth_close-copy-3-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-7-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-6-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-9-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-8-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-5-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-4-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-2-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-3-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-14-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-12-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-10-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-13-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-contents2dpeth-copy-11-axxKVU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewincomingcall1 .line-JbSb3g {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginliveviewincomingcall1 .home-net-ui-guideline-JbSb3g {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicepluginliveviewincomingcall1 .webgnb-fkdMOd {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall1 .rectangle-PEBZXf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall1 .background-PEBZXf {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewincomingcall1 .index-PEBZXf {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-select-1Tbgf3 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-unselect-1Tbgf3 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicepluginliveviewincomingcall1 .web-index-unelect_main-PEBZXf {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
