/* screen - tabletserviceplugindeliveries */

.tabletserviceplugindeliveries {
  background-color: var(--white);
  height: 2352px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletserviceplugindeliveries .group-5-FXMz88 {
  background-color: transparent;
  height: 1077px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletserviceplugindeliveries .group-3-FXMz88 {
  background-color: transparent;
  height: 642px;
  left: 420px;
  position: absolute;
  top: 1511px;
  width: 1400px;
}

.tabletserviceplugindeliveries .web-title-area-FXMz88 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletserviceplugindeliveries .lnbc2-c-connector_1-FXMz88 {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .rectangle-NyEVym {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .stacked-group-NyEVym {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-title-common-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .group-PTcKaE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-kejY0w {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletserviceplugindeliveries .line-copy-kejY0w {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletserviceplugindeliveries .empty-IyGyzL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-title-reference-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletserviceplugindeliveries .group-agQVFe {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-azW5ix {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletserviceplugindeliveries .line-copy-azW5ix {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletserviceplugindeliveries .empty-auqQtO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-title-reference-agQVFe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletserviceplugindeliveries .group-copy-PTcKaE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-copy-JrkYKi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletserviceplugindeliveries .line-copy-2-JrkYKi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletserviceplugindeliveries .empty-copy-2-JrkYKi {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-title-reference-copy-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletserviceplugindeliveries .web-index-contents1d-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents1d-agQVFe {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents1dpeth_open_selected-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents1dpeth_close-copy-5-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents1dpeth_close-copy-3-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-7-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-6-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-9-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-8-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-5-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-4-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-2-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-3-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-14-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-12-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-10-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-13-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-contents2dpeth-copy-11-PTcKaE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .line-NyEVym {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletserviceplugindeliveries .home-net-ui-guideline-NyEVym {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletserviceplugindeliveries .webgnb-FXMz88 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletserviceplugindeliveries .rectangle-rkYXni {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletserviceplugindeliveries .background-rkYXni {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletserviceplugindeliveries .index-rkYXni {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletserviceplugindeliveries .web-index-select-iht5Q2 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletserviceplugindeliveries .web-index-unselect-iht5Q2 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletserviceplugindeliveries .web-index-unelect_main-rkYXni {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
