/* screen - tabletservicepluginreservevisitorvehicletimeinfoo */

.tabletservicepluginreservevisitorvehicletimeinfoo {
  background-color: var(--white);
  height: 2295px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .group-3-baBU2Z {
  background-color: transparent;
  height: 1020px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .group-baBU2Z {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-title-area-baBU2Z {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-tabc2-c-connecto-baBU2Z {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .x3rd-depth-YniKgY {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .tab-RFDfbz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .feature-Rb8Rhe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 45px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .image-Rb8Rhe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 49px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .image-AvaAIS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 25px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .o-Rb8Rhe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 161px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .x-Rb8Rhe {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 158px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .lnbc2-c-connector_1-baBU2Z {
  background-color: transparent;
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .rectangle-QIxnVj {
  background-color: var(--concrete);
  height: 1358px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .stacked-group-QIxnVj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-title-common-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .group-jHx6mM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-UxOciz {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .line-copy-UxOciz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-mzxfhy {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-title-reference-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .group-gxVmT0 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-VsIIz4 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .line-copy-VsIIz4 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-qP5HZZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-title-reference-gxVmT0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .group-copy-jHx6mM {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-copy-ZWj5Yf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .line-copy-2-ZWj5Yf {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .empty-copy-2-ZWj5Yf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-title-reference-copy-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents1d-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents1d-gxVmT0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents1dpeth_open_selected-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents1dpeth_close-copy-5-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents1dpeth_close-copy-3-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-7-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-6-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-9-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-8-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-5-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-4-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-2-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-3-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-14-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-12-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-10-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-13-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-contents2dpeth-copy-11-jHx6mM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .line-QIxnVj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .home-net-ui-guideline-QIxnVj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .webgnb-baBU2Z {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .rectangle-aUCr3n {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .background-aUCr3n {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .index-aUCr3n {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-select-6uHx48 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-unselect-6uHx48 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletservicepluginreservevisitorvehicletimeinfoo .web-index-unelect_main-aUCr3n {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
