/* screen - tabletservicepluginvisitorsfeaturelist */

.tabletservicepluginvisitorsfeaturelist {
  background-color: var(--white);
  height: 3496px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginvisitorsfeaturelist .group-4-UGFQxl {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluginvisitorsfeaturelist .group-5-UGFQxl {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1238px;
  width: 670px;
}

.tabletservicepluginvisitorsfeaturelist .group-9-UGFQxl {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 2790px;
  width: 670px;
}

.tabletservicepluginvisitorsfeaturelist .group-4-copy-2-UGFQxl {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1238px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-OMzfzp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .contents-OMzfzp {
  color: var(--lochmara);
  font-weight: 400;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-5iG6DA {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-aoGxK3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .contents-aoGxK3 {
  color: var(--black);
  font-weight: 400;
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-VI6Afn {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-p6ccPE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .contents-p6ccPE {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-YtKWS6 {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-RYBxmy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-RYBxmy {
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-I4VRxR {
  left: 60px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-YCzNWc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-YCzNWc {
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-MdiJPe {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-KI2Eqp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-KI2Eqp {
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .group-4-copy-3-UGFQxl {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 2790px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-9tn4do {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .contents-9tn4do {
  color: var(--lochmara);
  font-weight: 400;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-yFx5QR {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-9v1xOI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .contents-9v1xOI {
  color: var(--black);
  font-weight: 400;
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-v8BJuq {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-FEwLSA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .contents-FEwLSA {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-4mzbzQ {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-L57V6T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-L57V6T {
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-qQ2lqN {
  left: 60px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-oJWLuk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-oJWLuk {
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-4ImhaH {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-Ox8HDF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-Ox8HDF {
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .group-8-UGFQxl {
  background-color: transparent;
  height: 746px;
  left: 420px;
  position: absolute;
  top: 1894px;
  width: 670px;
}

.tabletservicepluginvisitorsfeaturelist .group-6-UGFQxl {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-fRD9on {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .group-fRD9on {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .title-LNMK3X {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-uh5hXe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .contents-uh5hXe {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-u5wb1p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .contents-u5wb1p {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-QHeb5V {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-iD7W6k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-iD7W6k {
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-3xL4ht {
  left: 60px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-5EEKHt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-5EEKHt {
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-riIWnn {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-SxsJXi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-SxsJXi {
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .group-6-copy-UGFQxl {
  background-color: transparent;
  height: 115px;
  left: 1140px;
  position: absolute;
  top: 1894px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-tNxLAk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .group-tNxLAk {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .title-9tyPHc {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-tvoOua {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .contents-tvoOua {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-GgViOG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .contents-GgViOG {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-Wcvr6P {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-5K1XoY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-5K1XoY {
  width: 258px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-IGGBaK {
  left: 60px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-y40CPU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-y40CPU {
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-title-bwzeBF {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-N16Umi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .table-title-text-N16Umi {
  width: 38px;
}

.tabletservicepluginvisitorsfeaturelist .web-sub_-title-UGFQxl {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletservicepluginvisitorsfeaturelist .sub-title-WWqhV0 {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .web-title-area-UGFQxl {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginvisitorsfeaturelist .web-tab-service-plug-in_-home-screen-UGFQxl {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginvisitorsfeaturelist .x3rd-depth-1EZVmS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginvisitorsfeaturelist .tab-eBhigc {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .popup-uj4Emi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 40px;
}

.tabletservicepluginvisitorsfeaturelist .feature_-list-uj4Emi {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 79px;
}

.tabletservicepluginvisitorsfeaturelist .lnb-service-plug-in-UGFQxl {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-BNqHAO {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .lnb-BNqHAO {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .stacked-group-QMc5Kr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .web-index-title-common-copy-rul4sG {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .group-lBfN8V {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .title-54zoab {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .group-copy-rul4sG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .empty-copy-2GZaaL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .line-copy-2-2GZaaL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginvisitorsfeaturelist .empty-copy-2-2GZaaL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .group-QfUC2g {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .title-4IYBP5 {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .group-rul4sG {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .empty-ixfaEY {
  top: 21px;
}

.tabletservicepluginvisitorsfeaturelist .empty-qCnMZg {
  top: 0px;
}

.tabletservicepluginvisitorsfeaturelist .group-0bAP9o {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .title-E7jFS5 {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .group-uQrQuq {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .empty-gRkxJy {
  top: 21px;
}

.tabletservicepluginvisitorsfeaturelist .empty-AGiUSZ {
  top: 0px;
}

.tabletservicepluginvisitorsfeaturelist .group-TSE6jq {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .title-MYGong {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginvisitorsfeaturelist .group-yKBRW0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-zoMnIi {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .button-ClNhSC {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvisitorsfeaturelist .group-Oxhrih {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-k4vOVO {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .button-Wxilke {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvisitorsfeaturelist .group-tTdVA6 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-bJgGdA {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .button-Vu0Pgi {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvisitorsfeaturelist .group-kkXZqE {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-HCVv4f {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .button-Bk9aXq {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvisitorsfeaturelist .group-jQDEhz {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-7xcfTS {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .button-xn7RiS {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvisitorsfeaturelist .group-CpuJzR {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x1-depth-title-874fzT {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginvisitorsfeaturelist .web-expanded-CpuJzR {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginvisitorsfeaturelist .button-SWu83M {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginvisitorsfeaturelist .group-2x2Y8X {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-dBm2ZU {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-JrCebZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-Qjr6MD {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-ZLuddK {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-wZdQ2y {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-kLBkTG {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-dTOeH2 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-SlS160 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-kto3YP {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-DIFxhw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-m3EvkI {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-7U6EvY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-FCYJ43 {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginvisitorsfeaturelist .group-ELhNFY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-XCueCs {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-df0F4P {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-h8HBxu {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-2keIa1 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-OTaoQ5 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-tuuSTf {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-Wgut3t {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-ZrST0C {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-DlBayt {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .group-fMAQgA {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title-CMixXx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvisitorsfeaturelist .line-QMc5Kr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginvisitorsfeaturelist .home-net-gui-guidelin-QMc5Kr {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginvisitorsfeaturelist .webgnb-UGFQxl {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginvisitorsfeaturelist .rectangle-5nVesu {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluginvisitorsfeaturelist .background-5nVesu {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginvisitorsfeaturelist .index-5nVesu {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginvisitorsfeaturelist .web-index-select-LM6NAz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginvisitorsfeaturelist .web-index-unselect-LM6NAz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginvisitorsfeaturelist .web-index-unelect_main-5nVesu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginvisitorsfeaturelist .logo-OTwoXG {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginvisitorsfeaturelist .content {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluginvisitorsfeaturelist .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.tabletservicepluginvisitorsfeaturelist .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .group-3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 56px;
  width: 270px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text1line-copy-2 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 50px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text2line {
  background-color: transparent;
  cursor: pointer;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .table-guide-text2line-copy {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 56px;
  width: 340px;
}

.tabletservicepluginvisitorsfeaturelist .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletservicepluginvisitorsfeaturelist .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
