/* screen - tabletservicepluginhomescreenbanner */

.tabletservicepluginhomescreenbanner {
  background-color: var(--white);
  height: 2062px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginhomescreenbanner .group-UlhCMk {
  background-color: transparent;
  height: 778px;
  left: 400px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.tabletservicepluginhomescreenbanner .group-4-UlhCMk {
  height: 560px;
  left: 400px;
  top: 1324px;
  width: 729px;
}

.tabletservicepluginhomescreenbanner .group-4-ZccNFJ {
  height: 461px;
  left: 1140px;
  top: 396px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .descriptiontabletop-F9guMP {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-PqwOae {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-Re8iCo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .table-title-text-Re8iCo {
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-l0rg4e {
  left: 60px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-ahtcWq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .table-title-text-ahtcWq {
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-cHzT27 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-MDQZbN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .table-title-text-MDQZbN {
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-7-4ITBD5 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-rMlmzj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-rMlmzj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-12-4ITBD5 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-ouF6O8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-ouF6O8 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-13-4ITBD5 {
  background-color: transparent;
  cursor: pointer;
  height: 92px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-7Kg82r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-7Kg82r {
  background-color: transparent;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-XDhq3f {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-8-Q0Sx8Q {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-ZIoFVx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-ZIoFVx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-14-Q0Sx8Q {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-amHILF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-amHILF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-17-Q0Sx8Q {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-JyG1K5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-JyG1K5 {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-bE7v09 {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-JyG1K5 {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-9-tfmHZS {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-ZoRJlx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-ZoRJlx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-15-tfmHZS {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-0BBt2x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-0BBt2x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-18-tfmHZS {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-ctC3oq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-ctC3oq {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-tnzjxo {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-ctC3oq {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-16-UIHqun {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-VcfuOI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-VcfuOI {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-19-UIHqun {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-DoJAZS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-DoJAZS {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-0sTMBR {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-DoJAZS {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-10-UIHqun {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-HdAMBL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-HdAMBL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .group-4-copy-UlhCMk {
  background-color: transparent;
  height: 461px;
  left: 1140px;
  position: absolute;
  top: 1324px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .descriptiontabletop-copy-FIhyBN {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-JIEXAx {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-pxnE6k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .table-title-text-pxnE6k {
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-VfNC4O {
  left: 60px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-gRjekg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .table-title-text-gRjekg {
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-title-8iH9U8 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-tw5Lox {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .table-title-text-tw5Lox {
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-11-TlMXTl {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-vjr36D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-vjr36D {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-20-TlMXTl {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-TTLaU9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-TTLaU9 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-21-TlMXTl {
  background-color: transparent;
  cursor: pointer;
  height: 92px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-kl2ftu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-kl2ftu {
  background-color: transparent;
  height: 81px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-Vnn6eb {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-22-x0KH2o {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-6KgIlR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-6KgIlR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-23-x0KH2o {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-uSeL6y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-uSeL6y {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-24-x0KH2o {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-X2nP3E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-X2nP3E {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-gK8tnY {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-X2nP3E {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-25-gexIaY {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-vfQL3y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-vfQL3y {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-26-gexIaY {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-zphES1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-zphES1 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-27-gexIaY {
  background-color: transparent;
  cursor: pointer;
  height: 93px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-WNeKxJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-WNeKxJ {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-E2xtPe {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-WNeKxJ {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-28-fqkepf {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .rectangle-udGDSm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginhomescreenbanner .contents-udGDSm {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-29-fqkepf {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .rectangle-0x4IFn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginhomescreenbanner .group-0x4IFn {
  background-color: transparent;
  height: 20px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .title-zsLClM {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents-0x4IFn {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  top: 33px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .table-guide-text1line-copy-30-fqkepf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .rectangle-4ZjVIe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginhomescreenbanner .contents-4ZjVIe {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreenbanner .web-sub_-title-UlhCMk {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 360px;
}

.tabletservicepluginhomescreenbanner .sub-title-2yCW0B {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginhomescreenbanner .web-title-area-UlhCMk {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginhomescreenbanner .web-tab-service-plug-in_-home-screen-UlhCMk {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.tabletservicepluginhomescreenbanner .x3rd-depth-EWMoxS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginhomescreenbanner .feature-1QcuxG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluginhomescreenbanner .feature_-shortcut_-def-1QcuxG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 193px;
}

.tabletservicepluginhomescreenbanner .feature_-shortcut_-bra-1QcuxG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 185px;
}

.tabletservicepluginhomescreenbanner .banner_-1QcuxG {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluginhomescreenbanner .x3rd-depth-copy-EWMoxS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.tabletservicepluginhomescreenbanner .more-sjQWAx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 32px;
}

.tabletservicepluginhomescreenbanner .edit-_-feature-sjQWAx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.tabletservicepluginhomescreenbanner .notifications-_-feat-sjQWAx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.tabletservicepluginhomescreenbanner .help-guide-sjQWAx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.tabletservicepluginhomescreenbanner .service-feature-sjQWAx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluginhomescreenbanner .lnb-service-plug-in-UlhCMk {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .rectangle-JKQbsU {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .lnb-JKQbsU {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .stacked-group-gYMQkz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .web-index-title-common-copy-9qBXd4 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .group-aNzM1S {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .title-opqoJN {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreenbanner .group-copy-9qBXd4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .empty-copy-Xt5blq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .line-copy-2-Xt5blq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginhomescreenbanner .empty-copy-2-Xt5blq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .group-xbaEuQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .title-x6wPAt {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreenbanner .group-9qBXd4 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .empty-wTUZwy {
  top: 21px;
}

.tabletservicepluginhomescreenbanner .empty-Ylsshg {
  top: 0px;
}

.tabletservicepluginhomescreenbanner .group-X0BuMx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .title-o1Nnxw {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreenbanner .group-Akjr7r {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .empty-26RoqM {
  top: 21px;
}

.tabletservicepluginhomescreenbanner .empty-vt2hqQ {
  top: 0px;
}

.tabletservicepluginhomescreenbanner .group-cdItqx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .title-NPZxSO {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreenbanner .group-AILiRw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-QRg186 {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .button-NHcxWw {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreenbanner .group-Qfaeid {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-UCJTNx {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .button-ATgfYV {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreenbanner .group-6lJu8y {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-eGT706 {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .button-0ukDF1 {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreenbanner .group-enSN0f {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-hqD1Ki {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .button-x2PCbx {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreenbanner .group-u0AA0F {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-8tuASD {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .button-H9uEtt {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreenbanner .group-g9ddS5 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x1-depth-title-PFr2Hz {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginhomescreenbanner .web-expanded-g9ddS5 {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginhomescreenbanner .button-TL2830 {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginhomescreenbanner .group-VZdABI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-nfdIfg {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-sQPqfX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-lR6eiz {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginhomescreenbanner .group-z48A6p {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-d0kl0I {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-WhJrNT {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-bFsvNa {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-oV5feZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-VhRHig {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-zkJvEA {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-6spzyZ {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-AYcvWx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-0Tv51v {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-ozJam8 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-fAalpy {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-sSeQZV {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-9HJjqp {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-wvosOx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-vFxfLf {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-Cd4uO7 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-GBLagq {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-09DE3k {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-YA7UKX {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .group-q9gRWX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreenbanner .x2-death-title-R0nbGK {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreenbanner .line-gYMQkz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginhomescreenbanner .home-net-gui-guidelin-gYMQkz {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginhomescreenbanner .webgnb-UlhCMk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginhomescreenbanner .rectangle-PDqb3k {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluginhomescreenbanner .background-PDqb3k {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginhomescreenbanner .index-PDqb3k {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginhomescreenbanner .web-index-select-VhGXQO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginhomescreenbanner .web-index-unselect-VhGXQO {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginhomescreenbanner .web-index-unelect_main-PDqb3k {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginhomescreenbanner .logo-yTP48u {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginhomescreenbanner .content {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .content-copy {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 64px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluginhomescreenbanner .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluginhomescreenbanner .group-3 {
  background-color: transparent;
  height: 98px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .group-4 {
  background-color: transparent;
  position: absolute;
}

.tabletservicepluginhomescreenbanner .group-6 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 164px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .group-7 {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 273px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .group-8 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 382px;
  width: 680px;
}

.tabletservicepluginhomescreenbanner .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletservicepluginhomescreenbanner .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
