/* screen - tabletserviceplugindeliveries */

.tabletserviceplugindeliveries {
  background-color: var(--white);
  height: 1894px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletserviceplugindeliveries .group-5-FXMz88 {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletserviceplugindeliveries .group-5-copy-2-FXMz88 {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1188px;
  width: 670px;
}

.tabletserviceplugindeliveries .group-4-FXMz88 {
  background-color: transparent;
  height: 182px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletserviceplugindeliveries .group-3-dFZxny {
  height: 57px;
}

.tabletserviceplugindeliveries .table-guide-text2line-3UotEc {
  height: 51px;
}

.tabletserviceplugindeliveries .rectangle-2nu6v4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletserviceplugindeliveries .contents-2nu6v4 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletserviceplugindeliveries .table-guide-text1line-3UotEc {
  left: 410px;
  width: 270px;
}

.tabletserviceplugindeliveries .rectangle-YFoYxW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletserviceplugindeliveries .contents-YFoYxW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletserviceplugindeliveries .table-guide-text1line-UvQ5CB {
  left: 0px;
  width: 50px;
}

.tabletserviceplugindeliveries .rectangle-2WGFqi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletserviceplugindeliveries .contents-2WGFqi {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletserviceplugindeliveries .group-3-copy-dFZxny {
  height: 59px;
  top: 123px;
}

.tabletserviceplugindeliveries .table-guide-text2line-copy-J6Ga3s {
  height: 53px;
}

.tabletserviceplugindeliveries .rectangle-M0e65D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletserviceplugindeliveries .group-M0e65D {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletserviceplugindeliveries .content-hZv2MG {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.tabletserviceplugindeliveries .title-hZv2MG {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletserviceplugindeliveries .rectangle-6eQfBZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletserviceplugindeliveries .contents-6eQfBZ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletserviceplugindeliveries .rectangle-RI4RIF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletserviceplugindeliveries .contents-RI4RIF {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletserviceplugindeliveries .table-guide-title-SBQGBi {
  left: 410px;
  width: 270px;
}

.tabletserviceplugindeliveries .rectangle-kN4Z23 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletserviceplugindeliveries .table-title-text-kN4Z23 {
  width: 258px;
}

.tabletserviceplugindeliveries .table-guide-title-8Q53WM {
  left: 60px;
  width: 340px;
}

.tabletserviceplugindeliveries .rectangle-lzo5hM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletserviceplugindeliveries .table-title-text-lzo5hM {
  width: 328px;
}

.tabletserviceplugindeliveries .table-guide-title-cfYSod {
  left: 0px;
  width: 50px;
}

.tabletserviceplugindeliveries .rectangle-WasCWx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletserviceplugindeliveries .table-title-text-WasCWx {
  width: 38px;
}

.tabletserviceplugindeliveries .group-4-copy-2-FXMz88 {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 1188px;
  width: 680px;
}

.tabletserviceplugindeliveries .group-3-cUEQr8 {
  height: 77px;
}

.tabletserviceplugindeliveries .table-guide-text2line-fxmoxn {
  height: 71px;
}

.tabletserviceplugindeliveries .rectangle-xNJc7x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletserviceplugindeliveries .contents-xNJc7x {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.tabletserviceplugindeliveries .table-guide-text1line-fxmoxn {
  left: 410px;
  width: 270px;
}

.tabletserviceplugindeliveries .rectangle-86V6pq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletserviceplugindeliveries .contents-86V6pq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletserviceplugindeliveries .table-guide-text1line-2HrBpR {
  left: 0px;
  width: 50px;
}

.tabletserviceplugindeliveries .rectangle-KLIgiP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletserviceplugindeliveries .contents-KLIgiP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletserviceplugindeliveries .group-3-copy-cUEQr8 {
  height: 37px;
  top: 143px;
}

.tabletserviceplugindeliveries .table-guide-text2line-copy-YeyJAu {
  height: 31px;
}

.tabletserviceplugindeliveries .rectangle-rR9SLL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletserviceplugindeliveries .contents-rR9SLL {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.tabletserviceplugindeliveries .rectangle-dl7WU0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletserviceplugindeliveries .contents-dl7WU0 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletserviceplugindeliveries .rectangle-4nDbTE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletserviceplugindeliveries .contents-4nDbTE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletserviceplugindeliveries .table-guide-title-twyhTL {
  left: 410px;
  width: 270px;
}

.tabletserviceplugindeliveries .rectangle-JIf05R {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletserviceplugindeliveries .table-title-text-JIf05R {
  width: 258px;
}

.tabletserviceplugindeliveries .table-guide-title-HUriVy {
  left: 60px;
  width: 340px;
}

.tabletserviceplugindeliveries .rectangle-0283SY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletserviceplugindeliveries .table-title-text-0283SY {
  width: 328px;
}

.tabletserviceplugindeliveries .table-guide-title-4ZZhkO {
  left: 0px;
  width: 50px;
}

.tabletserviceplugindeliveries .rectangle-ihAdp6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletserviceplugindeliveries .table-title-text-ihAdp6 {
  width: 38px;
}

.tabletserviceplugindeliveries .web-sub_-title-FXMz88 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.tabletserviceplugindeliveries .sub-title-xg2RFg {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletserviceplugindeliveries .web-title-area-FXMz88 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletserviceplugindeliveries .web-tab-service-plug-in_-home-screen-FXMz88 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletserviceplugindeliveries .x3rd-depth-80v77N {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletserviceplugindeliveries .tab-yOMLnD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletserviceplugindeliveries .feature-anu7SQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletserviceplugindeliveries .lnb-service-plug-in-FXMz88 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .rectangle-L4cxY2 {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletserviceplugindeliveries .lnb-L4cxY2 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .stacked-group-J4VlX8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletserviceplugindeliveries .web-index-title-common-copy-5Y8kw1 {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .group-fg8b81 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .title-Pyg2TS {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletserviceplugindeliveries .group-copy-5Y8kw1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-copy-4yVDkq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletserviceplugindeliveries .line-copy-2-4yVDkq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletserviceplugindeliveries .empty-copy-2-4yVDkq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .group-RINxvw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .title-OkxtOC {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletserviceplugindeliveries .group-5Y8kw1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-0xMzLQ {
  top: 21px;
}

.tabletserviceplugindeliveries .empty-FsKQq4 {
  top: 0px;
}

.tabletserviceplugindeliveries .group-66UtKf {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .title-OcRdxp {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletserviceplugindeliveries .group-779ZNz {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletserviceplugindeliveries .empty-xhCTbq {
  top: 21px;
}

.tabletserviceplugindeliveries .empty-oYlWxw {
  top: 0px;
}

.tabletserviceplugindeliveries .group-g222xJ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .title-kAHKlZ {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletserviceplugindeliveries .group-mgzXEC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-77zxkY {
  color: var(--shark);
  font-weight: 500;
}

.tabletserviceplugindeliveries .button-4qjIxd {
  left: -2px;
  top: -2px;
}

.tabletserviceplugindeliveries .group-kslcKz {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-V1hq4S {
  color: var(--shark);
  font-weight: 500;
}

.tabletserviceplugindeliveries .button-6t235E {
  left: -2px;
  top: -2px;
}

.tabletserviceplugindeliveries .group-Wj0tZ0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-aVhVDn {
  color: var(--shark);
  font-weight: 500;
}

.tabletserviceplugindeliveries .button-29B79o {
  left: -2px;
  top: -2px;
}

.tabletserviceplugindeliveries .group-G3Nfu2 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-tDQRP4 {
  color: var(--shark);
  font-weight: 500;
}

.tabletserviceplugindeliveries .button-yJFBLk {
  left: -2px;
  top: -2px;
}

.tabletserviceplugindeliveries .group-AtsLBd {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-wLYPB9 {
  color: var(--shark);
  font-weight: 500;
}

.tabletserviceplugindeliveries .button-8rr6FG {
  left: -2px;
  top: -2px;
}

.tabletserviceplugindeliveries .group-94iGxC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x1-depth-title-UvPR3q {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletserviceplugindeliveries .web-expanded-94iGxC {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletserviceplugindeliveries .button-NbnxoD {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletserviceplugindeliveries .group-ZOvhAk {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-c88Qyb {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-otf22w {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-uEEFMs {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-vxt8rn {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-QstQ8s {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-xYBlXl {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-UQa7nI {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-3uNqGL {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-fxhCwU {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletserviceplugindeliveries .group-htkEfe {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-BIZq7c {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-yxWydm {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-fAflNM {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-OU9H4x {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-eB4nCy {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-DLNsQg {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-e37hTa {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-Px8AYC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-wSG9cd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-lsb8xM {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-wT6spV {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-5SpesY {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-IrUYhh {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .group-2UavL0 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletserviceplugindeliveries .x2-death-title-uTezKy {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletserviceplugindeliveries .line-J4VlX8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletserviceplugindeliveries .home-net-gui-guidelin-J4VlX8 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletserviceplugindeliveries .webgnb-FXMz88 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletserviceplugindeliveries .rectangle-rkYXni {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletserviceplugindeliveries .background-rkYXni {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletserviceplugindeliveries .index-rkYXni {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletserviceplugindeliveries .web-index-select-iht5Q2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletserviceplugindeliveries .web-index-unselect-iht5Q2 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletserviceplugindeliveries .web-index-unelect_main-rkYXni {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletserviceplugindeliveries .logo-F25ZqO {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletserviceplugindeliveries .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.tabletserviceplugindeliveries .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletserviceplugindeliveries .group-3 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletserviceplugindeliveries .group-3-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.tabletserviceplugindeliveries .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.tabletserviceplugindeliveries .table-guide-text1line-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletserviceplugindeliveries .table-guide-text1line-copy-2 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletserviceplugindeliveries .table-guide-text2line {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletserviceplugindeliveries .table-guide-text2line-copy {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletserviceplugindeliveries .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletserviceplugindeliveries .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
