/* screen - tabletservicepluginvehicleinformationfeaturel */

.tabletservicepluginvehicleinformationfeaturel {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginvehicleinformationfeaturel .group-7-ivqaBk {
  background-color: transparent;
  height: 431px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.tabletservicepluginvehicleinformationfeaturel .group-4-ivqaBk {
  background-color: transparent;
  height: 180px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.tabletservicepluginvehicleinformationfeaturel .group-3-148Bdz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text2line-ckhdSo {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text1line-ckhdSo {
  left: 410px;
  width: 270px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text1line-OVxAx8 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginvehicleinformationfeaturel .group-3-copy-148Bdz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text2line-copy-KvuPWE {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text1line-copy-KvuPWE {
  background-color: transparent;
  height: 37px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text1line-copy-2-KvuPWE {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginvehicleinformationfeaturel .descriptiontabletop-148Bdz {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginvehicleinformationfeaturel .web-sub_-title-ivqaBk {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 678px;
}

.tabletservicepluginvehicleinformationfeaturel .sub-title-823FAe {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginvehicleinformationfeaturel .web-title-area-ivqaBk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginvehicleinformationfeaturel .web-tab-service-plug-in_-home-screen-ivqaBk {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletservicepluginvehicleinformationfeaturel .x3rd-depth-e73hz4 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginvehicleinformationfeaturel .tab-XaX1fC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletservicepluginvehicleinformationfeaturel .feature-helSfs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluginvehicleinformationfeaturel .feature-480-w-67-helSfs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 195px;
}

.tabletservicepluginvehicleinformationfeaturel .vehicle-information-helSfs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 337px;
}

.tabletservicepluginvehicleinformationfeaturel .lnb-service-plug-in-ivqaBk {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .rectangle-bF8pNZ {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .lnb-bF8pNZ {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .stacked-group-AqAZi8 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .web-index-title-common-copy-dTTxxv {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .group-tU0Nu6 {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-copy-dTTxxv {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .empty-copy-7jvjLK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .line-copy-2-7jvjLK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginvehicleinformationfeaturel .empty-copy-2-7jvjLK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginvehicleinformationfeaturel .group-aGFqco {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-dTTxxv {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.tabletservicepluginvehicleinformationfeaturel .empty-9SLpB5 {
  top: 21px;
}

.tabletservicepluginvehicleinformationfeaturel .empty-THjxxK {
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-ksEwWV {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-SBdMDm {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
}

.tabletservicepluginvehicleinformationfeaturel .empty-iXT850 {
  top: 21px;
}

.tabletservicepluginvehicleinformationfeaturel .empty-G8SIlI {
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-LM23rR {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .group-HOxMSY {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-2mRjuH {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .button-nYic8x {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvehicleinformationfeaturel .group-IXMQkO {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-JCqlRE {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .button-DFtBu0 {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvehicleinformationfeaturel .group-BIbQYk {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-9OTFS2 {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .button-tpuR9x {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvehicleinformationfeaturel .group-JiNlnO {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-IxxAej {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .button-5hiJpQ {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvehicleinformationfeaturel .group-qIUADt {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-4TNlu5 {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .button-pREgKL {
  left: -2px;
  top: -2px;
}

.tabletservicepluginvehicleinformationfeaturel .group-KyTvQl {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x1-depth-title-F2tGJ9 {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginvehicleinformationfeaturel .web-expanded-KyTvQl {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginvehicleinformationfeaturel .button-vbMtxq {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginvehicleinformationfeaturel .group-fCl5MQ {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-8KUhIL {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-8dmDix {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-pwucr5 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-CJodMu {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-mBfFxe {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-cQCNnI {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-Tt1Y1H {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-EEHGru {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-omBylt {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-xDc4KH {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-TU7KrC {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginvehicleinformationfeaturel .group-SuRFrx {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-KP1vAA {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-op4RcT {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-dSmjv1 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-7AUV8g {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-xg1cKI {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-e8x5te {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-j9Awnh {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-G3sv65 {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-1lHg1P {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-nMIw1l {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-xJYrtJ {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .group-YIznUN {
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title-bLhXqU {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginvehicleinformationfeaturel .line-AqAZi8 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginvehicleinformationfeaturel .home-net-gui-guidelin-AqAZi8 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginvehicleinformationfeaturel .webgnb-ivqaBk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginvehicleinformationfeaturel .rectangle-XHIeSr {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluginvehicleinformationfeaturel .background-XHIeSr {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginvehicleinformationfeaturel .index-XHIeSr {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginvehicleinformationfeaturel .web-index-select-uwTJiq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginvehicleinformationfeaturel .web-index-unselect-uwTJiq {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginvehicleinformationfeaturel .web-index-unelect_main-XHIeSr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginvehicleinformationfeaturel .logo-DxN8gx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginvehicleinformationfeaturel .table-guide-text1line {
  background-color: transparent;
  height: 37px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginvehicleinformationfeaturel .title {
  background-color: transparent;
  color: var(--shark);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 12px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginvehicleinformationfeaturel .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
