/* screen - tabletservicepluginliveviewcard */

.tabletservicepluginliveviewcard {
  background-color: var(--white);
  height: 3031px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewcard .group-6-Pne0yM {
  background-color: transparent;
  height: 1147px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 670px;
}

.tabletservicepluginliveviewcard .group-5-Pne0yM {
  background-color: transparent;
  height: 1138px;
  left: 420px;
  position: absolute;
  top: 1693px;
  width: 680px;
}

.tabletservicepluginliveviewcard .group-4-Pne0yM {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.tabletservicepluginliveviewcard .table-guide-text2line-copy-e8VMgl {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewcard .rectangle-NHTTrd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewcard .group-NHTTrd {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewcard .title-7a6hXa {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewcard .table-guide-text1line-copy-e8VMgl {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewcard .rectangle-wmhe6O {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewcard .contents-wmhe6O {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluginliveviewcard .table-guide-text1line-copy-2-e8VMgl {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewcard .rectangle-bCn9ho {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewcard .contents-bCn9ho {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginliveviewcard .descriptiontabletop-M2jWyZ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewcard .table-guide-title-rLlGIF {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewcard .rectangle-BgfQxM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewcard .table-title-text-BgfQxM {
  width: 258px;
}

.tabletservicepluginliveviewcard .table-guide-title-exyKdw {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewcard .rectangle-7DPxWU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewcard .table-title-text-7DPxWU {
  width: 328px;
}

.tabletservicepluginliveviewcard .table-guide-title-1nIzu3 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewcard .rectangle-8ph7wW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewcard .table-title-text-8ph7wW {
  width: 38px;
}

.tabletservicepluginliveviewcard .group-4-copy-Pne0yM {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 1693px;
  width: 680px;
}

.tabletservicepluginliveviewcard .table-guide-text2line-copy-2-ct28b0 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewcard .rectangle-RmHeSh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewcard .group-RmHeSh {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewcard .title-WHGIyv {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewcard .table-guide-text1line-copy-3-ct28b0 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewcard .rectangle-SH0FTS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewcard .contents-SH0FTS {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.tabletservicepluginliveviewcard .table-guide-text1line-copy-4-ct28b0 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewcard .rectangle-qrUra0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewcard .contents-qrUra0 {
  color: var(--black);
  font-weight: 400;
  width: 38px;
}

.tabletservicepluginliveviewcard .descriptiontabletop-copy-AVkzlx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewcard .table-guide-title-uAyzxG {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewcard .rectangle-xxYxOg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewcard .table-title-text-xxYxOg {
  width: 258px;
}

.tabletservicepluginliveviewcard .table-guide-title-LcJSX1 {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewcard .rectangle-FY88RK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewcard .table-title-text-FY88RK {
  width: 328px;
}

.tabletservicepluginliveviewcard .table-guide-title-8ROhjx {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewcard .rectangle-R0orFL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewcard .table-title-text-R0orFL {
  width: 38px;
}

.tabletservicepluginliveviewcard .web-sub_-title-Pne0yM {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 360px;
}

.tabletservicepluginliveviewcard .sub-title-scsEpu {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginliveviewcard .web-title-area-Pne0yM {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginliveviewcard .web-tab-service-plug-in_-home-screen-Pne0yM {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.tabletservicepluginliveviewcard .x3rd-depth-rXXwDF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginliveviewcard .live-view_-feature_-ca-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 149px;
}

.tabletservicepluginliveviewcard .live-view_-feature_-po-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluginliveviewcard .incoming-call_-flow_m-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.tabletservicepluginliveviewcard .flow_-front-door-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.tabletservicepluginliveviewcard .flow_-home-screen-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.tabletservicepluginliveviewcard .flow_-back-key-pBnVgH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.tabletservicepluginliveviewcard .x3rd-depth-copy-rXXwDF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluginliveviewcard .feature_-basic_layout-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 181px;
}

.tabletservicepluginliveviewcard .feature_-main-entranc-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.tabletservicepluginliveviewcard .feature_-front-door-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 121px;
}

.tabletservicepluginliveviewcard .feature_-call-end-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.tabletservicepluginliveviewcard .feature_-back-key-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.tabletservicepluginliveviewcard .feature_-exceptional-xPbKsN {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.tabletservicepluginliveviewcard .lnb-service-plug-in-Pne0yM {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .rectangle-m0ft0g {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluginliveviewcard .lnb-m0ft0g {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .stacked-group-bTQbjC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginliveviewcard .web-index-title-common-copy-TL47vi {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewcard .group-oteO4J {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .title-mfSdMs {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewcard .group-copy-TL47vi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewcard .empty-copy-R1rCRj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewcard .line-copy-2-R1rCRj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewcard .empty-copy-2-R1rCRj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .group-DQV276 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .title-ITsKaN {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewcard .group-TL47vi {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewcard .empty-XLDd0D {
  top: 21px;
}

.tabletservicepluginliveviewcard .empty-gIxjmp {
  top: 0px;
}

.tabletservicepluginliveviewcard .group-aPmJtI {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .title-HU9L6j {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewcard .group-IQy9HI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewcard .empty-w62mIO {
  top: 21px;
}

.tabletservicepluginliveviewcard .empty-k1I9B1 {
  top: 0px;
}

.tabletservicepluginliveviewcard .group-v0krQw {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .title-SzMsyf {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewcard .group-vixAcB {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-sI7WCR {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .button-153REq {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewcard .group-5xI2cZ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-zR4aee {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .button-XzeDfs {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewcard .group-bAyRgf {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-tV1RIz {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .button-Zq6DJE {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewcard .group-KEjLcl {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-qIutvb {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .button-rwrykV {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewcard .group-x0JzmQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-u3xWZE {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .button-hfmi0B {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewcard .group-wRjyZF {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x1-depth-title-xio1th {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginliveviewcard .web-expanded-wRjyZF {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginliveviewcard .button-k9Hzft {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginliveviewcard .group-8VkKjy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-aq5alE {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-V8CFuc {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-i8jj3Y {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-dIGwcq {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-05jSeb {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-xLIaD7 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-dmOJnA {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-xSwB9g {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-ViVxNG {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-91pwNR {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-wvSxBT {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-ILGtyn {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-ju03V5 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-H3xybj {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-7K1jMa {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-5cQxQh {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-JodUQc {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-REroxN {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-Q6KHw6 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-1GA8dh {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-DqvoIh {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-29KWmm {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-QxCH2w {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewcard .group-0ZLzV1 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewcard .x2-death-title-jntO5Q {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginliveviewcard .line-bTQbjC {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginliveviewcard .home-net-gui-guidelin-bTQbjC {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginliveviewcard .webgnb-Pne0yM {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewcard .rectangle-Oz4GnE {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluginliveviewcard .background-Oz4GnE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewcard .index-Oz4GnE {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginliveviewcard .web-index-select-rEcEXD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginliveviewcard .web-index-unselect-rEcEXD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginliveviewcard .web-index-unelect_main-Oz4GnE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginliveviewcard .logo-GjExRk {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginliveviewcard .content {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluginliveviewcard .contents {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.tabletservicepluginliveviewcard .group-3-copy {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewcard .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletservicepluginliveviewcard .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
