/* screen - tabletservicepluginliveviewfeaturebackkey */

.tabletservicepluginliveviewfeaturebackkey {
  background-color: var(--white);
  height: 5174px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginliveviewfeaturebackkey .group-14-u5rM16 {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 2916px;
  width: 660px;
}

.tabletservicepluginliveviewfeaturebackkey .group-6-u5rM16 {
  background-color: transparent;
  height: 728px;
  left: 419px;
  position: absolute;
  top: 396px;
  width: 670px;
}

.tabletservicepluginliveviewfeaturebackkey .group-10-u5rM16 {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 2020px;
  width: 690px;
}

.tabletservicepluginliveviewfeaturebackkey .group-16-u5rM16 {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 3572px;
  width: 690px;
}

.tabletservicepluginliveviewfeaturebackkey .group-18-u5rM16 {
  background-color: transparent;
  height: 506px;
  left: 400px;
  position: absolute;
  top: 4468px;
  width: 660px;
}

.tabletservicepluginliveviewfeaturebackkey .group-8-u5rM16 {
  background-color: transparent;
  height: 538px;
  left: 419px;
  position: absolute;
  top: 1274px;
  width: 642px;
}

.tabletservicepluginliveviewfeaturebackkey .group-32-u5rM16 {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .descriptiontabletop-llcczx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-2MpCCz {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-gjjLiE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-gjjLiE {
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-Qdhwhu {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-Yk67xM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-Yk67xM {
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-RjHQuV {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-NtdQzX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-NtdQzX {
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .group-31-llcczx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-5-r0DO9g {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-WYkVU5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-WYkVU5 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-2-r0DO9g {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-y2xeo9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-y2xeo9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-8-r0DO9g {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-LSbE2s {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .group-LSbE2s {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .title-zlFU8z {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-30-u5rM16 {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2020px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .descriptiontabletop-copy-RqLAh3 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-lkTGoC {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-kOR4ob {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-kOR4ob {
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-LpzMfn {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-n4SNJU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-n4SNJU {
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-APheID {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-1VxDKJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-1VxDKJ {
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .group-29-RqLAh3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-6-XanPzV {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-P53axc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-P53axc {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-3-XanPzV {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-UKf43x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-UKf43x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-9-XanPzV {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-7C54xG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-7C54xG {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-28-RqLAh3 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-7-d5jVxY {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-xWqMEw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-xWqMEw {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-4-d5jVxY {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-VehbkZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-VehbkZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-10-d5jVxY {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-WVHpu0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .group-WVHpu0 {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .title-xxn0vF {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-24-u5rM16 {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 3572px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .descriptiontabletop-copy-3-DVCnb3 {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-kyRlUv {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-W5eT8X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-W5eT8X {
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-tYmswx {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-4n3H3U {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-4n3H3U {
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-y0oFiM {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-GRIEvr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-GRIEvr {
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .group-23-DVCnb3 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-15-DEMSJf {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-AGAMUu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-AGAMUu {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-13-DEMSJf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-zy1Hrz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-zy1Hrz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-14-DEMSJf {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-fZnjVX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-fZnjVX {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-22-DVCnb3 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-14-exPmkb {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-oGZa3x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-oGZa3x {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-12-exPmkb {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-8e1qSv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-8e1qSv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-13-exPmkb {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-xYDJwc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .group-xYDJwc {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .title-sxlP1L {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-21-u5rM16 {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 4468px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .descriptiontabletop-copy-4-4XdEuU {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-sfzzap {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-FwbtLz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-FwbtLz {
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-gN77Ue {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-M08eBv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-M08eBv {
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-HxdNCx {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-APy97h {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-APy97h {
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .group-20-4XdEuU {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-19-97JCX1 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-RIfTLc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-RIfTLc {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-17-97JCX1 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-2x5yof {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-2x5yof {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-16-97JCX1 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-MnV7c9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-MnV7c9 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-19-4XdEuU {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-18-9dhfCH {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-FHYz4G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-FHYz4G {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-16-9dhfCH {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-o6InJ4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-o6InJ4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-15-9dhfCH {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-3i5x0K {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .group-3i5x0K {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .title-xwDCgB {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-27-u5rM16 {
  background-color: transparent;
  height: 202px;
  left: 1140px;
  position: absolute;
  top: 2916px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .descriptiontabletop-copy-2-7Hjcxx {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-eV9Bo8 {
  left: 410px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-kqa36N {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-kqa36N {
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-Y9HF0n {
  left: 60px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-Y179xG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-Y179xG {
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-title-mXFlYU {
  left: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-01XLsV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .table-title-text-01XLsV {
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .group-25-7Hjcxx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-11-x8RsKT {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-ZZ8C1s {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-ZZ8C1s {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-9-x8RsKT {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-oxyhGd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-oxyhGd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-12-x8RsKT {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-fcPvU3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-fcPvU3 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .group-26-7Hjcxx {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-10-FBeYxf {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-Ftp0Rn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-Ftp0Rn {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text1line-copy-8-FBeYxf {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-tsivZx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.tabletservicepluginliveviewfeaturebackkey .contents-tsivZx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginliveviewfeaturebackkey .table-guide-text2line-copy-11-FBeYxf {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-Bx7AIJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.tabletservicepluginliveviewfeaturebackkey .group-Bx7AIJ {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .title-LO3E5F {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .web-sub_-title-copy-u5rM16 {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 1962px;
  width: 1600px;
}

.tabletservicepluginliveviewfeaturebackkey .web-sub_-title-u5rM16 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 451px;
}

.tabletservicepluginliveviewfeaturebackkey .sub-title-0Mkram {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginliveviewfeaturebackkey .web-title-area-u5rM16 {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginliveviewfeaturebackkey .web-tab-service-plug-in_-home-screen-u5rM16 {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.tabletservicepluginliveviewfeaturebackkey .x3rd-depth-yPoKqc {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginliveviewfeaturebackkey .live-view_-feature_-ca-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 148px;
}

.tabletservicepluginliveviewfeaturebackkey .live-view_-feature_-po-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 159px;
}

.tabletservicepluginliveviewfeaturebackkey .incoming-call_-flow_m-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.tabletservicepluginliveviewfeaturebackkey .flow_-front-door-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.tabletservicepluginliveviewfeaturebackkey .flow_-home-screen-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.tabletservicepluginliveviewfeaturebackkey .flow_-back-key-lt3hlL {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.tabletservicepluginliveviewfeaturebackkey .x3rd-depth-copy-yPoKqc {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-basic_layout-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 181px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-main-entranc-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-front-door-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 121px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-call-end-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-back-key-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 111px;
}

.tabletservicepluginliveviewfeaturebackkey .feature_-exceptional-O0KMa4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 160px;
}

.tabletservicepluginliveviewfeaturebackkey .lnb-service-plug-in-u5rM16 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-XSzgk2 {
  background-color: var(--concrete);
  height: 1351px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .lnb-XSzgk2 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .stacked-group-kSdxmX {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .web-index-title-common-copy-1xTPoF {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .group-miVoZ4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .title-abxkNk {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewfeaturebackkey .group-copy-1xTPoF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-copy-WYT0ks {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .line-copy-2-WYT0ks {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-copy-2-WYT0ks {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .group-Miwzug {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .title-zX2V7A {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewfeaturebackkey .group-1xTPoF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-aHLqdU {
  top: 21px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-g0LD3O {
  top: 0px;
}

.tabletservicepluginliveviewfeaturebackkey .group-5uOJX3 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .title-8xE4p6 {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewfeaturebackkey .group-Mx7Mhh {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-Mj1ZLp {
  top: 21px;
}

.tabletservicepluginliveviewfeaturebackkey .empty-xDzOlR {
  top: 0px;
}

.tabletservicepluginliveviewfeaturebackkey .group-rBe2Cg {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .title-qUz2DQ {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginliveviewfeaturebackkey .group-rlTo7M {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-Subcwp {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .button-ezLxgO {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewfeaturebackkey .group-sLdxIA {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-PCrJTF {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .button-V2ybON {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewfeaturebackkey .group-LxV0xx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-IDQegd {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .button-7jPaMI {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewfeaturebackkey .group-Y52D7K {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-FBQxxK {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .button-9929Ir {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewfeaturebackkey .group-tTAHd4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-ci10Z2 {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .button-6drDW3 {
  left: -2px;
  top: -2px;
}

.tabletservicepluginliveviewfeaturebackkey .group-qbPbN9 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x1-depth-title-j9R33k {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginliveviewfeaturebackkey .web-expanded-qbPbN9 {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginliveviewfeaturebackkey .button-VpYcOr {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginliveviewfeaturebackkey .group-2XZ7E9 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-Y84x4E {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-sM51kC {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-fPJQMA {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-g6xeyP {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-ttrKD6 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-pDxiz4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-wvYmug {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-DMM5ug {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-EiUvmK {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-JsWzVR {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-W77wBj {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-GjuVMJ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-BrxCLm {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-jl5kly {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-QmznsN {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-Q2WH9Q {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-3HzoXN {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-RXNDNi {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-75QgXd {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-4u9YBB {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-PZdLxx {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-kvEYyB {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-vkgXhl {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginliveviewfeaturebackkey .group-85zV6W {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title-uCfk7u {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginliveviewfeaturebackkey .line-kSdxmX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginliveviewfeaturebackkey .home-net-gui-guidelin-kSdxmX {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginliveviewfeaturebackkey .webgnb-u5rM16 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewfeaturebackkey .rectangle-uvYol7 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletservicepluginliveviewfeaturebackkey .background-uvYol7 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginliveviewfeaturebackkey .index-uvYol7 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginliveviewfeaturebackkey .web-index-select-ksZlZC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginliveviewfeaturebackkey .web-index-unselect-ksZlZC {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginliveviewfeaturebackkey .web-index-unelect_main-uvYol7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginliveviewfeaturebackkey .logo-9gmC9L {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginliveviewfeaturebackkey .content {
  background-color: transparent;
  color: var(--lochmara);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluginliveviewfeaturebackkey .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.tabletservicepluginliveviewfeaturebackkey .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletservicepluginliveviewfeaturebackkey .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
