/* screen - tabletservicepluginhomescreeneditfeature */

.tabletservicepluginhomescreeneditfeature {
  background-color: var(--white);
  height: 2705px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletservicepluginhomescreeneditfeature .group-6-lR8TyV {
  background-color: transparent;
  height: 696px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 670px;
}

.tabletservicepluginhomescreeneditfeature .group-copy-2-lR8TyV {
  background-color: transparent;
  height: 506px;
  left: 420px;
  position: absolute;
  top: 1242px;
  width: 670px;
}

.tabletservicepluginhomescreeneditfeature .group-copy-3-lR8TyV {
  background-color: transparent;
  height: 608px;
  left: 419px;
  position: absolute;
  top: 1898px;
  width: 670px;
}

.tabletservicepluginhomescreeneditfeature .group-4-lR8TyV {
  background-color: transparent;
  height: 135px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .group-3-1gelZK {
  height: 79px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text2line-wSsK5x {
  height: 73px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-ixGwyg {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .group-ixGwyg {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .title-uhmP8l {
  color: var(--persian-green);
  height: 20px;
  left: 0px;
  line-height: 20px;
  opacity: 0.8;
  top: 0px;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .contents-uhmP8l {
  color: var(--lochmara);
  height: 40px;
  left: 0px;
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-wSsK5x {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-k8cxrP {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .contents-k8cxrP {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-g8nKpu {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-uuLQMQ {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .contents-uuLQMQ {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-zS1NP6 {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-vLT1es {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-vLT1es {
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-4yAiRi {
  left: 60px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-dqjSu7 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-dqjSu7 {
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-fRBaR1 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-enttBp {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-enttBp {
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .group-4-copy-lR8TyV {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 1242px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .group-3-qI5OhS {
  height: 57px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text2line-iO8q1j {
  height: 51px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-da8dV4 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .contents-da8dV4 {
  color: var(--lochmara);
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-iO8q1j {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-IJ798R {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .contents-IJ798R {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-7cL8va {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-6bW0HE {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .contents-6bW0HE {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-Hx9aGW {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-PCmsxU {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-PCmsxU {
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-dxZ1vo {
  left: 60px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-bf1o5I {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-bf1o5I {
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-BgFaVx {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-Xyg1zX {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-Xyg1zX {
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .group-4-copy-2-lR8TyV {
  background-color: transparent;
  height: 160px;
  left: 1140px;
  position: absolute;
  top: 1898px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .group-3-GoHuQ5 {
  height: 37px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text2line-P5l4Rz {
  height: 31px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-TunQm0 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .contents-TunQm0 {
  color: var(--lochmara);
  height: 20px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-P5l4Rz {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-iUHzd7 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .contents-iUHzd7 {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-50AW43 {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-NaEMDs {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .contents-NaEMDs {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .group-3-copy-GoHuQ5 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text2line-RVxzuT {
  height: 51px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-K8Dkl0 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .contents-K8Dkl0 {
  color: var(--lochmara);
  height: 40px;
  left: 6px;
  text-decoration: underline;
  top: 11px;
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-RVxzuT {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-3MxcbH {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .contents-3MxcbH {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line-OLKJ3J {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-dPtuhx {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .contents-dPtuhx {
  color: var(--black);
  height: 20px;
  left: 6px;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-6MbJod {
  left: 410px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-Chz3wv {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-Chz3wv {
  width: 258px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-hHa8SC {
  left: 60px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-LjzBJD {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-LjzBJD {
  width: 328px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-title-1gZg2P {
  left: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-xnvkrp {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tabletservicepluginhomescreeneditfeature .table-title-text-xnvkrp {
  width: 38px;
}

.tabletservicepluginhomescreeneditfeature .web-sub_-title-lR8TyV {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 360px;
}

.tabletservicepluginhomescreeneditfeature .sub-title-gaq9Lk {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.tabletservicepluginhomescreeneditfeature .rectangle-lR8TyV {
  background-color: var(--white);
  height: 14px;
  left: 320px;
  position: absolute;
  top: 64px;
  width: 15px;
}

.tabletservicepluginhomescreeneditfeature .web-title-area-lR8TyV {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletservicepluginhomescreeneditfeature .web-tab-service-plug-in_-home-screen-lR8TyV {
  background-color: transparent;
  height: 100px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.tabletservicepluginhomescreeneditfeature .x3rd-depth-RpGaUr {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.tabletservicepluginhomescreeneditfeature .feature-p5ZHAC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.tabletservicepluginhomescreeneditfeature .feature_-shortcut_-def-p5ZHAC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 193px;
}

.tabletservicepluginhomescreeneditfeature .feature_-shortcut_-bra-p5ZHAC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 185px;
}

.tabletservicepluginhomescreeneditfeature .banner_-p5ZHAC {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 135px;
}

.tabletservicepluginhomescreeneditfeature .x3rd-depth-copy-RpGaUr {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 53px;
  width: 1600px;
}

.tabletservicepluginhomescreeneditfeature .more-w9BG27 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 32px;
}

.tabletservicepluginhomescreeneditfeature .edit-_-feature-w9BG27 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.tabletservicepluginhomescreeneditfeature .notifications-_-feat-w9BG27 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.tabletservicepluginhomescreeneditfeature .help-guide-w9BG27 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.tabletservicepluginhomescreeneditfeature .service-feature-w9BG27 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.tabletservicepluginhomescreeneditfeature .lnb-service-plug-in-lR8TyV {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-7l4R14 {
  background-color: var(--concrete);
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .lnb-7l4R14 {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .stacked-group-nXvxVg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .web-index-title-common-copy-fGlLzF {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .group-rb8v5r {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .title-iINNq8 {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreeneditfeature .group-copy-fGlLzF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .empty-copy-GUil1e {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .line-copy-2-GUil1e {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletservicepluginhomescreeneditfeature .empty-copy-2-GUil1e {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .group-5Eyr12 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .title-0KzwIy {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreeneditfeature .group-fGlLzF {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .empty-eshuD2 {
  top: 21px;
}

.tabletservicepluginhomescreeneditfeature .empty-8gEqUx {
  top: 0px;
}

.tabletservicepluginhomescreeneditfeature .group-i4fP5G {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .title-ZzuCNo {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreeneditfeature .group-kt29FA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .empty-6RBGfd {
  top: 21px;
}

.tabletservicepluginhomescreeneditfeature .empty-3xPT8n {
  top: 0px;
}

.tabletservicepluginhomescreeneditfeature .group-G8MPUV {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .title-wYx90B {
  color: var(--shark);
  height: auto;
  left: 30px;
  line-height: 22px;
  top: 12px;
  width: auto;
}

.tabletservicepluginhomescreeneditfeature .group-hkrN2v {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-OWXUuh {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .button-ABkYWy {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreeneditfeature .group-hK41uy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-nDgJxw {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .button-xvKxHb {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreeneditfeature .group-kGMYrm {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-UaMpCL {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .button-QtBPTh {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreeneditfeature .group-vyrP4A {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-1ZKOsy {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .button-a5pEa8 {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreeneditfeature .group-FiPFsB {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-CF1ICT {
  color: var(--shark);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .button-nVx7c9 {
  left: -2px;
  top: -2px;
}

.tabletservicepluginhomescreeneditfeature .group-msJoXJ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x1-depth-title-UP4xcO {
  color: var(--curious-blue);
  font-weight: 600;
}

.tabletservicepluginhomescreeneditfeature .web-expanded-msJoXJ {
  background-color: transparent;
  height: 5px;
  left: 27px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  width: 10px;
}

.tabletservicepluginhomescreeneditfeature .button-8ycxJ2 {
  left: 1px;
  top: -4px;
  transform: rotate(90deg);
}

.tabletservicepluginhomescreeneditfeature .group-ruOonx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-fbpR2z {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-evugxD {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-gGMKF3 {
  color: var(--curious-blue);
  font-weight: 500;
}

.tabletservicepluginhomescreeneditfeature .group-qraFEy {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-AjhkUV {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-0tyNMP {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-1PQsgA {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-SweGbQ {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-OyxOrv {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-f1yxwM {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-htgG9s {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-0VD8X4 {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-z3vxK3 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-6Xis5V {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-AQlurf {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-ZSUojX {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-u9v61R {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-rFKhHO {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-Mi6UOh {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-2JtSZs {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-gDqdv0 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-LWV7qT {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-JfaEYY {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .group-5ufxOi {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 320px;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title-G3Npr9 {
  color: var(--sonic-silver);
  font-weight: 400;
}

.tabletservicepluginhomescreeneditfeature .line-nXvxVg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletservicepluginhomescreeneditfeature .home-net-gui-guidelin-nXvxVg {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.tabletservicepluginhomescreeneditfeature .webgnb-lR8TyV {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginhomescreeneditfeature .rectangle-sV3itK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginhomescreeneditfeature .background-sV3itK {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletservicepluginhomescreeneditfeature .index-sV3itK {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.tabletservicepluginhomescreeneditfeature .web-index-select-UkhWPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletservicepluginhomescreeneditfeature .web-index-unselect-UkhWPo {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletservicepluginhomescreeneditfeature .web-index-unelect_main-sV3itK {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletservicepluginhomescreeneditfeature .logo-wMhK3M {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletservicepluginhomescreeneditfeature .contents {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.tabletservicepluginhomescreeneditfeature .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .group-3 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.tabletservicepluginhomescreeneditfeature .table-guide-text2line {
  background-color: transparent;
  cursor: pointer;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tabletservicepluginhomescreeneditfeature .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.tabletservicepluginhomescreeneditfeature .x2-death-title {
  background-color: transparent;
  font-style: normal;
  height: 46px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 252px;
}
