/* screen - devicepluginsaloggingthermostat */

.devicepluginsaloggingthermostat {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1911px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginsaloggingthermostat .group-6-za3mKF {
  background-color: transparent;
  height: 1369px;
  left: 417px;
  position: absolute;
  top: 342px;
  width: 1404px;
}

.devicepluginsaloggingthermostat .web-sub_-title-za3mKF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsaloggingthermostat .web-title-area-za3mKF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsaloggingthermostat .web-tab-device-plug-in_-smart-lock-za3mKF {
  background-color: transparent;
  height: 17px;
  left: 420px;
  position: fixed;
  top: 187px;
  width: 1202px;
}

.devicepluginsaloggingthermostat .x3rd-depth-TxeL8L {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1202px;
}

.devicepluginsaloggingthermostat .tab-tQzHM2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginsaloggingthermostat .sa-logging-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingthermostat .gas-valve-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 63px;
}

.devicepluginsaloggingthermostat .elevator-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.devicepluginsaloggingthermostat .light-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.devicepluginsaloggingthermostat .thermostat-copy-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 73px;
}

.devicepluginsaloggingthermostat .air-conditioner-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.devicepluginsaloggingthermostat .vent-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.devicepluginsaloggingthermostat .curtain-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 46px;
}

.devicepluginsaloggingthermostat .integrated-switch-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.devicepluginsaloggingthermostat .smart-plug-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.devicepluginsaloggingthermostat .smart-lock-vjxGtU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingthermostat .lnb-device-plug-in-za3mKF {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingthermostat .rectangle-mATouS {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingthermostat .stacked-group-mATouS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-title-common-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-H3xwlD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-3bkoKw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-aa51nY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-IF1xBR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-QU2o7z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .group-ssDhVo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .empty-v3MT0n {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingthermostat .line-copy-v3MT0n {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingthermostat .empty-5zPXVS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-title-reference-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-duxCkT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-Td7kgR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_open_selected-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-H3xwlD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-3bkoKw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-aa51nY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-IF1xBR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-QU2o7z {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-duxCkT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-Td7kgR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-pnUBgR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-1dDYjD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-1gctHU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-wxtHJN {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-copy-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents2dpeth-BaCkd8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-contents1dpeth_close-pnUBgR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .group-H3xwlD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .empty-vRBQiX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingthermostat .line-copy-vRBQiX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingthermostat .empty-qMJG4S {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-title-reference-H3xwlD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingthermostat .group-copy-ssDhVo {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingthermostat .empty-copy-jNqAxg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingthermostat .line-copy-2-jNqAxg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingthermostat .empty-copy-2-jNqAxg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingthermostat .web-index-title-reference-copy-ssDhVo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingthermostat .line-mATouS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsaloggingthermostat .home-net-ui-guideline-mATouS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginsaloggingthermostat .webgnb-za3mKF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingthermostat .rectangle-Ek94k6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingthermostat .background-Ek94k6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingthermostat .index-Ek94k6 {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginsaloggingthermostat .web-index-select-LH5lBy {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginsaloggingthermostat .web-index-unselect-LH5lBy {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginsaloggingthermostat .web-index-unelect_main-Ek94k6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginsaloggingthermostat .logo-Pfcm0J {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
