/* screen - devicepluginbasicinteractiontimeroutine */

.devicepluginbasicinteractiontimeroutine {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 5280px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginbasicinteractiontimeroutine .group-5-UxKxfU {
  background-color: transparent;
  height: 774px;
  left: 420px;
  position: absolute;
  top: 4306px;
  width: 1400px;
}

.devicepluginbasicinteractiontimeroutine .group-6-UxKxfU {
  background-color: transparent;
  height: 948px;
  left: 420px;
  position: absolute;
  top: 3158px;
  width: 1400px;
}

.devicepluginbasicinteractiontimeroutine .group-7-UxKxfU {
  background-color: transparent;
  height: 714px;
  left: 420px;
  position: absolute;
  top: 2244px;
  width: 1400px;
}

.devicepluginbasicinteractiontimeroutine .group-8-UxKxfU {
  background-color: transparent;
  height: 715px;
  left: 420px;
  position: absolute;
  top: 1330px;
  width: 1400px;
}

.devicepluginbasicinteractiontimeroutine .group-9-UxKxfU {
  background-color: transparent;
  height: 789px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.devicepluginbasicinteractiontimeroutine .web-sub_-title_w-description-UxKxfU {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginbasicinteractiontimeroutine .web-title-area-UxKxfU {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginbasicinteractiontimeroutine .web-tab-device-plug-UxKxfU {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginbasicinteractiontimeroutine .x3rd-depth-8Kr15U {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginbasicinteractiontimeroutine .information-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 800px;
  position: absolute;
  top: 0px;
  width: 74px;
}

.devicepluginbasicinteractiontimeroutine .refresh-rule-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 924px;
  position: absolute;
  top: 0px;
  width: 76px;
}

.devicepluginbasicinteractiontimeroutine .time-routine-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1050px;
  position: absolute;
  top: 0px;
  width: 94px;
}

.devicepluginbasicinteractiontimeroutine .capability-_-graph-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1194px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginbasicinteractiontimeroutine .activity-history-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1361px;
  position: absolute;
  top: 0px;
  width: 89px;
}

.devicepluginbasicinteractiontimeroutine .save-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 720px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.devicepluginbasicinteractiontimeroutine .change-icon-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 594px;
  position: absolute;
  top: 0px;
  width: 76px;
}

.devicepluginbasicinteractiontimeroutine .change-device-name-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 417px;
  position: absolute;
  top: 0px;
  width: 127px;
}

.devicepluginbasicinteractiontimeroutine .add-to-home-screen-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 243px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.devicepluginbasicinteractiontimeroutine .remove-device-TCHqcw {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 93px;
}

.devicepluginbasicinteractiontimeroutine .lnb-device-plug-in-UxKxfU {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .rectangle-Q0JZyU {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .stacked-group-Q0JZyU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-title-common-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-fx4WxT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-R9LxLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-6kUgsy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-JAuApO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-5v5E35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .group-MRUcix {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .empty-L3AIGP {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .line-copy-L3AIGP {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractiontimeroutine .empty-6xANsQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-title-reference-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-NZupXK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-VRmKKL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_open_selected-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-fx4WxT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-R9LxLf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-6kUgsy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-JAuApO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-5v5E35 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-NZupXK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-VRmKKL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-yvv9BR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-P6qaQ5 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-XeVl8u {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-xJLOxz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-copy-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents2dpeth-ywOYGw {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-contents1dpeth_close-yvv9BR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .group-fx4WxT {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .empty-Dfayxl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .line-copy-Dfayxl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractiontimeroutine .empty-H21mUM {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-title-reference-fx4WxT {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractiontimeroutine .group-copy-MRUcix {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .empty-copy-uyexcZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .line-copy-2-uyexcZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractiontimeroutine .empty-copy-2-uyexcZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractiontimeroutine .web-index-title-reference-copy-MRUcix {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractiontimeroutine .line-Q0JZyU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginbasicinteractiontimeroutine .home-net-ui-guideline-Q0JZyU {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginbasicinteractiontimeroutine .webgnb-UxKxfU {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractiontimeroutine .rectangle-ZGQCiR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractiontimeroutine .background-ZGQCiR {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractiontimeroutine .index-ZGQCiR {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginbasicinteractiontimeroutine .web-index-select-xJ3q3y {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginbasicinteractiontimeroutine .web-index-unselect-xJ3q3y {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginbasicinteractiontimeroutine .web-index-unelect_main-ZGQCiR {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginbasicinteractiontimeroutine .logo-BUj0cP {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
