/* screen - devicepluginlightswitchtype */

.devicepluginlightswitchtype {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1310px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginlightswitchtype .group-51-CCwjtF {
  background-color: transparent;
  height: 658px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicepluginlightswitchtype .descriptiontabletop-copy-Vnf6i9 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicepluginlightswitchtype .group-Vnf6i9 {
  background-color: transparent;
  height: 166px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-2-RjDijY {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-36-RjDijY {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 109px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-3-RjDijY {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicepluginlightswitchtype .table-guide-text1line_-bold-copy-RjDijY {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .group-2-Vnf6i9 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 232px;
  width: 680px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-4-FsBf0r {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-5-FsBf0r {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicepluginlightswitchtype .table-guide-text1line_-bold-copy-2-FsBf0r {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .group-3-Vnf6i9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 361px;
  width: 680px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-6-no88xm {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-7-no88xm {
  background-color: transparent;
  cursor: pointer;
  height: 77px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicepluginlightswitchtype .table-guide-text1line_-bold-copy-3-no88xm {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .group-4-Vnf6i9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 450px;
  width: 680px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-8-q6xx8a {
  background-color: transparent;
  height: 79px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-9-q6xx8a {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicepluginlightswitchtype .table-guide-text1line_-bold-copy-4-q6xx8a {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .group-5-Vnf6i9 {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 539px;
  width: 680px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-10-gqBEsM {
  background-color: transparent;
  height: 119px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.devicepluginlightswitchtype .table-guide-text2line_mint-copy-11-gqBEsM {
  background-color: transparent;
  height: 57px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.devicepluginlightswitchtype .table-guide-text1line_-bold-copy-5-gqBEsM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.devicepluginlightswitchtype .group-8-CCwjtF {
  background-color: transparent;
  height: 768px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.devicepluginlightswitchtype .web-sub_-title-CCwjtF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginlightswitchtype .web-title-area-CCwjtF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginlightswitchtype .web-tab-device-plug-in_-light-CCwjtF {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginlightswitchtype .x3rd-depth-XmSR9k {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginlightswitchtype .tab-vHFBeL {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginlightswitchtype .switch-type-o0m9IY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 73px;
}

.devicepluginlightswitchtype .switch-type-_-intera-o0m9IY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 184px;
}

.devicepluginlightswitchtype .dimmer-type-o0m9IY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 80px;
}

.devicepluginlightswitchtype .dimmer-type-_-intera-o0m9IY {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 195px;
}

.devicepluginlightswitchtype .lnb-device-plug-in-CCwjtF {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .rectangle-PD6css {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .stacked-group-PD6css {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-common-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-34Dltj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-XYjlPK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-owl3TP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-UAZx8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-5jd0rZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .group-DzDCUQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .empty-P7xZZ6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightswitchtype .line-copy-P7xZZ6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightswitchtype .empty-E4Rzdo {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-reference-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-It1jeJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-Ebx2s4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_open_selected-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-34Dltj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-XYjlPK {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-owl3TP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-UAZx8j {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-5jd0rZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-It1jeJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-Ebx2s4 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-5kgHZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-2qMVTl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-aHo4bo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-VB526h {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-copy-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents2dpeth-IAEaR3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-contents1dpeth_close-5kgHZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .group-34Dltj {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .empty-eMxuUj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightswitchtype .line-copy-eMxuUj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightswitchtype .empty-OBC7FW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-reference-34Dltj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginlightswitchtype .group-copy-DzDCUQ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginlightswitchtype .empty-copy-5cWz7C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginlightswitchtype .line-copy-2-5cWz7C {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginlightswitchtype .empty-copy-2-5cWz7C {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginlightswitchtype .web-index-title-reference-copy-DzDCUQ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginlightswitchtype .line-PD6css {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginlightswitchtype .home-net-ui-guideline-PD6css {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginlightswitchtype .webgnb-CCwjtF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .rectangle-JShvrI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .background-JShvrI {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginlightswitchtype .index-JShvrI {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginlightswitchtype .web-index-select-WTo2HY {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginlightswitchtype .web-index-unselect-WTo2HY {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginlightswitchtype .web-index-unelect_main-JShvrI {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginlightswitchtype .logo-YODrMy {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
