/* screen - devicepluginactionforsceneandautomation */

.devicepluginactionforsceneandautomation {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1622px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginactionforsceneandautomation .group-19-88WAH1 {
  background-color: transparent;
  height: 1158px;
  left: 420px;
  position: absolute;
  top: 265px;
  width: 1400px;
}

.devicepluginactionforsceneandautomation .srceendescription-88WAH1 {
  background-color: transparent;
  height: 31px;
  left: 1442px;
  position: absolute;
  top: 234px;
  width: 377px;
}

.devicepluginactionforsceneandautomation .web-title-area-88WAH1 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginactionforsceneandautomation .lnb-device-plug-in-88WAH1 {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .rectangle-R1fMoo {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .stacked-group-R1fMoo {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-title-common-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-15h5X8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-sGFMoy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-D43EwX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-4wIchl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-ivpmrC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .group-oNWyDZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .empty-BPceKx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .line-copy-BPceKx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginactionforsceneandautomation .empty-Sqtr2r {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-title-reference-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-HcrWeF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-xFB8Lp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_open_selected-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-15h5X8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-sGFMoy {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-D43EwX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-4wIchl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-ivpmrC {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-HcrWeF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-xFB8Lp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-95qahM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-0xsO9e {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-9a38FD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-3au4LV {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-copy-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents2dpeth-dOwPGu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-contents1dpeth_close-95qahM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .group-15h5X8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .empty-cbV2je {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .line-copy-cbV2je {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginactionforsceneandautomation .empty-CTVfKU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-title-reference-15h5X8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginactionforsceneandautomation .group-copy-oNWyDZ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginactionforsceneandautomation .empty-copy-zxFNcJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .line-copy-2-zxFNcJ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginactionforsceneandautomation .empty-copy-2-zxFNcJ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginactionforsceneandautomation .web-index-title-reference-copy-oNWyDZ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginactionforsceneandautomation .line-R1fMoo {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginactionforsceneandautomation .home-net-ui-guideline-R1fMoo {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginactionforsceneandautomation .webgnb-88WAH1 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginactionforsceneandautomation .rectangle-ARyDxn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginactionforsceneandautomation .background-ARyDxn {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginactionforsceneandautomation .index-ARyDxn {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginactionforsceneandautomation .web-index-select-0TSOh9 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginactionforsceneandautomation .web-index-unselect-0TSOh9 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginactionforsceneandautomation .web-index-unelect_main-ARyDxn {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginactionforsceneandautomation .logo-UdWdM7 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
