/* screen - devicepluginsaloggingsmartlock */

.devicepluginsaloggingsmartlock {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1342px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginsaloggingsmartlock .group-4-XdYuxc {
  background-color: transparent;
  height: 800px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 1402px;
}

.devicepluginsaloggingsmartlock .web-sub_-title-XdYuxc {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsaloggingsmartlock .web-title-area-XdYuxc {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsaloggingsmartlock .web-tab-device-plug-in_-smart-lock-XdYuxc {
  background-color: transparent;
  height: 17px;
  left: 420px;
  position: fixed;
  top: 187px;
  width: 1202px;
}

.devicepluginsaloggingsmartlock .x3rd-depth-YXinQu {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1202px;
}

.devicepluginsaloggingsmartlock .tab-5TMxyC {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginsaloggingsmartlock .sa-logging-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingsmartlock .gas-valve-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 63px;
}

.devicepluginsaloggingsmartlock .elevator-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.devicepluginsaloggingsmartlock .light-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.devicepluginsaloggingsmartlock .thermostat-copy-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 72px;
}

.devicepluginsaloggingsmartlock .air-conditioner-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.devicepluginsaloggingsmartlock .vent-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.devicepluginsaloggingsmartlock .curtain-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 46px;
}

.devicepluginsaloggingsmartlock .integrated-switch-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.devicepluginsaloggingsmartlock .smart-plug-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.devicepluginsaloggingsmartlock .smart-lock-xkMxq0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingsmartlock .lnb-device-plug-in-XdYuxc {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .rectangle-aLVQZd {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .stacked-group-aLVQZd {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-title-common-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-UkZFvf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-pswbxL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-82Qsbh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-G92XpX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-zyPFVG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .group-1o5gCs {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .empty-rfrIlc {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .line-copy-rfrIlc {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingsmartlock .empty-B6QJIY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-title-reference-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-ywS6rg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-0x0sAS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_open_selected-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-UkZFvf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-pswbxL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-82Qsbh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-G92XpX {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-zyPFVG {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-ywS6rg {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-0x0sAS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-cTPGsI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-iVKpvP {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-jvd8WD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-qxcqwn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-copy-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents2dpeth-ZCRFuj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-contents1dpeth_close-cTPGsI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .group-UkZFvf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .empty-lBxm1p {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .line-copy-lBxm1p {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingsmartlock .empty-cVPyv9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-title-reference-UkZFvf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingsmartlock .group-copy-1o5gCs {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingsmartlock .empty-copy-XfivpQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .line-copy-2-XfivpQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingsmartlock .empty-copy-2-XfivpQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingsmartlock .web-index-title-reference-copy-1o5gCs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingsmartlock .line-aLVQZd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsaloggingsmartlock .home-net-ui-guideline-aLVQZd {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginsaloggingsmartlock .webgnb-XdYuxc {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingsmartlock .rectangle-GBk42B {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingsmartlock .background-GBk42B {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingsmartlock .index-GBk42B {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginsaloggingsmartlock .web-index-select-QY60hd {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginsaloggingsmartlock .web-index-unselect-QY60hd {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginsaloggingsmartlock .web-index-unelect_main-GBk42B {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginsaloggingsmartlock .logo-D6RcuY {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
