/* screen - devicepluginsaloggingcurtain */

.devicepluginsaloggingcurtain {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1760px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginsaloggingcurtain .group-6-M126MT {
  background-color: transparent;
  height: 1218px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1402px;
}

.devicepluginsaloggingcurtain .web-sub_-title-M126MT {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginsaloggingcurtain .web-title-area-M126MT {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginsaloggingcurtain .web-tab-device-plug-in_-smart-lock-M126MT {
  background-color: transparent;
  height: 17px;
  left: 420px;
  position: fixed;
  top: 187px;
  width: 1202px;
}

.devicepluginsaloggingcurtain .x3rd-depth-YF2W7d {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1202px;
}

.devicepluginsaloggingcurtain .tab-FT8NBH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 0px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginsaloggingcurtain .sa-logging-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingcurtain .gas-valve-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 63px;
}

.devicepluginsaloggingcurtain .elevator-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 54px;
}

.devicepluginsaloggingcurtain .light-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 32px;
}

.devicepluginsaloggingcurtain .thermostat-copy-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 72px;
}

.devicepluginsaloggingcurtain .air-conditioner-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.devicepluginsaloggingcurtain .vent-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.devicepluginsaloggingcurtain .curtain-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 46px;
}

.devicepluginsaloggingcurtain .integrated-switch-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.devicepluginsaloggingcurtain .smart-plug-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.devicepluginsaloggingcurtain .smart-lock-C9rHO4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.devicepluginsaloggingcurtain .lnb-device-plug-in-M126MT {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingcurtain .rectangle-FgPLSw {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingcurtain .stacked-group-FgPLSw {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-title-common-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-GywUHa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-xKDW5T {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-IzqUGr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-WspeZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-gu1RVu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .group-FPGVMr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .empty-rD0qnX {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingcurtain .line-copy-rD0qnX {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingcurtain .empty-GZSRPB {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-title-reference-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-hsTVxW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-gzL77f {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_open_selected-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-GywUHa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-xKDW5T {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-IzqUGr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-WspeZz {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-gu1RVu {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-hsTVxW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-gzL77f {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-SMqd8n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-WsDHBO {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-zOgVa0 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-xTSiT2 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-copy-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents2dpeth-VgwXiF {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-contents1dpeth_close-SMqd8n {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .group-GywUHa {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .empty-UpYpJS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingcurtain .line-copy-UpYpJS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingcurtain .empty-QylsW7 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-title-reference-GywUHa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingcurtain .group-copy-FPGVMr {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginsaloggingcurtain .empty-copy-MTpnhK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginsaloggingcurtain .line-copy-2-MTpnhK {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginsaloggingcurtain .empty-copy-2-MTpnhK {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginsaloggingcurtain .web-index-title-reference-copy-FPGVMr {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginsaloggingcurtain .line-FgPLSw {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginsaloggingcurtain .home-net-ui-guideline-FgPLSw {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginsaloggingcurtain .webgnb-M126MT {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingcurtain .rectangle-FaQEGp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingcurtain .background-FaQEGp {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginsaloggingcurtain .index-FaQEGp {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginsaloggingcurtain .web-index-select-nlAP7N {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginsaloggingcurtain .web-index-unselect-nlAP7N {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginsaloggingcurtain .web-index-unelect_main-FaQEGp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginsaloggingcurtain .logo-uvyHBL {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
