/* screen - devicepluginbasicinteractionactivityhistory */

.devicepluginbasicinteractionactivityhistory {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2541px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginbasicinteractionactivityhistory .group-2-AazKSm {
  background-color: transparent;
  height: 819px;
  left: 420px;
  position: absolute;
  top: 1522px;
  width: 1400px;
}

.devicepluginbasicinteractionactivityhistory .group-3-AazKSm {
  background-color: transparent;
  height: 1030px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 1420px;
}

.devicepluginbasicinteractionactivityhistory .web-sub_-title_w-description-AazKSm {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginbasicinteractionactivityhistory .web-title-area-AazKSm {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginbasicinteractionactivityhistory .web-tab-device-plug-AazKSm {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginbasicinteractionactivityhistory .x3rd-depth-9x2yqs {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginbasicinteractionactivityhistory .information-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 800px;
  position: absolute;
  top: 0px;
  width: 74px;
}

.devicepluginbasicinteractionactivityhistory .refresh-rule-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 924px;
  position: absolute;
  top: 0px;
  width: 76px;
}

.devicepluginbasicinteractionactivityhistory .time-routine-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1050px;
  position: absolute;
  top: 0px;
  width: 94px;
}

.devicepluginbasicinteractionactivityhistory .capability-_-graph-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1194px;
  position: absolute;
  top: 0px;
  width: 117px;
}

.devicepluginbasicinteractionactivityhistory .activity-history-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 1361px;
  position: absolute;
  top: 0px;
  width: 94px;
}

.devicepluginbasicinteractionactivityhistory .save-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 720px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.devicepluginbasicinteractionactivityhistory .change-icon-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 594px;
  position: absolute;
  top: 0px;
  width: 76px;
}

.devicepluginbasicinteractionactivityhistory .change-device-name-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 417px;
  position: absolute;
  top: 0px;
  width: 127px;
}

.devicepluginbasicinteractionactivityhistory .add-to-home-screen-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 243px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.devicepluginbasicinteractionactivityhistory .remove-device-eRwHv5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 93px;
}

.devicepluginbasicinteractionactivityhistory .lnb-device-plug-in-AazKSm {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .rectangle-fBoHZr {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .stacked-group-fBoHZr {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-title-common-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-kbWggS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-TodHbB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-cejjk9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-icSJ0b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-IvB6ER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .group-vdjJIh {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .empty-yGPQ7v {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .line-copy-yGPQ7v {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractionactivityhistory .empty-x5EPYQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-title-reference-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-v4B0Kx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-KsRFIB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_open_selected-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-kbWggS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-TodHbB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-cejjk9 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-icSJ0b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-IvB6ER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-v4B0Kx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-KsRFIB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-t9VQFs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-odPcOj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-t7UUCf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-sTBORx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-copy-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents2dpeth-tB5UyB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-contents1dpeth_close-t9VQFs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .group-kbWggS {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .empty-ODsr9y {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .line-copy-ODsr9y {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractionactivityhistory .empty-3BaL2R {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-title-reference-kbWggS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractionactivityhistory .group-copy-vdjJIh {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .empty-copy-hhTybj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .line-copy-2-hhTybj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginbasicinteractionactivityhistory .empty-copy-2-hhTybj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginbasicinteractionactivityhistory .web-index-title-reference-copy-vdjJIh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginbasicinteractionactivityhistory .line-fBoHZr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginbasicinteractionactivityhistory .home-net-ui-guideline-fBoHZr {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginbasicinteractionactivityhistory .webgnb-AazKSm {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractionactivityhistory .rectangle-f9hsDP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractionactivityhistory .background-f9hsDP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginbasicinteractionactivityhistory .index-f9hsDP {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginbasicinteractionactivityhistory .web-index-select-dCUIxZ {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginbasicinteractionactivityhistory .web-index-unselect-dCUIxZ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginbasicinteractionactivityhistory .web-index-unelect_main-f9hsDP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginbasicinteractionactivityhistory .logo-MrvmG7 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
