/* screen - devicepluginelevatortwobuttontypeinteractionflow */

.devicepluginelevatortwobuttontypeinteractionflow {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 2228px;
  min-width: 1920px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.devicepluginelevatortwobuttontypeinteractionflow .group-5-UxaGgf {
  background-color: transparent;
  height: 786px;
  left: 420px;
  position: absolute;
  top: 1243px;
  width: 1400px;
}

.devicepluginelevatortwobuttontypeinteractionflow .group-11-UxaGgf {
  background-color: transparent;
  height: 751px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-sub_-title-UxaGgf {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-title-area-UxaGgf {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-tab-device-plug-in_-elevator-UxaGgf {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicepluginelevatortwobuttontypeinteractionflow .x3rd-depth-enJnDx {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.devicepluginelevatortwobuttontypeinteractionflow .tab-UvfvF2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.devicepluginelevatortwobuttontypeinteractionflow .one-button-type-ZPsV0X {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 104px;
}

.devicepluginelevatortwobuttontypeinteractionflow .one-button-type-_-in-ZPsV0X {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 212px;
}

.devicepluginelevatortwobuttontypeinteractionflow .two-button-type-copy-ZPsV0X {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 100px;
}

.devicepluginelevatortwobuttontypeinteractionflow .two-button-type_inte-ZPsV0X {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 207px;
}

.devicepluginelevatortwobuttontypeinteractionflow .lnb-device-plug-in-UxaGgf {
  background-color: transparent;
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .rectangle-jYzZut {
  background-color: var(--concrete);
  height: 1596px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .stacked-group-jYzZut {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-title-common-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-xIW7Ly {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-OhKdNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-ajyGdh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-qHKVVd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-W0cATo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .group-amocpf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-VCPW6b {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .line-copy-VCPW6b {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-48FOvE {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-title-reference-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-TjruZk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-fiD5TL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_open_selected-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-xIW7Ly {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-OhKdNR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-ajyGdh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-qHKVVd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-W0cATo {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-TjruZk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-fiD5TL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-v6RIFj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-3fHfrs {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-AomWet {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-RUlmXj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-copy-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents2dpeth-68FXRj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-contents1dpeth_close-v6RIFj {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .group-xIW7Ly {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-cCX6qI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .line-copy-cCX6qI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-ywZQLx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-title-reference-xIW7Ly {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginelevatortwobuttontypeinteractionflow .group-copy-amocpf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-copy-shBU4E {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .line-copy-2-shBU4E {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.devicepluginelevatortwobuttontypeinteractionflow .empty-copy-2-shBU4E {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-title-reference-copy-amocpf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.devicepluginelevatortwobuttontypeinteractionflow .line-jYzZut {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicepluginelevatortwobuttontypeinteractionflow .home-net-ui-guideline-jYzZut {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.devicepluginelevatortwobuttontypeinteractionflow .webgnb-UxaGgf {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatortwobuttontypeinteractionflow .rectangle-mBMXaj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatortwobuttontypeinteractionflow .background-mBMXaj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.devicepluginelevatortwobuttontypeinteractionflow .index-mBMXaj {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-select-txatBZ {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-unselect-txatBZ {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.devicepluginelevatortwobuttontypeinteractionflow .web-index-unelect_main-mBMXaj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.devicepluginelevatortwobuttontypeinteractionflow .logo-E11xnk {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
