/* screen - c2cdevicetabdevicehealth */

.c2cdevicetabdevicehealth {
  background-color: var(--white);
  height: 1257px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.c2cdevicetabdevicehealth .group-10-Gt3P5M {
  background-color: transparent;
  height: 717px;
  left: 420px;
  position: absolute;
  top: 341px;
  width: 1400px;
}

.c2cdevicetabdevicehealth .web-sub_-title-Gt3P5M {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.c2cdevicetabdevicehealth .web-title-area-Gt3P5M {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.c2cdevicetabdevicehealth .web-tabc2-c-connecto-Gt3P5M {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.c2cdevicetabdevicehealth .x3rd-depth-XXwPFF {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.c2cdevicetabdevicehealth .tab-jxoNYM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.c2cdevicetabdevicehealth .device-health-9QfUwZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 85px;
}

.c2cdevicetabdevicehealth .device-card-9QfUwZ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.c2cdevicetabdevicehealth .lnbc2-c-connector_2-Gt3P5M {
  background-color: transparent;
  height: 895px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.c2cdevicetabdevicehealth .rectangle-Ax7f6b {
  background-color: var(--concrete);
  height: 895px;
  width: 320px;
}

.c2cdevicetabdevicehealth .stacked-group-Ax7f6b {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.c2cdevicetabdevicehealth .web-index-title-common-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .empty-ZEY8JB {
  top: 21px;
}

.c2cdevicetabdevicehealth .empty-S5NqiF {
  top: 0px;
}

.c2cdevicetabdevicehealth .empty-gEbWze {
  top: 21px;
}

.c2cdevicetabdevicehealth .empty-cucGJD {
  top: 0px;
}

.c2cdevicetabdevicehealth .web-index-contents1dpeth_open_selected-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .web-index-contents1dpeth_close-copy-5-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .web-index-contents1dpeth_close-copy-7-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .web-index-contents1dpeth_close-copy-3-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .web-index-contents1dpeth_close-copy-2-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .group-copy-XDG2GY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.c2cdevicetabdevicehealth .empty-PN0BRK {
  top: 21px;
}

.c2cdevicetabdevicehealth .empty-BLmul0 {
  top: 0px;
}

.c2cdevicetabdevicehealth .web-index-title-reference-copy-XDG2GY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.c2cdevicetabdevicehealth .line-Ax7f6b {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.c2cdevicetabdevicehealth .home-net-ui-guideline-Ax7f6b {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.c2cdevicetabdevicehealth .webgnb-Gt3P5M {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.c2cdevicetabdevicehealth .rectangle-HfayAk {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.c2cdevicetabdevicehealth .background-HfayAk {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.c2cdevicetabdevicehealth .index-HfayAk {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.c2cdevicetabdevicehealth .web-index-select-CeNaAx {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.c2cdevicetabdevicehealth .web-index-unselect-CeNaAx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.c2cdevicetabdevicehealth .web-index-unelect_main-HfayAk {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
