/* screen - tabletbasiccomponentsmain */

.tabletbasiccomponentsmain {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletbasiccomponentsmain .lnb-service-feature-uah0VJ {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletbasiccomponentsmain .rectangle-jFXS09 {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.tabletbasiccomponentsmain .line-jFXS09 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletbasiccomponentsmain .home-net-gui-guidelin-jFXS09 {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup9 .web-index-title-reference-copy-2-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-S2qDpR {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup9 .title-nyG4x0 {
  width: 72px;
}

.stackedgroup9 .group-mvXsqV {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-2xKux8 {
  bottom: 0px;
}

.stackedgroup9 .empty-xFbZAq {
  top: 0px;
}

.stackedgroup9 .web-index-title-reference-copy-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-sbN624 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup9 .title-5kX4ue {
  width: 81px;
}

.stackedgroup9 .group-copy-mvXsqV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-wYqwx9 {
  bottom: 0px;
}

.stackedgroup9 .empty-GzWWZ3 {
  top: 0px;
}

.stackedgroup9 .web-index-title-reference-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-BK1pk2 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup9 .title-ejk5W2 {
  width: 136px;
}

.stackedgroup9 .group-copy-2-mvXsqV {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .empty-copy-VsRDY8 {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup9 .line-copy-2-VsRDY8 {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup9 .empty-copy-2-VsRDY8 {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-title-reference-copy-3-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-yDz9BY {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup9 .title-z3XVcK {
  width: 50px;
}

.stackedgroup9 .web-index-contents2dpeth-copy-3-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-09pom1 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .x1-depth-title-qkG8Xo {
  width: 67px;
}

.stackedgroup9 .button-Jbj6CK {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-2-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-uRy8fh {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-expanded-h2k3w9 {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup9 .button-leT6Sj {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup9 .x1-depth-title-h2k3w9 {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  width: 123px;
}

.stackedgroup9 .web-index-contents2dpeth-copy-8-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-PCtAIf {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-7-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-IJ37X3 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-9-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-nqh9Ob {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-10-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-9hPjBa {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-11-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-nDxH7O {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-ltQHaF {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .x1-depth-title-4lcx96 {
  width: 106px;
}

.stackedgroup9 .button-Db9QYx {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-4-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-pUxTOT {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .x1-depth-title-o1NL4D {
  width: 100px;
}

.stackedgroup9 .button-MAhxj7 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-5-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-TJdmMx {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .x1-depth-title-GWJxbF {
  width: 112px;
}

.stackedgroup9 .button-bxCiND {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup9 .web-index-contents2dpeth-copy-6-mvXsqV {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup9 .group-fymDcK {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup9 .x1-depth-title-XAW1oS {
  width: 106px;
}

.stackedgroup9 .button-S1JZ1B {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletbasiccomponentsmain .webgnb-uah0VJ {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsmain .rectangle-QsUzjl {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletbasiccomponentsmain .background-QsUzjl {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletbasiccomponentsmain .index-QsUzjl {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletbasiccomponentsmain .web-index-select-cjSGx6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletbasiccomponentsmain .web-index-unselect-cjSGx6 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletbasiccomponentsmain .web-index-unelect_main-QsUzjl {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletbasiccomponentsmain .logo-3LPMTV {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.tabletbasiccomponentsmain .group-uah0VJ {
  background-color: transparent;
  height: 493px;
  left: 420px;
  position: absolute;
  top: 290px;
  width: 618px;
}
