/* screen - tabletdeviceplugintime2 */

.tabletdeviceplugintime2 {
  background-color: var(--white);
  height: 2295px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugintime2 .group-9c4fZj {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.tabletdeviceplugintime2 .group-2-9c4fZj {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletdeviceplugintime2 .web-sub_-title-9c4fZj {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdeviceplugintime2 .web-title-area-9c4fZj {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugintime2 .webtabtablet_device-plugin-9c4fZj {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugintime2 .x3rd-depth-dpB0ot {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugintime2 .tab-mM9exX {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletdeviceplugintime2 .time-1-VUB5zg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 38px;
}

.tabletdeviceplugintime2 .time-2-VUB5zg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.tabletdeviceplugintime2 .routines-VUB5zg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.tabletdeviceplugintime2 .routines-_-power-on-VUB5zg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 231px;
}

.tabletdeviceplugintime2 .routines-_-power-on-rK5wxU {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 296px;
}

.tabletdeviceplugintime2 .routine-_-power-off-VUB5zg {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletdeviceplugintime2 .lnbtablet_device-plugin-9c4fZj {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime2 .rectangle-naS4DH {
  background-color: var(--concrete);
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime2 .stacked-group-naS4DH {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-title-common-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .group-v1OI1g {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .empty-AWxsge {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime2 .line-copy-AWxsge {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime2 .empty-abAmb9 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-title-reference-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime2 .group-8L7UvW {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .empty-6kk5Zg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime2 .line-copy-6kk5Zg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime2 .empty-xXx6Ex {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-title-reference-8L7UvW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime2 .group-copy-v1OI1g {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .empty-copy-kGlHfq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime2 .line-copy-2-kGlHfq {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime2 .empty-copy-2-kGlHfq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-title-reference-copy-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime2 .web-index-contents1d-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents1d-8L7UvW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents1dpeth_open_selected-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-2-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-3-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-4-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-5-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-6-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-7-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-8-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-9-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-10-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-11-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-12-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents2dpeth-copy-13-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents1dpeth_close-copy-5-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .web-index-contents1dpeth_close-copy-3-v1OI1g {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime2 .line-naS4DH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugintime2 .home-net-ui-guideline-naS4DH {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdeviceplugintime2 .webgnb-9c4fZj {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime2 .rectangle-MwYpUB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime2 .background-MwYpUB {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime2 .index-MwYpUB {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdeviceplugintime2 .web-index-select-tw64Zj {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugintime2 .web-index-unselect-tw64Zj {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdeviceplugintime2 .web-index-unelect_main-MwYpUB {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
