/* screen - tabletdevicepluginroutines */

.tabletdevicepluginroutines {
  background-color: var(--white);
  height: 2245px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginroutines .group-INTWrs {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.tabletdevicepluginroutines .group-2-INTWrs {
  background-color: transparent;
  height: 591px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletdevicepluginroutines .web-sub_-title-INTWrs {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicepluginroutines .web-title-area-INTWrs {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginroutines .webtabtablet_device-plugin-INTWrs {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdevicepluginroutines .x3rd-depth-KHLUCd {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletdevicepluginroutines .tab-IiCxy0 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletdevicepluginroutines .time-1-a0xKVl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 38px;
}

.tabletdevicepluginroutines .time-2-a0xKVl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.tabletdevicepluginroutines .routines-a0xKVl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 55px;
}

.tabletdevicepluginroutines .routines-_-power-on-a0xKVl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 231px;
}

.tabletdevicepluginroutines .routines-_-power-on-fwIlHR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 296px;
}

.tabletdevicepluginroutines .routine-_-power-off-a0xKVl {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletdevicepluginroutines .lnbtablet_device-plugin-INTWrs {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginroutines .rectangle-QptAx7 {
  background-color: var(--concrete);
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginroutines .stacked-group-QptAx7 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-title-common-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .group-gXJ4lx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .empty-fmtZSI {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginroutines .line-copy-fmtZSI {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginroutines .empty-JHjNzr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-title-reference-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginroutines .group-k0Hh8I {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .empty-b2iNex {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginroutines .line-copy-b2iNex {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginroutines .empty-HEhYvH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-title-reference-k0Hh8I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginroutines .group-copy-gXJ4lx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .empty-copy-XcEmj2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginroutines .line-copy-2-XcEmj2 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginroutines .empty-copy-2-XcEmj2 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-title-reference-copy-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginroutines .web-index-contents1d-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents1d-k0Hh8I {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents1dpeth_open_selected-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-2-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-3-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-4-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-5-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-6-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-7-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-8-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-9-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-10-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-11-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-12-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents2dpeth-copy-13-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents1dpeth_close-copy-5-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .web-index-contents1dpeth_close-copy-3-gXJ4lx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginroutines .line-QptAx7 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginroutines .home-net-ui-guideline-QptAx7 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdevicepluginroutines .webgnb-INTWrs {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginroutines .rectangle-vObuxQ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginroutines .background-vObuxQ {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginroutines .index-vObuxQ {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdevicepluginroutines .web-index-select-ZKST8y {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginroutines .web-index-unselect-ZKST8y {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdevicepluginroutines .web-index-unelect_main-vObuxQ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
