/* screen - tabletdeviceplugintime1 */

.tabletdeviceplugintime1 {
  background-color: var(--white);
  height: 3628px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugintime1 .group-8-65oHyh {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.tabletdeviceplugintime1 .group-7-65oHyh {
  background-color: transparent;
  height: 912px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletdeviceplugintime1 .group-9-65oHyh {
  background-color: transparent;
  height: 912px;
  left: 420px;
  position: absolute;
  top: 2516px;
  width: 1400px;
}

.tabletdeviceplugintime1 .web-sub_-title-65oHyh {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdeviceplugintime1 .web-title-area-65oHyh {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugintime1 .webtabtablet_device-plugin-65oHyh {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.tabletdeviceplugintime1 .x3rd-depth-xFpNvV {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.tabletdeviceplugintime1 .tab-YnE3yx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.tabletdeviceplugintime1 .time-1-6mk6E7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 39px;
}

.tabletdeviceplugintime1 .time-2-6mk6E7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 41px;
}

.tabletdeviceplugintime1 .routines-6mk6E7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 52px;
}

.tabletdeviceplugintime1 .routines-_-power-on-6mk6E7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 231px;
}

.tabletdeviceplugintime1 .routines-_-power-on-WaI7Oc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 296px;
}

.tabletdeviceplugintime1 .routine-_-power-off-6mk6E7 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 116px;
}

.tabletdeviceplugintime1 .lnbtablet_device-plugin-65oHyh {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime1 .rectangle-jWBG4J {
  background-color: var(--concrete);
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime1 .stacked-group-jWBG4J {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-title-common-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .group-tuWFh3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .empty-xf15Gr {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime1 .line-copy-xf15Gr {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime1 .empty-DAyLsq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-title-reference-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime1 .group-SV0N11 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .empty-n7xDq6 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime1 .line-copy-n7xDq6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime1 .empty-gjcHxm {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-title-reference-SV0N11 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime1 .group-copy-tuWFh3 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .empty-copy-890UsD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugintime1 .line-copy-2-890UsD {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugintime1 .empty-copy-2-890UsD {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-title-reference-copy-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugintime1 .web-index-contents1d-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents1d-SV0N11 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents1dpeth_open_selected-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-2-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-3-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-4-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-5-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-6-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-7-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-8-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-9-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-10-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-11-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-12-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents2dpeth-copy-13-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents1dpeth_close-copy-5-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .web-index-contents1dpeth_close-copy-3-tuWFh3 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugintime1 .line-jWBG4J {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugintime1 .home-net-ui-guideline-jWBG4J {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdeviceplugintime1 .webgnb-65oHyh {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime1 .rectangle-aGGdGL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime1 .background-aGGdGL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugintime1 .index-aGGdGL {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdeviceplugintime1 .web-index-select-dxGxPt {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugintime1 .web-index-unselect-dxGxPt {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdeviceplugintime1 .web-index-unelect_main-aGGdGL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
