/* screen - tabletdevicepluginsmartlock */

.tabletdevicepluginsmartlock {
  background-color: var(--white);
  height: 2295px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdevicepluginsmartlock .group-3-K4Wend {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.tabletdevicepluginsmartlock .group-4-K4Wend {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1454px;
  width: 1400px;
}

.tabletdevicepluginsmartlock .web-sub_-title-K4Wend {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .web-title-area-K4Wend {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdevicepluginsmartlock .lnbtablet_device-plugin-K4Wend {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .rectangle-j0MBqN {
  background-color: var(--concrete);
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .stacked-group-j0MBqN {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-title-common-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .group-eVXXkc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .empty-hncIIj {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-copy-hncIIj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginsmartlock .empty-w4cKHY {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-title-reference-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginsmartlock .group-b5OmKp {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .empty-OFKqLe {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-copy-OFKqLe {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginsmartlock .empty-I9xVl0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-title-reference-b5OmKp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginsmartlock .group-copy-eVXXkc {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .empty-copy-vKvdiZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-copy-2-vKvdiZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdevicepluginsmartlock .empty-copy-2-vKvdiZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-title-reference-copy-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdevicepluginsmartlock .web-index-contents1d-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents1d-b5OmKp {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents1dpeth_open_selected-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-2-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-3-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-4-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-5-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-6-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-7-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-8-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-9-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-10-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-11-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-12-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents2dpeth-copy-13-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents1dpeth_close-copy-5-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .web-index-contents1dpeth_close-copy-3-eVXXkc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdevicepluginsmartlock .line-j0MBqN {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdevicepluginsmartlock .home-net-ui-guideline-j0MBqN {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdevicepluginsmartlock .webgnb-K4Wend {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .rectangle-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .background-1eaZeC {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdevicepluginsmartlock .index-1eaZeC {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdevicepluginsmartlock .web-index-select-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdevicepluginsmartlock .web-index-unselect-PLa8YV {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdevicepluginsmartlock .web-index-unelect_main-1eaZeC {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
