/* screen - tabletdeviceplugingasvalve */

.tabletdeviceplugingasvalve {
  background-color: var(--white);
  height: 2328px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletdeviceplugingasvalve .group-3-ZHIXtb {
  background-color: transparent;
  height: 641px;
  left: 420px;
  position: absolute;
  top: 1487px;
  width: 1400px;
}

.tabletdeviceplugingasvalve .group-4-ZHIXtb {
  background-color: transparent;
  height: 962px;
  left: 420px;
  position: absolute;
  top: 375px;
  width: 1400px;
}

.tabletdeviceplugingasvalve .web-sub_-title_w-description-ZHIXtb {
  background-color: transparent;
  height: 91px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .web-title-area-ZHIXtb {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletdeviceplugingasvalve .lnbtablet_device-plugin-ZHIXtb {
  background-color: transparent;
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .rectangle-7VpBdi {
  background-color: var(--concrete);
  height: 1357px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .stacked-group-7VpBdi {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-title-common-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .group-8klESA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .empty-rRs6Tg {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-copy-rRs6Tg {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugingasvalve .empty-fFso1H {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-title-reference-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugingasvalve .group-ajMsTn {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .empty-716jhL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-copy-716jhL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugingasvalve .empty-4xhoeS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-title-reference-ajMsTn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugingasvalve .group-copy-8klESA {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .empty-copy-mKtrsW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-copy-2-mKtrsW {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.tabletdeviceplugingasvalve .empty-copy-2-mKtrsW {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-title-reference-copy-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.tabletdeviceplugingasvalve .web-index-contents1d-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents1d-ajMsTn {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents1dpeth_open_selected-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-2-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-3-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-4-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-5-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-6-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-7-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-8-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-9-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-10-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-11-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-12-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents2dpeth-copy-13-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents1dpeth_close-copy-5-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .web-index-contents1dpeth_close-copy-3-8klESA {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.tabletdeviceplugingasvalve .line-7VpBdi {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletdeviceplugingasvalve .home-net-ui-guideline-7VpBdi {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.tabletdeviceplugingasvalve .webgnb-ZHIXtb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .rectangle-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .background-QI5Wv6 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletdeviceplugingasvalve .index-QI5Wv6 {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.tabletdeviceplugingasvalve .web-index-select-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletdeviceplugingasvalve .web-index-unselect-QyzZwD {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.tabletdeviceplugingasvalve .web-index-unelect_main-QI5Wv6 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}
