/* screen - servicepluginhomescreenbannerpreexperienceguidanceflow */

.servicepluginhomescreenbannerpreexperienceguidanceflow {
  background-color: var(--white);
  height: 1253px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-4-uVWnyB {
  background-color: transparent;
  height: 664px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-sub_-title-uVWnyB {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-title-area-uVWnyB {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-tab-service-plug-in_-home-screen-uVWnyB {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .rectangle-BWWVRw {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .x3rd-depth-BWWVRw {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .service-feature-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .basic-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-app-link-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-_-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 348px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-_-i-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 245px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .banner-_-interaction-LUKe4f {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .x3rd-depth-copy-BWWVRw {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .feature-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .interaction-flow-copy-4-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .notifications-_-feat-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .notifications-_-inte-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-_-guide-text-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-guide-copy-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-guide-_-using-b-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .help-_-interaction-f-ArWyMQ {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .lnb-service-plug-in-uVWnyB {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .rectangle-2mhrjl {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .lnb-2mhrjl {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .stacked-group-KOaPrx {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-title-common-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-nv5mjT {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-6Fytaf {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents1d-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents1dpeth_open_selected-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents2dpeth-copy-3-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents2dpeth-copy-2-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents2dpeth-copy-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-contents2dpeth-copy-4-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-uftkEQ {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-Amosb9 {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-copy-D8joeh {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-sIWHWl {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .empty-P7dl1R {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-title-reference-copy-D8joeh {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .line-KOaPrx {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .home-net-ui-guideline-KOaPrx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .webgnb-uVWnyB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .rectangle-WNmIZG {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .background-WNmIZG {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .index-WNmIZG {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-select-KTzJqP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-unselect-KTzJqP {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .web-index-unelect_main-WNmIZG {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .logo-9r9EOy {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group-8-uVWnyB {
  background-color: transparent;
  height: 1404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .rectangle-9MOGBB {
  background-color: var(--granite-gray);
  height: 1404px;
  opacity: 0.56;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .text_label-9MOGBB {
  background-color: transparent;
  font-weight: 400;
  height: 123px;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 120px;
  position: absolute;
  text-align: left;
  top: 641px;
  white-space: nowrap;
  width: auto;
}

.servicepluginhomescreenbannerpreexperienceguidanceflow .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
