/* screen - servicepluginenergyusagefeature */

.servicepluginenergyusagefeature {
  background-color: var(--white);
  height: 3722px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginenergyusagefeature .group-16-GoOHYX {
  background-color: transparent;
  height: 1057px;
  left: 390px;
  position: absolute;
  top: 2047px;
  width: 700px;
}

.servicepluginenergyusagefeature .group-15-GoOHYX {
  background-color: transparent;
  height: 1004px;
  left: 390px;
  position: absolute;
  top: 342px;
  width: 700px;
}

.servicepluginenergyusagefeature .group-28-GoOHYX {
  background-color: transparent;
  height: 1555px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-12-xNZv2A {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-17-xNZv2A {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-AX2qMN {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-AX2qMN {
  height: 37px;
}

.servicepluginenergyusagefeature .group-18-xNZv2A {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-DMKKk4 {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-DMKKk4 {
  height: 37px;
}

.servicepluginenergyusagefeature .group-19-xNZv2A {
  background-color: transparent;
  height: 259px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-gktSYS {
  height: 259px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-gktSYS {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-20-xNZv2A {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 513px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-YZIgX2 {
  height: 99px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-YZIgX2 {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-21-xNZv2A {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 622px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-7J9XJ0 {
  height: 59px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-7J9XJ0 {
  height: 37px;
}

.servicepluginenergyusagefeature .group-22-xNZv2A {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 691px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-Ysq6Go {
  height: 179px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-Ysq6Go {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-23-xNZv2A {
  background-color: transparent;
  height: 159px;
  left: 0px;
  position: absolute;
  top: 880px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-ZDryio {
  height: 159px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-ZDryio {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-24-xNZv2A {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 1049px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-1QKrQY {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-1QKrQY {
  height: 37px;
}

.servicepluginenergyusagefeature .group-26-xNZv2A {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 1327px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-FQAdXw {
  height: 119px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-FQAdXw {
  height: 37px;
}

.servicepluginenergyusagefeature .group-27-xNZv2A {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 1456px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-9gKryi {
  height: 99px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-9gKryi {
  height: 37px;
}

.servicepluginenergyusagefeature .group-25-xNZv2A {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1138px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-LPNEPp {
  height: 179px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-LPNEPp {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-40-GoOHYX {
  background-color: transparent;
  height: 1475px;
  left: 1140px;
  position: absolute;
  top: 2047px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-39-1w4svD {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginenergyusagefeature .group-38-1w4svD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-xZ6IxF {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-xZ6IxF {
  height: 37px;
}

.servicepluginenergyusagefeature .group-37-1w4svD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-X04sBo {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-X04sBo {
  height: 37px;
}

.servicepluginenergyusagefeature .group-36-1w4svD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 244px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-GPfxxo {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-GPfxxo {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-35-1w4svD {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 333px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-VxygcL {
  height: 119px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-VxygcL {
  cursor: pointer;
  height: 37px;
}

.servicepluginenergyusagefeature .group-34-1w4svD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 462px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-TLQ2jK {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-TLQ2jK {
  height: 37px;
}

.servicepluginenergyusagefeature .group-33-1w4svD {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 551px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-4tNMGG {
  height: 119px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-4tNMGG {
  height: 37px;
}

.servicepluginenergyusagefeature .group-32-1w4svD {
  background-color: transparent;
  height: 219px;
  left: 0px;
  position: absolute;
  top: 680px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-ZwgjEM {
  height: 219px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-ZwgjEM {
  cursor: pointer;
  height: 57px;
}

.servicepluginenergyusagefeature .group-31-1w4svD {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 909px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-uZuaYW {
  height: 79px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-uZuaYW {
  height: 37px;
}

.servicepluginenergyusagefeature .group-29-1w4svD {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 1187px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-iTVBix {
  height: 179px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-iTVBix {
  height: 37px;
}

.servicepluginenergyusagefeature .group-13-1w4svD {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 1376px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-fRD7xr {
  height: 99px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-fRD7xr {
  height: 37px;
}

.servicepluginenergyusagefeature .group-30-1w4svD {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 998px;
  width: 680px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-LAczAu {
  height: 179px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2-LAczAu {
  cursor: pointer;
  height: 57px;
}

.servicepluginenergyusagefeature .web-sub_-title-GoOHYX {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginenergyusagefeature .web-title-area-GoOHYX {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginenergyusagefeature .web-tab-service-plug-GoOHYX {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginenergyusagefeature .x3rd-depth-4tTn7K {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginenergyusagefeature .tab-yglDlI {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginenergyusagefeature .card-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginenergyusagefeature .feature-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginenergyusagefeature .interaction-flow-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginenergyusagefeature .case-45vykr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.servicepluginenergyusagefeature .lnb-service-plug-in-GoOHYX {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .rectangle-yYagQq {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginenergyusagefeature .lnb-yYagQq {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginenergyusagefeature .stacked-group-2UKVsh {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-title-common-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .empty-LnEaEk {
  top: 21px;
}

.servicepluginenergyusagefeature .empty-udtw2W {
  top: 0px;
}

.servicepluginenergyusagefeature .web-index-contents1d-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents1dpeth_open_selected-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-3-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-2-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .web-index-contents2dpeth-copy-4-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .empty-EVo9hS {
  top: 21px;
}

.servicepluginenergyusagefeature .empty-XVIaeo {
  top: 0px;
}

.servicepluginenergyusagefeature .group-copy-G1PJQ1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .empty-pLpe6K {
  top: 21px;
}

.servicepluginenergyusagefeature .empty-ngCiZy {
  top: 0px;
}

.servicepluginenergyusagefeature .web-index-title-reference-copy-G1PJQ1 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .line-2UKVsh {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginenergyusagefeature .home-net-ui-guideline-2UKVsh {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginenergyusagefeature .webgnb-GoOHYX {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagefeature .rectangle-xPCMi2 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginenergyusagefeature .background-xPCMi2 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginenergyusagefeature .index-xPCMi2 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginenergyusagefeature .web-index-select-Vhyk3U {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginenergyusagefeature .web-index-unselect-Vhyk3U {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginenergyusagefeature .web-index-unelect_main-xPCMi2 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginenergyusagefeature .logo-vsmVNN {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginenergyusagefeature .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginenergyusagefeature .table-guide-text2line_mint-copy-2 {
  background-color: transparent;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}
