/* screen - serviceplugincctvfeature */

.serviceplugincctvfeature {
  background-color: var(--white);
  height: 1206px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugincctvfeature .group-2-bQxZdn {
  background-color: transparent;
  height: 664px;
  left: 393px;
  position: absolute;
  top: 342px;
  width: 697px;
}

.serviceplugincctvfeature .group-9-bQxZdn {
  background-color: transparent;
  height: 660px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugincctvfeature .group-8-mUoeh4 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-title-copy-FxtMtf {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.serviceplugincctvfeature .table-guide-title-copy-2-FxtMtf {
  background-color: transparent;
  height: 56px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-title-copy-3-FxtMtf {
  background-color: transparent;
  height: 56px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.serviceplugincctvfeature .group-7-mUoeh4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-YhIqN7 {
  height: 79px;
}

.serviceplugincctvfeature .group-6-mUoeh4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-Px8XQz {
  height: 79px;
}

.serviceplugincctvfeature .group-5-mUoeh4 {
  background-color: transparent;
  height: 179px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-yeiUmy {
  height: 179px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-yeiUmy {
  cursor: pointer;
}

.serviceplugincctvfeature .group-4-mUoeh4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 423px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-wVbfQc {
  height: 79px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-wVbfQc {
  cursor: pointer;
}

.serviceplugincctvfeature .group-3-mUoeh4 {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 512px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-GnZCBl {
  height: 59px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-GnZCBl {
  cursor: pointer;
}

.serviceplugincctvfeature .group-mUoeh4 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 581px;
  width: 680px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-xrQxDk {
  height: 79px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2-xrQxDk {
  cursor: pointer;
}

.serviceplugincctvfeature .web-sub_-title-bQxZdn {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugincctvfeature .web-title-area-bQxZdn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugincctvfeature .web-tab-service-plug-in_cctv-bQxZdn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugincctvfeature .x3rd-depth-5lrMSZ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugincctvfeature .tab-bN0tra {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugincctvfeature .card-MUgVxE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugincctvfeature .feature-MUgVxE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugincctvfeature .interaction-flow-MUgVxE {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugincctvfeature .lnb-service-plug-in-bQxZdn {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeature .rectangle-wRCd96 {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.serviceplugincctvfeature .lnb-wRCd96 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugincctvfeature .stacked-group-gumBYs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugincctvfeature .web-index-title-common-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .group-PckkFa {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .empty-6L5CAz {
  top: 21px;
}

.serviceplugincctvfeature .empty-QfA8xx {
  top: 0px;
}

.serviceplugincctvfeature .web-index-contents1d-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .web-index-contents1dpeth_open_selected-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .web-index-contents2dpeth-copy-3-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .web-index-contents2dpeth-copy-2-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .web-index-contents2dpeth-copy-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .web-index-contents2dpeth-copy-4-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .group-QC7EE1 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .empty-2UdU8W {
  top: 21px;
}

.serviceplugincctvfeature .empty-DMrzv5 {
  top: 0px;
}

.serviceplugincctvfeature .group-copy-PckkFa {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .empty-YkxoEQ {
  top: 21px;
}

.serviceplugincctvfeature .empty-KgxOes {
  top: 0px;
}

.serviceplugincctvfeature .web-index-title-reference-copy-PckkFa {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugincctvfeature .line-gumBYs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugincctvfeature .home-net-ui-guideline-gumBYs {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.serviceplugincctvfeature .webgnb-bQxZdn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeature .rectangle-XRxB7y {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.serviceplugincctvfeature .background-XRxB7y {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugincctvfeature .index-XRxB7y {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.serviceplugincctvfeature .web-index-select-dV4Vzr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugincctvfeature .web-index-unselect-dV4Vzr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugincctvfeature .web-index-unelect_main-XRxB7y {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.serviceplugincctvfeature .logo-QaC5EZ {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.serviceplugincctvfeature .table-guide-text2line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.serviceplugincctvfeature .table-guide-text2line_mint-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}
