/* screen - servicepluginliveviewbasicstructure */

.servicepluginliveviewbasicstructure {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewbasicstructure .group-2-75DqTk {
  background-color: transparent;
  height: 511px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .web-title-area-75DqTk {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .web-tab-service-plug-in_cctv-75DqTk {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .rectangle-19Jx09 {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .x3rd-depth-19Jx09 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .live-view-_-basic-st-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 165px;
}

.servicepluginliveviewbasicstructure .live-view-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 57px;
}

.servicepluginliveviewbasicstructure .live-view-_-feature-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewbasicstructure .live-view-_-interact-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 168px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-stru-copy-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-scre-Wdi8VR {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 139px;
}

.servicepluginliveviewbasicstructure .x3rd-depth-copy-19Jx09 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewbasicstructure .incoming-call-wEn7bB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 85px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-feat-wEn7bB {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 146px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-inte-wEn7bB {
  width: 197px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-inte-FTxKyV {
  width: 262px;
}

.servicepluginliveviewbasicstructure .incoming-call-_-inte-LfdhbK {
  width: 315px;
}

.servicepluginliveviewbasicstructure .lnb-service-plug-in-75DqTk {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewbasicstructure .rectangle-gUDgz4 {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginliveviewbasicstructure .lnb-gUDgz4 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewbasicstructure .stacked-group-yYcRxu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-title-common-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .empty-dMD0aQ {
  top: 21px;
}

.servicepluginliveviewbasicstructure .empty-SGRGY6 {
  top: 0px;
}

.servicepluginliveviewbasicstructure .web-index-contents1d-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-contents1dpeth_open_selected-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-contents2dpeth-copy-3-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-contents2dpeth-copy-2-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-contents2dpeth-copy-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .web-index-contents2dpeth-copy-4-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .empty-jt5dL6 {
  top: 21px;
}

.servicepluginliveviewbasicstructure .empty-4k1gAk {
  top: 0px;
}

.servicepluginliveviewbasicstructure .group-copy-GusPjf {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .empty-YJNwL7 {
  top: 21px;
}

.servicepluginliveviewbasicstructure .empty-Gxk9kM {
  top: 0px;
}

.servicepluginliveviewbasicstructure .web-index-title-reference-copy-GusPjf {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewbasicstructure .line-yYcRxu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewbasicstructure .home-net-ui-guideline-yYcRxu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginliveviewbasicstructure .webgnb-75DqTk {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewbasicstructure .rectangle-NDxjeU {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginliveviewbasicstructure .background-NDxjeU {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewbasicstructure .index-NDxjeU {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginliveviewbasicstructure .web-index-select-Mi655R {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewbasicstructure .web-index-unselect-Mi655R {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewbasicstructure .web-index-unelect_main-NDxjeU {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginliveviewbasicstructure .logo-B3dJLj {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginliveviewbasicstructure .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
