/* screen - servicepluginsaloggingcctv */

.servicepluginsaloggingcctv {
  background-color: var(--white);
  height: 1325px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginsaloggingcctv .group-8-YkLZQb {
  background-color: transparent;
  height: 794px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginsaloggingcctv .web-title-area-YkLZQb {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginsaloggingcctv .web-tab-service-plug-in_cctv-YkLZQb {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginsaloggingcctv .rectangle-kbmDOw {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.servicepluginsaloggingcctv .x3rd-depth-kbmDOw {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginsaloggingcctv .sa-logging-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 70px;
}

.servicepluginsaloggingcctv .home-screen-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 81px;
}

.servicepluginsaloggingcctv .more-option-copy-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 77px;
}

.servicepluginsaloggingcctv .notices-copy-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingcctv .deliveries-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 62px;
}

.servicepluginsaloggingcctv .vehicle-information-Uq80Wh {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginsaloggingcctv .x3rd-depth-copy-kbmDOw {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginsaloggingcctv .visitors-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 47px;
}

.servicepluginsaloggingcctv .ems-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 28px;
}

.servicepluginsaloggingcctv .maintenance-fee-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicepluginsaloggingcctv .cctv-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginsaloggingcctv .ev-charging-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 75px;
}

.servicepluginsaloggingcctv .reserve-visitor-vehi-copy-2-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 137px;
}

.servicepluginsaloggingcctv .live-view-copy-hSHatH {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 56px;
}

.servicepluginsaloggingcctv .lnb-service-plug-in-YkLZQb {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingcctv .rectangle-XDZ1ws {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginsaloggingcctv .lnb-XDZ1ws {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginsaloggingcctv .stacked-group-99Zpxj {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-title-common-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .empty-3nG9pc {
  top: 21px;
}

.servicepluginsaloggingcctv .empty-uH2Yqx {
  top: 0px;
}

.servicepluginsaloggingcctv .web-index-contents1d-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-contents1dpeth_open_selected-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-contents2dpeth-copy-3-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-contents2dpeth-copy-2-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-contents2dpeth-copy-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .web-index-contents2dpeth-copy-4-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .empty-l6wg4R {
  top: 21px;
}

.servicepluginsaloggingcctv .empty-jhh6DJ {
  top: 0px;
}

.servicepluginsaloggingcctv .group-copy-zgPaxI {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .empty-gCE6Q2 {
  top: 21px;
}

.servicepluginsaloggingcctv .empty-q2Lv51 {
  top: 0px;
}

.servicepluginsaloggingcctv .web-index-title-reference-copy-zgPaxI {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginsaloggingcctv .line-99Zpxj {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginsaloggingcctv .home-net-ui-guideline-99Zpxj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginsaloggingcctv .webgnb-YkLZQb {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingcctv .rectangle-qlSdgP {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginsaloggingcctv .background-qlSdgP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginsaloggingcctv .index-qlSdgP {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginsaloggingcctv .web-index-select-fLwLiQ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginsaloggingcctv .web-index-unselect-fLwLiQ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginsaloggingcctv .web-index-unelect_main-qlSdgP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginsaloggingcctv .logo-6H2GN4 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginsaloggingcctv .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
