/* screen - serviceplugindeliveriesinteractionflow */

.serviceplugindeliveriesinteractionflow {
  background-color: var(--white);
  height: 1268px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugindeliveriesinteractionflow .group-6-FzjrxB {
  background-color: transparent;
  height: 784px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .web-title-area-FzjrxB {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .web-tab-service-plug-in_-deliveries-FzjrxB {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .x3rd-depth-R4fxxQ {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugindeliveriesinteractionflow .tab-TH3SUz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugindeliveriesinteractionflow .card-J8nzRn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.serviceplugindeliveriesinteractionflow .feature-J8nzRn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.serviceplugindeliveriesinteractionflow .feature-_-no-informa-J8nzRn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.serviceplugindeliveriesinteractionflow .interaction-flow-J8nzRn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.serviceplugindeliveriesinteractionflow .case-J8nzRn {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 30px;
}

.serviceplugindeliveriesinteractionflow .lnb-service-plug-in-FzjrxB {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .rectangle-HT5zAI {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .lnb-HT5zAI {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .stacked-group-RqJI6B {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-title-common-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .empty-uYZsPH {
  top: 21px;
}

.serviceplugindeliveriesinteractionflow .empty-IEQoJ3 {
  top: 0px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents1d-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents1dpeth_open_selected-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents2dpeth-copy-3-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents2dpeth-copy-2-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents2dpeth-copy-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .web-index-contents2dpeth-copy-4-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .empty-P2Sryj {
  top: 21px;
}

.serviceplugindeliveriesinteractionflow .empty-A7sTtE {
  top: 0px;
}

.serviceplugindeliveriesinteractionflow .group-copy-hFql9o {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .empty-ECxktf {
  top: 21px;
}

.serviceplugindeliveriesinteractionflow .empty-YTesUr {
  top: 0px;
}

.serviceplugindeliveriesinteractionflow .web-index-title-reference-copy-hFql9o {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugindeliveriesinteractionflow .line-RqJI6B {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugindeliveriesinteractionflow .home-net-ui-guideline-RqJI6B {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.serviceplugindeliveriesinteractionflow .webgnb-FzjrxB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugindeliveriesinteractionflow .rectangle-Wr7DDE {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.serviceplugindeliveriesinteractionflow .background-Wr7DDE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugindeliveriesinteractionflow .index-Wr7DDE {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.serviceplugindeliveriesinteractionflow .web-index-select-xzsa3r {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugindeliveriesinteractionflow .web-index-unselect-xzsa3r {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugindeliveriesinteractionflow .web-index-unelect_main-Wr7DDE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.serviceplugindeliveriesinteractionflow .logo-UwVtzG {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.serviceplugindeliveriesinteractionflow .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
