/* screen - servicepluginreservevisitorvehiclecard */

.servicepluginreservevisitorvehiclecard {
  background-color: var(--white);
  height: 2335px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .group-22-WyqC5G {
  background-color: transparent;
  height: 718px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-21-7c1m4S {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-20-7c1m4S {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-ZBWOjz {
  height: 59px;
}

.servicepluginreservevisitorvehiclecard .group-19-7c1m4S {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-rYu0dw {
  height: 99px;
}

.servicepluginreservevisitorvehiclecard .group-18-7c1m4S {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-1L544M {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .group-17-7c1m4S {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-mH5QsV {
  height: 59px;
}

.servicepluginreservevisitorvehiclecard .group-16-7c1m4S {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 392px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-ZNnEpx {
  height: 59px;
}

.servicepluginreservevisitorvehiclecard .group-15-7c1m4S {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 461px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-mzsf54 {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-copy-2-mzsf54 {
  cursor: pointer;
}

.servicepluginreservevisitorvehiclecard .group-14-7c1m4S {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 550px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-zVMXS8 {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .group-7c1m4S {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 639px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-VTrxkc {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .group-25-WyqC5G {
  background-color: transparent;
  height: 373px;
  left: 1140px;
  position: absolute;
  top: 1315px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-24-VhcPIr {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .group-23-VhcPIr {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-N7Di09 {
  height: 139px;
}

.servicepluginreservevisitorvehiclecard .group-11-VhcPIr {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 205px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-hHS1xP {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .group-5-VhcPIr {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-9a0qNc {
  height: 79px;
}

.servicepluginreservevisitorvehiclecard .group-12-WyqC5G {
  background-color: transparent;
  height: 823px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginreservevisitorvehiclecard .group-13-WyqC5G {
  background-color: transparent;
  height: 820px;
  left: 410px;
  position: absolute;
  top: 1315px;
  width: 680px;
}

.servicepluginreservevisitorvehiclecard .web-sub_-title-WyqC5G {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .web-title-area-WyqC5G {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .web-tab-service-plug-in_cctv-WyqC5G {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .x3rd-depth-2Jquze {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclecard .tab-OcD3V2 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehiclecard .card-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehiclecard .feature-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclecard .interaction-flow-0cHTQc {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginreservevisitorvehiclecard .lnb-service-plug-in-WyqC5G {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .rectangle-ci4N24 {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .lnb-ci4N24 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .stacked-group-iNv3RS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-title-common-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .group-KndcQU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .empty-Es7Sur {
  top: 21px;
}

.servicepluginreservevisitorvehiclecard .empty-yOvINA {
  top: 0px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1d-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents1dpeth_open_selected-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-3-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-2-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .web-index-contents2dpeth-copy-4-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .group-jeLDOe {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .empty-2hbalZ {
  top: 21px;
}

.servicepluginreservevisitorvehiclecard .empty-pc4cmF {
  top: 0px;
}

.servicepluginreservevisitorvehiclecard .group-copy-KndcQU {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .empty-Qt5Dca {
  top: 21px;
}

.servicepluginreservevisitorvehiclecard .empty-f7ulJJ {
  top: 0px;
}

.servicepluginreservevisitorvehiclecard .web-index-title-reference-copy-KndcQU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclecard .line-iNv3RS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehiclecard .home-net-ui-guideline-iNv3RS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginreservevisitorvehiclecard .webgnb-WyqC5G {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .rectangle-dWSTXx {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .background-dWSTXx {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclecard .index-dWSTXx {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginreservevisitorvehiclecard .web-index-select-0PqxLt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehiclecard .web-index-unselect-0PqxLt {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehiclecard .web-index-unelect_main-dWSTXx {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginreservevisitorvehiclecard .logo-sNrX70 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginreservevisitorvehiclecard .table-guide-text2line_mint-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}
