/* screen - servicepluginhomescreennotificationsfeature */

.servicepluginhomescreennotificationsfeature {
  background-color: var(--white);
  height: 1305px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .group-6-9ovRxP {
  background-color: transparent;
  height: 716px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 670px;
}

.servicepluginhomescreennotificationsfeature .group-9-9ovRxP {
  background-color: transparent;
  height: 522px;
  left: 1140px;
  position: absolute;
  top: 389px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .group-5-wHZ5xn {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .group-8-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-5mmowd {
  height: 79px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2-5mmowd {
  cursor: pointer;
}

.servicepluginhomescreennotificationsfeature .group-7-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-1YfXbQ {
  height: 79px;
}

.servicepluginhomescreennotificationsfeature .group-4-wHZ5xn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-JoTJvg {
  height: 79px;
}

.servicepluginhomescreennotificationsfeature .group-3-wHZ5xn {
  background-color: transparent;
  height: 199px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-3hEFE3 {
  height: 199px;
}

.servicepluginhomescreennotificationsfeature .web-sub_-title-9ovRxP {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .web-title-area-9ovRxP {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .web-tab-service-plug-in_-home-screen-9ovRxP {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .rectangle-xMYu6B {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .x3rd-depth-xMYu6B {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .service-feature-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreennotificationsfeature .basic-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreennotificationsfeature .banner-app-link-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreennotificationsfeature .feature-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginhomescreennotificationsfeature .interaction-flow-copy-4-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreennotificationsfeature .notifications-_-feat-ULcxi0 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 142px;
}

.servicepluginhomescreennotificationsfeature .group-ULcxi0 {
  height: 17px;
  margin: 0 0 0 50px;
  width: 194px;
}

.servicepluginhomescreennotificationsfeature .notifications-_-inte-Tw4xxS {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 194px;
}

.servicepluginhomescreennotificationsfeature .x3rd-depth-copy-xMYu6B {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginhomescreennotificationsfeature .group-BHRGkZ {
  height: 17px;
  margin: 0;
  width: 619px;
}

.servicepluginhomescreennotificationsfeature .help-_-interaction-f-cb2h8t {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 478px;
  position: absolute;
  top: 0px;
  width: 141px;
}

.servicepluginhomescreennotificationsfeature .help-guide-_-using-b-cb2h8t {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.servicepluginhomescreennotificationsfeature .help-guide-copy-cb2h8t {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 157px;
  position: absolute;
  top: 0px;
  width: 67px;
}

.servicepluginhomescreennotificationsfeature .help-_-guide-text-cb2h8t {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 107px;
}

.servicepluginhomescreennotificationsfeature .lnb-service-plug-in-9ovRxP {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .rectangle-IjJDMD {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .lnb-IjJDMD {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .stacked-group-iVdjJz {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-title-common-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .group-KHmo8b {
  height: 41px;
  margin: 0px 0 0 0;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .empty-WkC9Ws {
  top: 21px;
}

.servicepluginhomescreennotificationsfeature .empty-qpSBnE {
  top: 0px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1d-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents1dpeth_open_selected-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-3-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-2-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .web-index-contents2dpeth-copy-4-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .group-7eyaU3 {
  height: 41px;
  margin: 0px 0 0 0;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .empty-RpLg4I {
  top: 21px;
}

.servicepluginhomescreennotificationsfeature .empty-Gbplz5 {
  top: 0px;
}

.servicepluginhomescreennotificationsfeature .group-copy-KHmo8b {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .empty-SmiAiC {
  top: 21px;
}

.servicepluginhomescreennotificationsfeature .empty-dFBh15 {
  top: 0px;
}

.servicepluginhomescreennotificationsfeature .web-index-title-reference-copy-KHmo8b {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreennotificationsfeature .line-iVdjJz {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreennotificationsfeature .home-net-ui-guideline-iVdjJz {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreennotificationsfeature .webgnb-9ovRxP {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .rectangle-sqhnhW {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .background-sqhnhW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreennotificationsfeature .index-sqhnhW {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreennotificationsfeature .web-index-select-0lJyrx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreennotificationsfeature .web-index-unselect-0lJyrx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreennotificationsfeature .web-index-unelect_main-sqhnhW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginhomescreennotificationsfeature .logo-oR9UuX {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginhomescreennotificationsfeature .group {
  background-color: transparent;
  position: relative;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicepluginhomescreennotificationsfeature .table-guide-text2line_mint-copy-2 {
  background-color: transparent;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}
