/* screen - servicepluginevcharginginteractionflow */

.servicepluginevcharginginteractionflow {
  background-color: var(--white);
  height: 1338px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginevcharginginteractionflow .group-5-NywojY {
  background-color: transparent;
  height: 854px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .web-title-area-NywojY {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .web-tab-service-plug-in_cctv-NywojY {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .x3rd-depth-JpTkFV {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginevcharginginteractionflow .tab-BuLDIU {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginevcharginginteractionflow .card-ZF2ixs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginevcharginginteractionflow .feature-ZF2ixs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginevcharginginteractionflow .interaction-flow-ZF2ixs {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginevcharginginteractionflow .lnb-service-plug-in-NywojY {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginevcharginginteractionflow .rectangle-GLlqo3 {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginevcharginginteractionflow .lnb-GLlqo3 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginevcharginginteractionflow .stacked-group-1FMYJp {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-title-common-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .empty-D4B4hy {
  top: 21px;
}

.servicepluginevcharginginteractionflow .empty-CWeG5P {
  top: 0px;
}

.servicepluginevcharginginteractionflow .web-index-contents1d-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-contents1dpeth_open_selected-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-contents2dpeth-copy-3-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-contents2dpeth-copy-2-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-contents2dpeth-copy-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .web-index-contents2dpeth-copy-4-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .empty-hxmRz8 {
  top: 21px;
}

.servicepluginevcharginginteractionflow .empty-y2e5tj {
  top: 0px;
}

.servicepluginevcharginginteractionflow .group-copy-DOvGKx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .empty-iG9UZY {
  top: 21px;
}

.servicepluginevcharginginteractionflow .empty-w7C1KD {
  top: 0px;
}

.servicepluginevcharginginteractionflow .web-index-title-reference-copy-DOvGKx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginevcharginginteractionflow .line-1FMYJp {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginevcharginginteractionflow .home-net-ui-guideline-1FMYJp {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginevcharginginteractionflow .webgnb-NywojY {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginevcharginginteractionflow .rectangle-u9p4vP {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginevcharginginteractionflow .background-u9p4vP {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginevcharginginteractionflow .index-u9p4vP {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginevcharginginteractionflow .web-index-select-wQGEbx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginevcharginginteractionflow .web-index-unselect-wQGEbx {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginevcharginginteractionflow .web-index-unelect_main-u9p4vP {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginevcharginginteractionflow .logo-xzNYwx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginevcharginginteractionflow .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
