/* screen - servicepluginhomescreenbannerpreexperienceguidance */

.servicepluginhomescreenbannerpreexperienceguidance {
  background-color: var(--white);
  height: 1405px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .group-7-6jQlHi {
  background-color: transparent;
  height: 816px;
  left: 420px;
  position: absolute;
  top: 389px;
  width: 1400px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-sub_-title-6jQlHi {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 331px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-title-area-6jQlHi {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-tab-service-plug-in_-home-screen-6jQlHi {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .rectangle-AOsZNf {
  background-color: var(--white);
  height: 94px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .x3rd-depth-AOsZNf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .service-feature-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 93px;
}

.servicepluginhomescreenbannerpreexperienceguidance .basic-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 33px;
}

.servicepluginhomescreenbannerpreexperienceguidance .banner-app-link-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginhomescreenbannerpreexperienceguidance .banner-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 132px;
}

.servicepluginhomescreenbannerpreexperienceguidance .banner-_-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 348px;
}

.servicepluginhomescreenbannerpreexperienceguidance .banner-_-i-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 244px;
}

.servicepluginhomescreenbannerpreexperienceguidance .banner-_-interaction-dgo3Y2 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 156px;
}

.servicepluginhomescreenbannerpreexperienceguidance .x3rd-depth-copy-AOsZNf {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginhomescreenbannerpreexperienceguidance .feature-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 48px;
}

.servicepluginhomescreenbannerpreexperienceguidance .interaction-flow-copy-4-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginhomescreenbannerpreexperienceguidance .notifications-_-feat-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidance .notifications-_-inte-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 194px;
}

.servicepluginhomescreenbannerpreexperienceguidance .help-_-guide-text-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.servicepluginhomescreenbannerpreexperienceguidance .help-guide-copy-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 67px;
}

.servicepluginhomescreenbannerpreexperienceguidance .help-guide-_-using-b-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 154px;
}

.servicepluginhomescreenbannerpreexperienceguidance .help-_-interaction-f-BkIf5D {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 141px;
}

.servicepluginhomescreenbannerpreexperienceguidance .lnb-service-plug-in-6jQlHi {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .rectangle-92uvJl {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .lnb-92uvJl {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .stacked-group-RskbGD {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-title-common-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-4ZTAtd {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-ho6LDe {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents1d-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents1dpeth_open_selected-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents2dpeth-copy-3-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents2dpeth-copy-2-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents2dpeth-copy-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-contents2dpeth-copy-4-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-Z6UnhM {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-iV0sUw {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidance .group-copy-nMyjhk {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-lfgHxy {
  top: 21px;
}

.servicepluginhomescreenbannerpreexperienceguidance .empty-qi4ogt {
  top: 0px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-title-reference-copy-nMyjhk {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginhomescreenbannerpreexperienceguidance .line-RskbGD {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginhomescreenbannerpreexperienceguidance .home-net-ui-guideline-RskbGD {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginhomescreenbannerpreexperienceguidance .webgnb-6jQlHi {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .rectangle-WTVD0M {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .background-WTVD0M {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .index-WTVD0M {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-select-Vd63zK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-unselect-Vd63zK {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginhomescreenbannerpreexperienceguidance .web-index-unelect_main-WTVD0M {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginhomescreenbannerpreexperienceguidance .logo-rsyVa5 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginhomescreenbannerpreexperienceguidance .group-8-6jQlHi {
  background-color: transparent;
  height: 1404px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .rectangle-t2ioia {
  background-color: var(--granite-gray);
  height: 1404px;
  opacity: 0.56;
  width: 1920px;
}

.servicepluginhomescreenbannerpreexperienceguidance .text_label-t2ioia {
  background-color: transparent;
  font-weight: 400;
  height: 123px;
  left: 775px;
  letter-spacing: 0.00px;
  line-height: 120px;
  position: absolute;
  text-align: left;
  top: 641px;
  white-space: nowrap;
  width: auto;
}

.servicepluginhomescreenbannerpreexperienceguidance .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
