/* screen - servicepluginreservevisitorvehicleinteractionflow */

.servicepluginreservevisitorvehicleinteractionflow {
  background-color: var(--white);
  height: 6272px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-13-aytgK2 {
  background-color: transparent;
  height: 835px;
  left: 420px;
  position: absolute;
  top: 4401px;
  width: 1404px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-14-aytgK2 {
  background-color: transparent;
  height: 736px;
  left: 420px;
  position: absolute;
  top: 5336px;
  width: 836px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-9-aytgK2 {
  background-color: transparent;
  height: 913px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-10-aytgK2 {
  background-color: transparent;
  height: 833px;
  left: 420px;
  position: absolute;
  top: 1347px;
  width: 1400px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-11-aytgK2 {
  background-color: transparent;
  height: 1028px;
  left: 420px;
  position: absolute;
  top: 2330px;
  width: 1400px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-12-aytgK2 {
  background-color: transparent;
  height: 744px;
  left: 420px;
  position: absolute;
  top: 3508px;
  width: 1400px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-title-area-aytgK2 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-tab-service-plug-in_cctv-aytgK2 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehicleinteractionflow .x3rd-depth-GdmaHU {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehicleinteractionflow .tab-kZA27u {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehicleinteractionflow .card-1X8uFI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehicleinteractionflow .feature-1X8uFI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehicleinteractionflow .interaction-flow-1X8uFI {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 99px;
}

.servicepluginreservevisitorvehicleinteractionflow .lnb-service-plug-in-aytgK2 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .rectangle-ScVqU4 {
  background-color: var(--concrete);
  height: 1627px;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .lnb-ScVqU4 {
  background-color: transparent;
  height: 1627px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .stacked-group-MVoQ1I {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-title-common-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-WpcZB9 {
  top: 21px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-1n1nvD {
  top: 0px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents1d-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents1dpeth_open_selected-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents2dpeth-copy-3-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents2dpeth-copy-2-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents2dpeth-copy-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-contents2dpeth-copy-4-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-kgNnO4 {
  top: 21px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-10HKAx {
  top: 0px;
}

.servicepluginreservevisitorvehicleinteractionflow .group-copy-yXThxY {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-s5m0Ix {
  top: 21px;
}

.servicepluginreservevisitorvehicleinteractionflow .empty-44JaqN {
  top: 0px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-title-reference-copy-yXThxY {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehicleinteractionflow .line-MVoQ1I {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehicleinteractionflow .home-net-ui-guideline-MVoQ1I {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicepluginreservevisitorvehicleinteractionflow .webgnb-aytgK2 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehicleinteractionflow .rectangle-h1rPQl {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginreservevisitorvehicleinteractionflow .background-h1rPQl {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehicleinteractionflow .index-h1rPQl {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-select-PtxdPJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-unselect-PtxdPJ {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehicleinteractionflow .web-index-unelect_main-h1rPQl {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicepluginreservevisitorvehicleinteractionflow .logo-WUdmPf {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.servicepluginreservevisitorvehicleinteractionflow .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
