/* screen - basiccomponentbasicheaderappbar */

.basiccomponentbasicheaderappbar {
  background-color: var(--white);
  height: 2171px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .group-10-QVRPX5 {
  background-color: transparent;
  height: 712px;
  left: 414px;
  position: absolute;
  top: 1259px;
  width: 676px;
}

.basiccomponentbasicheaderappbar .group-3-copy-2-QVRPX5 {
  height: 190px;
  top: 1627px;
}

.basiccomponentbasicheaderappbar .table-guide-title-wwwxQH {
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-ErmC5r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentbasicheaderappbar .table-title-text-ErmC5r {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-title-dKWVeP {
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-6ZHx7X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentbasicheaderappbar .table-title-text-6ZHx7X {
  width: 154px;
}

.basiccomponentbasicheaderappbar .rectangle-bPP55F {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentbasicheaderappbar .table-title-text-bPP55F {
  width: 94px;
}

.basiccomponentbasicheaderappbar .rectangle-EY6WYg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentbasicheaderappbar .table-title-text-EY6WYg {
  width: 178px;
}

.basiccomponentbasicheaderappbar .table-guide-title-AUTYeH {
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-joshqD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-title-text-joshqD {
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-xixFzS {
  height: 60px;
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-mFYTnV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentbasicheaderappbar .contents-mFYTnV {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-y4T5yd {
  height: 60px;
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-l2pcjh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentbasicheaderappbar .contents-l2pcjh {
  width: 154px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-6sWDKp {
  height: 60px;
  left: 236px;
  width: 100px;
}

.basiccomponentbasicheaderappbar .rectangle-Oq2ihH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentbasicheaderappbar .contents-Oq2ihH {
  width: 88px;
}

.basiccomponentbasicheaderappbar .rectangle-H2tBDK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentbasicheaderappbar .contents-H2tBDK {
  width: 184px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-xWCC9w {
  height: 35px;
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-4LLExE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentbasicheaderappbar .contents-4LLExE {
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-sUdx6f {
  height: 60px;
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-jm3nx8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentbasicheaderappbar .contents-jm3nx8 {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-yfLsBm {
  height: 60px;
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-avQeFd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentbasicheaderappbar .contents-avQeFd {
  width: 154px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-0xmq5z {
  height: 60px;
  left: 236px;
  width: 100px;
}

.basiccomponentbasicheaderappbar .rectangle-YRxMBl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentbasicheaderappbar .contents-YRxMBl {
  width: 88px;
}

.basiccomponentbasicheaderappbar .rectangle-jC5e9j {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentbasicheaderappbar .contents-jC5e9j {
  width: 184px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-TKfT3x {
  height: 35px;
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-8KLS4x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentbasicheaderappbar .contents-8KLS4x {
  width: 38px;
}

.basiccomponentbasicheaderappbar .group-QVRPX5 {
  background-color: transparent;
  height: 268px;
  left: 1140px;
  position: absolute;
  top: 1259px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-2-copy-4-MuxQHx {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 680px;
}

.tableguidetext1line188 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line188 .background-O9xSMJ {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line188 .rectangle-O9xSMJ {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line188 .contents-O9xSMJ {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line189 {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line189 .background-5BgNuX {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line189 .rectangle-5BgNuX {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line189 .contents-5BgNuX {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem78 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem78 .background-aQoL7C {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem78 .rectangle-aQoL7C {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem78 .contents-aQoL7C {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentbasicheaderappbar .group-2-copy-2-MuxQHx {
  top: 113px;
}

.tableguidetext1line190 {
  background-color: transparent;
  height: 43.02%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line190 .background-HNgJdb {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line190 .rectangle-HNgJdb {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line190 .contents-HNgJdb {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-e3GiGA {
  height: 75px;
  left: 410px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .rectangle-Ku0llC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.basiccomponentbasicheaderappbar .group-Ku0llC {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .content-OxLTMF {
  color: var(--black);
  top: 22px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .content-fgxzkw {
  color: var(--fuscous-gray);
  top: 44px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .title-OxLTMF {
  color: var(--science-blue);
  left: 0px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .rectangle-iJs4El {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-iJs4El {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .content-uVZFas {
  color: var(--black);
  top: 22px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .title-uVZFas {
  color: var(--persian-green);
  left: 0px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .group-2-copy-3-MuxQHx {
  height: 59px;
  top: 209px;
}

.tableguidetext1line191 {
  background-color: transparent;
  height: 62.71%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line191 .background-5Dsozs {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line191 .rectangle-5Dsozs {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line191 .contents-5Dsozs {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line192 {
  background-color: transparent;
  height: 62.71%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line192 .background-OsLRKz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line192 .rectangle-OsLRKz {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line192 .contents-OsLRKz {
  background-color: transparent;
  color: #0074d4;
  font-family: 'SamsungOneKorean-600', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line_m-X8axx2 {
  cursor: pointer;
}

.basiccomponentbasicheaderappbar .rectangle-lD1rId {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-lD1rId {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .content-iwR15A {
  color: var(--lochmara);
  text-decoration: underline;
  top: 22px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .title-iwR15A {
  color: var(--persian-green);
  left: 0px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .group-3-MuxQHx {
  top: 0px;
}

.basiccomponentbasicheaderappbar .table-guide-title-w0xWxD {
  left: 410px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .rectangle-MwZxBi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentbasicheaderappbar .table-title-text-MwZxBi {
  width: 258px;
}

.basiccomponentbasicheaderappbar .table-guide-title-BhAGfB {
  left: 60px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .rectangle-Y7tsUz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentbasicheaderappbar .table-title-text-Y7tsUz {
  width: 328px;
}

.basiccomponentbasicheaderappbar .table-guide-title-Z3Vpec {
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-xzWn46 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-title-text-xzWn46 {
  width: 38px;
}

.basiccomponentbasicheaderappbar .group-6-QVRPX5 {
  background-color: transparent;
  height: 238px;
  left: 420px;
  position: absolute;
  top: 871px;
  width: 670px;
}

.basiccomponentbasicheaderappbar .group-7-QVRPX5 {
  background-color: transparent;
  height: 404px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.basiccomponentbasicheaderappbar .group-3-copy-2-RWPQBq {
  height: 264px;
  top: 801px;
}

.basiccomponentbasicheaderappbar .table-guide-title-dr3HC2 {
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-iiDZwT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.basiccomponentbasicheaderappbar .table-title-text-iiDZwT {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-title-apR3dK {
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-H5McKa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.basiccomponentbasicheaderappbar .table-title-text-H5McKa {
  width: 154px;
}

.basiccomponentbasicheaderappbar .rectangle-bAbVT5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.basiccomponentbasicheaderappbar .table-title-text-bAbVT5 {
  width: 94px;
}

.basiccomponentbasicheaderappbar .rectangle-QIRpm3 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.basiccomponentbasicheaderappbar .table-title-text-QIRpm3 {
  width: 178px;
}

.basiccomponentbasicheaderappbar .table-guide-title-B55AhZ {
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-d2qDgc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-title-text-d2qDgc {
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-q2fF22 {
  height: 60px;
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-DxxumM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentbasicheaderappbar .contents-DxxumM {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-FJpCgd {
  height: 60px;
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-b4OamO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentbasicheaderappbar .contents-b4OamO {
  width: 154px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-dVikcF {
  height: 60px;
  left: 236px;
  width: 100px;
}

.basiccomponentbasicheaderappbar .rectangle-uM88Bd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentbasicheaderappbar .contents-uM88Bd {
  width: 88px;
}

.basiccomponentbasicheaderappbar .rectangle-msTuL7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentbasicheaderappbar .contents-msTuL7 {
  width: 184px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-x5hYdj {
  height: 35px;
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-Ujhu0a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentbasicheaderappbar .contents-Ujhu0a {
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-TssPCR {
  height: 60px;
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-NS5tvF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentbasicheaderappbar .contents-NS5tvF {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-srQxoo {
  height: 60px;
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-1kCvlD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentbasicheaderappbar .contents-1kCvlD {
  width: 154px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-81Rjm2 {
  height: 60px;
  left: 236px;
  width: 100px;
}

.basiccomponentbasicheaderappbar .rectangle-PtvG0l {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentbasicheaderappbar .contents-PtvG0l {
  width: 88px;
}

.basiccomponentbasicheaderappbar .rectangle-CxI4rM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentbasicheaderappbar .contents-CxI4rM {
  width: 184px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-7klL49 {
  height: 35px;
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-TDWXED {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentbasicheaderappbar .contents-TDWXED {
  width: 38px;
}

.basiccomponentbasicheaderappbar .styletable1line_-color-copy-2-SksMTp {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 204px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-lmBex7 {
  height: 60px;
  left: 552px;
  width: 128px;
}

.basiccomponentbasicheaderappbar .rectangle-s2zBZJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.basiccomponentbasicheaderappbar .contents-s2zBZJ {
  width: 116px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-6lCnfT {
  height: 60px;
  left: 60px;
  width: 166px;
}

.basiccomponentbasicheaderappbar .rectangle-QcJqEA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.basiccomponentbasicheaderappbar .contents-QcJqEA {
  width: 154px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-vRIfJ2 {
  height: 60px;
  left: 236px;
  width: 100px;
}

.basiccomponentbasicheaderappbar .rectangle-pSxf67 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.basiccomponentbasicheaderappbar .contents-pSxf67 {
  width: 88px;
}

.basiccomponentbasicheaderappbar .rectangle-25fzvV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.basiccomponentbasicheaderappbar .contents-25fzvV {
  width: 184px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-xDmxpS {
  height: 35px;
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-fPXPUz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.basiccomponentbasicheaderappbar .contents-fPXPUz {
  width: 38px;
}

.basiccomponentbasicheaderappbar .group-RWPQBq {
  background-color: transparent;
  height: 219px;
  left: 1140px;
  position: absolute;
  top: 312px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-2-copy-3-ygBOa0 {
  height: 37px;
  top: 182px;
}

.tableguidetext1line193 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line193 .background-U2bteF {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line193 .rectangle-U2bteF {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line193 .contents-U2bteF {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.tableguidetext1line194 {
  background-color: transparent;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 39.71%;
}

.tableguidetext1line194 .background-0YfV3q {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line194 .rectangle-0YfV3q {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.tableguidetext1line194 .contents-0YfV3q {
  background-color: transparent;
  color: #0074d4;
  font-family: 'SamsungOneKorean-600', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 258px;
}

.tableguidetext2linem79 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 8.82%;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50.00%;
}

.tableguidetext2linem79 .background-4emLEc {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem79 .rectangle-4emLEc {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.tableguidetext2linem79 .contents-4emLEc {
  background-color: transparent;
  color: #0070c0;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 11px;
  white-space: nowrap;
  width: 328px;
}

.basiccomponentbasicheaderappbar .group-2-copy-2-ygBOa0 {
  top: 86px;
}

.tableguidetext1line195 {
  background-color: transparent;
  height: 43.02%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 7.35%;
}

.tableguidetext1line195 .background-DVLQwu {
  background-color: transparent;
  height: 37px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line195 .rectangle-DVLQwu {
  background-color: #000000;
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.tableguidetext1line195 .contents-DVLQwu {
  background-color: transparent;
  color: #000000;
  font-family: 'SamsungOneKorean-400', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: 38px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line-CjNRvL {
  height: 75px;
  left: 410px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .rectangle-5wxvkk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.basiccomponentbasicheaderappbar .group-5wxvkk {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .content-f7Smbv {
  color: var(--black);
  top: 22px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .content-LLSsY6 {
  color: var(--fuscous-gray);
  top: 44px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .title-f7Smbv {
  color: var(--science-blue);
  left: 0px;
  width: 258px;
}

.basiccomponentbasicheaderappbar .rectangle-xGbTX0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.basiccomponentbasicheaderappbar .group-xGbTX0 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .content-lGxbA5 {
  color: var(--black);
  top: 22px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .title-lGxbA5 {
  color: var(--persian-green);
  left: 0px;
  width: 328px;
}

.basiccomponentbasicheaderappbar .group-3-ygBOa0 {
  top: 30px;
}

.basiccomponentbasicheaderappbar .table-guide-title-RnVWvG {
  left: 410px;
  width: 270px;
}

.basiccomponentbasicheaderappbar .rectangle-pREKMA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.basiccomponentbasicheaderappbar .table-title-text-pREKMA {
  width: 258px;
}

.basiccomponentbasicheaderappbar .table-guide-title-0LElal {
  left: 60px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .rectangle-WQhxof {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.basiccomponentbasicheaderappbar .table-title-text-WQhxof {
  width: 328px;
}

.basiccomponentbasicheaderappbar .table-guide-title-GlMds0 {
  left: 0px;
  width: 50px;
}

.basiccomponentbasicheaderappbar .rectangle-FHqzxK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.basiccomponentbasicheaderappbar .table-title-text-FHqzxK {
  width: 38px;
}

.basiccomponentbasicheaderappbar .title-ygBOa0 {
  color: var(--persian-green);
  left: 60px;
  width: 283px;
}

.basiccomponentbasicheaderappbar .web-sub_-title-QVRPX5 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.basiccomponentbasicheaderappbar .sub-title-7FUomp {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.basiccomponentbasicheaderappbar .web-title-area-QVRPX5 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .web-tab-service-feature_-basic-layout-QVRPX5 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .x3rd-depth-bfEhqg {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.basiccomponentbasicheaderappbar .tab-bfEhqg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.basiccomponentbasicheaderappbar .header_-app-bar-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 102px;
}

.basiccomponentbasicheaderappbar .service-feature-type-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 71px;
}

.basiccomponentbasicheaderappbar .layout_-basic-grid_-de-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 202px;
}

.basiccomponentbasicheaderappbar .layout_-basic-grid_-se-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 206px;
}

.basiccomponentbasicheaderappbar .layout_bg-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 68px;
}

.basiccomponentbasicheaderappbar .layout_bg_-dynamic-br-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 251px;
}

.basiccomponentbasicheaderappbar .progress-circle-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 91px;
}

.basiccomponentbasicheaderappbar .refresh-Ioao9b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.basiccomponentbasicheaderappbar .lnb-favorite-card-QVRPX5 {
  background-color: transparent;
  height: 1581px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .rectangle-VlteOa {
  background-color: var(--concrete);
  height: 1581px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .background-VlteOa {
  background-color: var(--concrete);
  height: 1039px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .stacked-group-VlteOa {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-GmRnc8 {
  margin: 0;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-2-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-14-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-10-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-6-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-11-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-7-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-4-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-8-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-9-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-5-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-3-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-12-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-13-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents2dpeth-copy-15-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .web-index-contents1dpeth_open_selected-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .group-copy-GmRnc8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .empty-RZNR2Z {
  top: 21px;
}

.basiccomponentbasicheaderappbar .empty-zBWp7V {
  top: 0px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-copy-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .group-GmRnc8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .empty-vSkH9o {
  top: 21px;
}

.basiccomponentbasicheaderappbar .empty-RsbqcF {
  top: 0px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-CBppAK {
  margin: 0px 0 0 0;
}

.basiccomponentbasicheaderappbar .group-copy-2-GmRnc8 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .empty-V32uWu {
  top: 21px;
}

.basiccomponentbasicheaderappbar .empty-Idoi0B {
  top: 0px;
}

.basiccomponentbasicheaderappbar .web-index-title-common-copy-2-GmRnc8 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.basiccomponentbasicheaderappbar .line-VlteOa {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.basiccomponentbasicheaderappbar .home-net-gui-guidelin-VlteOa {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.basiccomponentbasicheaderappbar .webgnb-QVRPX5 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .rectangle-e5xxNu {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .background-e5xxNu {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.basiccomponentbasicheaderappbar .index-e5xxNu {
  background-color: transparent;
  height: 22px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 116px;
}

.basiccomponentbasicheaderappbar .web-index-select-FqtRtx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.basiccomponentbasicheaderappbar .web-index-unselect-FqtRtx {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 87px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.basiccomponentbasicheaderappbar .web-index-unelect_main-e5xxNu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.basiccomponentbasicheaderappbar .logo-HadctS {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.basiccomponentbasicheaderappbar .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.basiccomponentbasicheaderappbar .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.basiccomponentbasicheaderappbar .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.basiccomponentbasicheaderappbar .group-2-copy-2 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-2-copy-3 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-3 {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.basiccomponentbasicheaderappbar .group-3-copy-2 {
  background-color: transparent;
  left: 1140px;
  position: absolute;
  width: 680px;
}

.basiccomponentbasicheaderappbar .rectangle {
  left: 0px;
  position: absolute;
  top: 0px;
}

.basiccomponentbasicheaderappbar .styletable1line_-color {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .styletable1line_-color-copy {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 680px;
}

.basiccomponentbasicheaderappbar .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.basiccomponentbasicheaderappbar .table-guide-text2line_m {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.basiccomponentbasicheaderappbar .table-guide-title-copy {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.basiccomponentbasicheaderappbar .table-guide-title-copy-2 {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.basiccomponentbasicheaderappbar .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
