/* screen - servicefeaturetext */

.servicefeaturetext {
  background-color: var(--white);
  height: 1351px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeaturetext .group-9-KAgxtA {
  background-color: transparent;
  height: 399px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 1600px;
}

.servicefeaturetext .group-KAgxtA {
  background-color: transparent;
  height: 809px;
  left: 1120px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicefeaturetext .group-7-xSobbY {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeaturetext .group-7-UVeKQG {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicefeaturetext .group-7-copy-3-xSobbY {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 730px;
  width: 680px;
}

.servicefeaturetext .group-7-ZqMZZN {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 234px;
  width: 680px;
}

.servicefeaturetext .group-7-pw2sIW {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeaturetext .group-7-copy-xSobbY {
  background-color: transparent;
  height: 139px;
  left: 0px;
  position: absolute;
  top: 472px;
  width: 680px;
}

.servicefeaturetext .group-7-copy-2-xSobbY {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 621px;
  width: 680px;
}

.servicefeaturetext .table-guide-text1line-xjmjrf {
  background-color: transparent;
  cursor: pointer;
  height: 37px;
  left: 470px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.servicefeaturetext .table-guide-text1line-xxHxF4 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicefeaturetext .table-guide-text1line_-bold-xjmjrf {
  background-color: transparent;
  height: 99px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 400px;
}

.servicefeaturetext .group-4-xSobbY {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeaturetext .web-title-area-KAgxtA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicefeaturetext .web-tab-favorite-car-KAgxtA {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeaturetext .x3rd-depth-pvSybk {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeaturetext .tab-pvSybk {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeaturetext .contents-structure-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 116px;
}

.servicefeaturetext .service-feature-type-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 130px;
}

.servicefeaturetext .text-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 26px;
}

.servicefeaturetext .list-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeaturetext .dropdown-list-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 102px;
}

.servicefeaturetext .dropdown-graph-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeaturetext .media-cJipey {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeaturetext .lnb-favorite-card-KAgxtA {
  background-color: transparent;
  height: 1029px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .rectangle-z45Del {
  background-color: var(--concrete);
  height: 1029px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .background-z45Del {
  background-color: var(--concrete);
  height: 942px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .stacked-group-z45Del {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeaturetext .web-index-title-common-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-BKUWZR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-xmbLBc {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-DHJdom {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-sfMuPW {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_open_selected-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents2dpeth-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents2dpeth-BKUWZR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .group-iRxkif {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .empty-Plp7kl {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturetext .line-copy-Plp7kl {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturetext .empty-fMPlHf {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .web-index-title-reference-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.servicefeaturetext .web-index-contents1dpeth_close-Q9LbLJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-AwMi4m {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-I9yN2A {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .web-index-contents1dpeth_close-aGGWsS {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .group-BKUWZR {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .empty-dtxVeO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturetext .line-copy-dtxVeO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturetext .empty-9F9XY0 {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .web-index-title-reference-BKUWZR {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.servicefeaturetext .group-copy-iRxkif {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeaturetext .empty-CkCW1m {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeaturetext .line-copy-CkCW1m {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeaturetext .empty-rxA6XQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeaturetext .web-index-title-reference-copy-iRxkif {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 313px;
}

.servicefeaturetext .line-z45Del {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeaturetext .home-net-ui-guideline-z45Del {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.servicefeaturetext .webgnb-KAgxtA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeaturetext .rectangle-W94YIj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturetext .background-W94YIj {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicefeaturetext .index-W94YIj {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 21px;
  width: 122px;
}

.servicefeaturetext .web-index-select-66yIv3 {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeaturetext .web-index-unselect-66yIv3 {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 93px;
  position: absolute;
  top: 0px;
  width: 29px;
}

.servicefeaturetext .web-index-select_main-W94YIj {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.servicefeaturetext .logo-ikUjw0 {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
