/* screen - servicefeatureservicefeaturetypesdropdwonagraph */

.servicefeatureservicefeaturetypesdropdwonagraph {
  background-color: var(--white);
  height: 2610px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .optional-text-61BmoA {
  background-color: transparent;
  height: 17px;
  left: 421px;
  position: absolute;
  top: 989px;
  width: 92px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-22-61BmoA {
  background-color: transparent;
  height: 72px;
  left: 420px;
  position: absolute;
  top: 1126px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-23-61BmoA {
  background-color: transparent;
  height: 215px;
  left: 352px;
  position: absolute;
  top: 1456px;
  width: 506px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-18-61BmoA {
  background-color: transparent;
  height: 132px;
  left: 392px;
  position: absolute;
  top: 1224px;
  width: 404px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-7-61BmoA {
  background-color: transparent;
  height: 589px;
  left: 419px;
  position: absolute;
  top: 1821px;
  width: 670px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-5-61BmoA {
  background-color: transparent;
  height: 596px;
  left: 380px;
  position: absolute;
  top: 343px;
  width: 710px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-21-61BmoA {
  background-color: transparent;
  height: 447px;
  left: 1140px;
  position: absolute;
  top: 343px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-19-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-QOVi5p {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-YQPx2a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-YQPx2a {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-UJKzpp {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Dd5cn6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Dd5cn6 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-4xT8sD {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-hbEz8R {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-hbEz8R {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-14-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 256px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-L1fTqC {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-pwP5sq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-pwP5sq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-O6s6sq {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Oq8y2T {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Oq8y2T {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-vL18t1 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-cQ7xzb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-cQ7xzb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-8-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-jwytHy {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-tr0arn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-tr0arn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-dNDafp {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-8snsCy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-8snsCy {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-xoi2SC {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-joQRsd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-joQRsd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-jYyIfz {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 390px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-8Oxkmn {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-B7fDTL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-B7fDTL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-loUMgQ {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-u2zkRF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-u2zkRF {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-9C4k7t {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-xli53D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-xli53D {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-20-jYyIfz {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-cwlPOr {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-LT6shT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-LT6shT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-VfbvFQ {
  cursor: pointer;
  height: 31px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-DSVH3x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-DSVH3x {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-pqfnkB {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Qokunz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Qokunz {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-17-jYyIfz {
  background-color: transparent;
  height: 76px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-shShxk {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-7PMxtd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-7PMxtd {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_b-shShxk {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-StsSOc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-StsSOc {
  background-color: transparent;
  height: 59px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-xGl1LY {
  color: var(--magenta--fuchsia);
  height: auto;
  line-height: 17px;
  top: 42px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-xGl1LY {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-6YTsYl {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-eQ66pX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-eQ66pX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-ye78Lg {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Uxgc3z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-Uxgc3z {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-EDHwKA {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-HhK0eP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-HhK0eP {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-3vJlIx {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-2qXSNj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-2qXSNj {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-13-61BmoA {
  background-color: transparent;
  height: 189px;
  left: 1140px;
  position: absolute;
  top: 1126px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-9-UxwiZ3 {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-y3CC82 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-u0fsYj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-u0fsYj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text2line_m-y3CC82 {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Q9Kkzb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-Q9Kkzb {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-6s0KGG {
  color: var(--black);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 22px;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-6s0KGG {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text3line-y3CC82 {
  background-color: transparent;
  height: 75px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-DdxB6H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-DdxB6H {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-pR9HGg {
  color: var(--black);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 22px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-xi2tMr {
  color: var(--fuscous-gray);
  height: 20px;
  line-height: 20px;
  opacity: 0.8;
  top: 44px;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-pR9HGg {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-15-UxwiZ3 {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-HGRNkh {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-txTsu7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-txTsu7 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-hiIJXN {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-AIfiys {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-AIfiys {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-K1vdqa {
  height: 31px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-vlMy7W {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-vlMy7W {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-uo06Nu {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-uxHfmy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-uxHfmy {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-wpTGgW {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-HGrYe8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-HGrYe8 {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-IMbEQL {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-CLxo2e {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-CLxo2e {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-10-61BmoA {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 1821px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-16-pgMcib {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-tbi8Dq {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-6uyr7U {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-6uyr7U {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-XMxdNH {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-DXKzzl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-DXKzzl {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-Q7UsAA {
  cursor: pointer;
  height: 31px;
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-frEDIE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-frEDIE {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-Z9EDT2 {
  left: 410px;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-l5fZ8a {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-l5fZ8a {
  width: 258px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-1H2IfH {
  left: 60px;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-ZFI8to {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-ZFI8to {
  width: 328px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-IisBEA {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Z6q1lP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-Z6q1lP {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-11-61BmoA {
  background-color: transparent;
  height: 256px;
  left: 1140px;
  position: absolute;
  top: 1415px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .styletabletop-o1ZfBV {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-ggxFNu {
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-jWPSOR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-jWPSOR {
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-xlYEb2 {
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-YrSAxA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-YrSAxA {
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-3QeNTV {
  left: 236px;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-2j91RT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-2j91RT {
  width: 94px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-7M67xe {
  left: 352px;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-xBPFrg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-xBPFrg {
  width: 178px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-title-UVeQhN {
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-vmmPFa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-title-text-vmmPFa {
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .styletable1line-o1ZfBV {
  height: 53px;
  top: 56px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-zxDZg5 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-dzbY6r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-dzbY6r {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-uk6Bdr {
  height: 31px;
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-yu09mE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-yu09mE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-XNyxvp {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-81LRPx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-81LRPx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-xkiIFe {
  height: 53px;
  left: 346px;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-3nv4zt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-3nv4zt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-8wg6Ex {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-YV0Wp7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-YV0Wp7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .styletable1line-uxe6GU {
  height: 50px;
  top: 126px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-PDXchz {
  height: 31px;
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-Kx1Idp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-Kx1Idp {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-Q13uan {
  height: 31px;
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-dtuSA8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-dtuSA8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-PxBKsK {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-xb23xH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-xb23xH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-ib4FWJ {
  height: 50px;
  left: 346px;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-FyGRHc {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-FyGRHc {
  background-color: transparent;
  height: 39px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content-bBF250 {
  color: var(--rose);
  height: auto;
  line-height: 17px;
  top: 22px;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title-bBF250 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-cYj34i {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-MDXz9C {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-MDXz9C {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .styletable1line-k5qxzP {
  height: 53px;
  top: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-7Ng5M8 {
  height: 31px;
  left: 552px;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-x4FSsy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-x4FSsy {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-lY0sx2 {
  height: 31px;
  left: 60px;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-zl2iNA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-zl2iNA {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-Fe8aaw {
  height: 31px;
  left: 236px;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-hFgH6Y {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-hFgH6Y {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-eEC8v9 {
  height: 53px;
  left: 346px;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-cx0ypb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-cx0ypb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line-xmimDx {
  height: 31px;
  left: 0px;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-4OjjDb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-4OjjDb {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-sub_-title-61BmoA {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 285px;
  width: 360px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .sub-title-UqH1UN {
  background-color: transparent;
  height: 28px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 206px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-title-area-61BmoA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 65px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-tab-favorite-car-61BmoA {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 188px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .x3rd-depth-5dnb8R {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .tab-5dnb8R {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-0A88MT {
  margin: 0;
  width: 130px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .service-feature-type-759Qfx {
  margin: 0 0 0 50px;
  width: 26px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 23px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdown-list-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .dropdwon-graph-copy-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .info-text-graph-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .graph-rule-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 69px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .media-0A88MT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 38px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .lnb-service-feature-61BmoA {
  background-color: transparent;
  height: 891px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-9mv2JQ {
  background-color: var(--concrete);
  height: 891px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-9mv2JQ {
  background-color: var(--concrete);
  height: 717px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .stacked-group-9mv2JQ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-wZLuul {
  margin: 0;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-contents1dpeth_open_selected-wZLuul {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-copy-wZLuul {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-xS8TsZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-2-xS8TsZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-2-xS8TsZ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-4TJzoz {
  margin: 0px 0 0 0;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-copy-2-wZLuul {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-3-ka9KQG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-3-ka9KQG {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-copy-4-ka9KQG {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-copy-wZLuul {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .group-wZLuul {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-tbSjLF {
  top: 21px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-copy-tbSjLF {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .empty-xxxxvB {
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-title-common-M1RpTN {
  margin: 0px 0 0 0;
}

.servicefeatureservicefeaturetypesdropdwonagraph .line-9mv2JQ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .home-net-gui-guidelin-9mv2JQ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .webgnb-61BmoA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .rectangle-41agsY {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .background-41agsY {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .index-41agsY {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unselect-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-select-9Ml5bc {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .web-index-unelect_main-41agsY {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .logo-MTmCxM {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .styletable1line {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.servicefeatureservicefeaturetypesdropdwonagraph .title {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
}
