/* screen - devicefeaturecapabilitiesvalue */

.devicefeaturecapabilitiesvalue {
  background-color: var(--white);
  height: 2115px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturecapabilitiesvalue .group-8-EmxkWp {
  background-color: transparent;
  height: 241px;
  left: 364px;
  position: absolute;
  top: 1089px;
  width: 432px;
}

.devicefeaturecapabilitiesvalue .group-7-EmxkWp {
  background-color: transparent;
  height: 240px;
  left: 364px;
  position: absolute;
  top: 731px;
  width: 432px;
}

.devicefeaturecapabilitiesvalue .group-2-EmxkWp {
  background-color: transparent;
  height: 240px;
  left: 364px;
  position: absolute;
  top: 342px;
  width: 726px;
}

.devicefeaturecapabilitiesvalue .group-9-EmxkWp {
  background-color: transparent;
  height: 443px;
  left: 385px;
  position: absolute;
  top: 1447px;
  width: 705px;
}

.devicefeaturecapabilitiesvalue .group-EmxkWp {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .group-2-copy-2-uS66AQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-2KZeAz {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-3suDWu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-3suDWu {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-CJvCHg {
  height: 31px;
  left: 410px;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .rectangle-T68dux {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .contents-T68dux {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-2KZeAz {
  cursor: pointer;
  height: 51px;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .rectangle-HNUHCj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .contents-HNUHCj {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-AbUEGc {
  left: 410px;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .rectangle-WrkeVo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .table-title-text-WrkeVo {
  width: 258px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-sNX4kN {
  left: 60px;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .rectangle-913iTb {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .table-title-text-913iTb {
  width: 328px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-3Fkt4W {
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-FNPHfC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .table-title-text-FNPHfC {
  width: 38px;
}

.devicefeaturecapabilitiesvalue .group-copy-EmxkWp {
  background-color: transparent;
  height: 468px;
  left: 1140px;
  position: absolute;
  top: 1447px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .group-2-copy-5-FLf9it {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-iMmNry {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-w1uIVH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-w1uIVH {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-jfkknv {
  height: 75px;
  left: 375px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-EwXKXl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-EwXKXl {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-CDdDQv {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .content-N9AXa7 {
  color: var(--fuscous-gray);
  height: 20px;
  top: 44px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-CDdDQv {
  color: var(--science-blue);
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-iMmNry {
  height: 53px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-jOFxT4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-jOFxT4 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-6tNox9 {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-6tNox9 {
  color: var(--persian-green);
}

.devicefeaturecapabilitiesvalue .group-2-copy-6-FLf9it {
  background-color: transparent;
  height: 106px;
  left: 0px;
  position: absolute;
  top: 266px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-59CwIQ {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-VmbAY9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-VmbAY9 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-5YAjxg {
  height: 95px;
  left: 375px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-z0jUIO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-z0jUIO {
  background-color: transparent;
  height: 84px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-pFQ8H2 {
  color: var(--black);
  height: 40px;
  top: 22px;
}

.devicefeaturecapabilitiesvalue .content-fA3tqV {
  color: var(--fuscous-gray);
  height: 20px;
  top: 64px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-pFQ8H2 {
  color: var(--science-blue);
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-59CwIQ {
  height: 53px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-2iOLMv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-2iOLMv {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-tCVQ5O {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-tCVQ5O {
  color: var(--persian-green);
}

.devicefeaturecapabilitiesvalue .group-2-copy-7-FLf9it {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 382px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-OhUQl5 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-xYLplK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-xYLplK {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-pWz8Mj {
  height: 75px;
  left: 375px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-X8eb85 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-X8eb85 {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-gLx99J {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .content-fx1bH4 {
  color: var(--fuscous-gray);
  height: 20px;
  top: 44px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-gLx99J {
  color: var(--science-blue);
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-OhUQl5 {
  height: 53px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-HBkgmQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .group-HBkgmQ {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .content-TM7amg {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
}

.devicefeaturecapabilitiesvalue .title-TM7amg {
  color: var(--persian-green);
}

.devicefeaturecapabilitiesvalue .group-2-copy-4-FLf9it {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-UTxuD5 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-zd1xsg {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-zd1xsg {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-I1QqcE {
  height: 31px;
  left: 375px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-tBXsOm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .contents-tBXsOm {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-UTxuD5 {
  cursor: pointer;
  height: 31px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-RldnqH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .contents-RldnqH {
  color: var(--lochmara);
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .group-2-copy-3-FLf9it {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-2xxFp9 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-xRvIC6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-xRvIC6 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-lJPfNm {
  height: 31px;
  left: 375px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-6Axrom {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .contents-6Axrom {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m-2xxFp9 {
  cursor: pointer;
  height: 51px;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .rectangle-hWyx8n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 305px;
}

.devicefeaturecapabilitiesvalue .contents-hWyx8n {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-2kvK1G {
  left: 410px;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .rectangle-dXOpxZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.devicefeaturecapabilitiesvalue .table-title-text-dXOpxZ {
  width: 258px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-nW37X7 {
  left: 60px;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .rectangle-aZmdEj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.devicefeaturecapabilitiesvalue .table-title-text-aZmdEj {
  width: 328px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-NAtfwx {
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-9JPJXM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .table-title-text-9JPJXM {
  width: 38px;
}

.devicefeaturecapabilitiesvalue .group-3-copy-EmxkWp {
  background-color: transparent;
  height: 190px;
  left: 1140px;
  position: absolute;
  top: 555px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .styletabletop-sRbCuM {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-iiQ2PC {
  left: 552px;
  width: 128px;
}

.devicefeaturecapabilitiesvalue .rectangle-vdxwmI {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.devicefeaturecapabilitiesvalue .table-title-text-vdxwmI {
  width: 116px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-xzrfXx {
  left: 60px;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .rectangle-OMQdXl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .table-title-text-OMQdXl {
  width: 154px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-fIXvHP {
  left: 236px;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .rectangle-uqSDo1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .table-title-text-uqSDo1 {
  width: 88px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-35cnST {
  left: 346px;
  width: 196px;
}

.devicefeaturecapabilitiesvalue .rectangle-Uf4czx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 196px;
}

.devicefeaturecapabilitiesvalue .table-title-text-Uf4czx {
  width: 184px;
}

.devicefeaturecapabilitiesvalue .table-guide-title-Z7Y5zW {
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-TcP6xL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .table-title-text-TcP6xL {
  width: 38px;
}

.devicefeaturecapabilitiesvalue .styletable1line_-color-sRbCuM {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 681px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-rVEIUN {
  height: 31px;
  left: 552px;
  width: 129px;
}

.devicefeaturecapabilitiesvalue .rectangle-roCPL8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.devicefeaturecapabilitiesvalue .contents-roCPL8 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 117px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-4Zv17r {
  height: 31px;
  left: 60px;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .rectangle-aVEbjO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .contents-aVEbjO {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-Tk8AlU {
  height: 31px;
  left: 236px;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .rectangle-q8FLux {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .contents-q8FLux {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.devicefeaturecapabilitiesvalue .rectangle-hMc0Ah {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.devicefeaturecapabilitiesvalue .contents-hMc0Ah {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-RmS9YU {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-wXmTCP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-wXmTCP {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .styletable1line_-color-copy-sRbCuM {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 130px;
  width: 681px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-qHw93X {
  height: 31px;
  left: 552px;
  width: 129px;
}

.devicefeaturecapabilitiesvalue .rectangle-pcsDpl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.devicefeaturecapabilitiesvalue .contents-pcsDpl {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 117px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-hQ1Xpg {
  height: 31px;
  left: 60px;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .rectangle-RP8JTt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.devicefeaturecapabilitiesvalue .contents-RP8JTt {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-9TPmME {
  height: 31px;
  left: 236px;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .rectangle-xH61Xf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.devicefeaturecapabilitiesvalue .contents-xH61Xf {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.devicefeaturecapabilitiesvalue .rectangle-eIji7n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.devicefeaturecapabilitiesvalue .contents-eIji7n {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line-1uo6qn {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .rectangle-XfNKPw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturecapabilitiesvalue .contents-XfNKPw {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.devicefeaturecapabilitiesvalue .web-sub_-title_w-description-EmxkWp {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.devicefeaturecapabilitiesvalue .sub-title-Vij4mJ {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.devicefeaturecapabilitiesvalue .web-title-area-EmxkWp {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalue .web-tab-device-feature_-capabilities-EmxkWp {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalue .x3rd-depth-gzuXvB {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturecapabilitiesvalue .tab-gzuXvB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturecapabilitiesvalue .types-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 35px;
}

.devicefeaturecapabilitiesvalue .service-feature-type-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 106px;
}

.devicefeaturecapabilitiesvalue .value-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 36px;
}

.devicefeaturecapabilitiesvalue .value-slider-_-lin-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.devicefeaturecapabilitiesvalue .value-slider-_-ste-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 167px;
}

.devicefeaturecapabilitiesvalue .value-switch-sli-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 143px;
}

.devicefeaturecapabilitiesvalue .grouping-card-1vCBlq {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 87px;
}

.devicefeaturecapabilitiesvalue .lnb-favorite-card-EmxkWp {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .rectangle-jPxC9T {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .background-jPxC9T {
  background-color: var(--concrete);
  height: 814px;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .stacked-group-jPxC9T {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .web-index-title-common-4ssFdl {
  margin: 0;
}

.devicefeaturecapabilitiesvalue .web-index-contents2dpeth-copy-2-4ssFdl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .web-index-contents2dpeth-copy-3-4ssFdl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .web-index-contents1dpeth_open_selected-4ssFdl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .group-copy-4ssFdl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .empty-zHpE5h {
  top: 21px;
}

.devicefeaturecapabilitiesvalue .empty-4mecLD {
  top: 0px;
}

.devicefeaturecapabilitiesvalue .web-index-title-common-copy-4ssFdl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .group-4ssFdl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .empty-yNF669 {
  top: 21px;
}

.devicefeaturecapabilitiesvalue .empty-bxvpv8 {
  top: 0px;
}

.devicefeaturecapabilitiesvalue .web-index-title-common-b7t0xn {
  margin: 0px 0 0 0;
}

.devicefeaturecapabilitiesvalue .group-copy-2-4ssFdl {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .empty-JoDJqH {
  top: 21px;
}

.devicefeaturecapabilitiesvalue .empty-9flxma {
  top: 0px;
}

.devicefeaturecapabilitiesvalue .web-index-title-common-copy-2-4ssFdl {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturecapabilitiesvalue .line-jPxC9T {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturecapabilitiesvalue .home-net-gui-guidelin-jPxC9T {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturecapabilitiesvalue .webgnb-EmxkWp {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalue .rectangle-jVuwup {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalue .background-jVuwup {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeaturecapabilitiesvalue .index-jVuwup {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturecapabilitiesvalue .web-index-select-wFPeLe {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturecapabilitiesvalue .web-index-unselect-wFPeLe {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturecapabilitiesvalue .web-index-unelect_main-jVuwup {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.devicefeaturecapabilitiesvalue .logo-0Y9iWh {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.devicefeaturecapabilitiesvalue .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: 293px;
}

.devicefeaturecapabilitiesvalue .contents {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.devicefeaturecapabilitiesvalue .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.devicefeaturecapabilitiesvalue .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.devicefeaturecapabilitiesvalue .table-guide-text2line {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.devicefeaturecapabilitiesvalue .table-guide-text2line_m {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
}

.devicefeaturecapabilitiesvalue .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 293px;
}
