/* screen - devicefeatureadditionalinformation */

.devicefeatureadditionalinformation {
  background-color: var(--white);
  height: 1400px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeatureadditionalinformation .group-dgL1a0 {
  background-color: transparent;
  height: 859px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 676px;
}

.devicefeatureadditionalinformation .web-sub_-title_w-description-dgL1a0 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 395px;
}

.devicefeatureadditionalinformation .sub-title-XYzzsF {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.devicefeatureadditionalinformation .web-title-area-dgL1a0 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeatureadditionalinformation .web-tab-device-feature_-capabilities-dgL1a0 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeatureadditionalinformation .x3rd-depth-SW96Ie {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeatureadditionalinformation .tab-SW96Ie {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeatureadditionalinformation .additional-informati-CybzfT {
  margin: 0;
  width: 171px;
}

.devicefeatureadditionalinformation .service-feature-type-CybzfT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 152px;
}

.devicefeatureadditionalinformation .additional-informati-7IX9zc {
  margin: 0 0 0 50px;
  width: 154px;
}

.devicefeatureadditionalinformation .time-routine-CybzfT {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 94px;
}

.devicefeatureadditionalinformation .lnb-favorite-card-dgL1a0 {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeatureadditionalinformation .rectangle-EZKcKZ {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.devicefeatureadditionalinformation .background-EZKcKZ {
  background-color: var(--concrete);
  height: 814px;
  width: 320px;
}

.devicefeatureadditionalinformation .stacked-group-EZKcKZ {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeatureadditionalinformation .web-index-title-common-fDXfqx {
  margin: 0;
}

.devicefeatureadditionalinformation .web-index-contents2dpeth-copy-2-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .web-index-contents2dpeth-copy-3-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .web-index-contents1dpeth_open_selected-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .group-copy-fDXfqx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .empty-jxVfsV {
  top: 21px;
}

.devicefeatureadditionalinformation .empty-OBu2jM {
  top: 0px;
}

.devicefeatureadditionalinformation .web-index-title-common-copy-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .group-fDXfqx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .empty-Rxv2Bt {
  top: 21px;
}

.devicefeatureadditionalinformation .empty-vGpCDs {
  top: 0px;
}

.devicefeatureadditionalinformation .web-index-title-common-61Gt4S {
  margin: 0px 0 0 0;
}

.devicefeatureadditionalinformation .group-copy-2-fDXfqx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .empty-2Y92EI {
  top: 21px;
}

.devicefeatureadditionalinformation .empty-9PxPaG {
  top: 0px;
}

.devicefeatureadditionalinformation .web-index-title-common-copy-2-fDXfqx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeatureadditionalinformation .line-EZKcKZ {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeatureadditionalinformation .home-net-gui-guidelin-EZKcKZ {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeatureadditionalinformation .webgnb-dgL1a0 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeatureadditionalinformation .rectangle-vh6axt {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeatureadditionalinformation .background-vh6axt {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeatureadditionalinformation .index-vh6axt {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeatureadditionalinformation .web-index-select-mhDpCz {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeatureadditionalinformation .web-index-unselect-mhDpCz {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeatureadditionalinformation .web-index-unelect_main-vh6axt {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.devicefeatureadditionalinformation .logo-eIbQ8K {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}
