/* screen - devicefeaturemaindevicefeaturetitle */

.devicefeaturemaindevicefeaturetitle {
  background-color: var(--white);
  height: 1201px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetitle .group-3-copy-USpm29 {
  background-color: transparent;
  height: 93px;
  left: 1140px;
  position: absolute;
  top: 908px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .styletabletop-PYDnfF {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-N7EqfJ {
  left: 552px;
  width: 128px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-smwFZD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-smwFZD {
  width: 116px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-5EiOE9 {
  left: 60px;
  width: 166px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-BkMk53 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-BkMk53 {
  width: 154px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-FC73xT {
  left: 236px;
  width: 100px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-L4EfFx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 100px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-L4EfFx {
  width: 88px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-fydHqj {
  left: 346px;
  width: 196px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-gENdUf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 196px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-gENdUf {
  width: 184px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-OHvQFi {
  left: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-PP1MB2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-PP1MB2 {
  width: 38px;
}

.devicefeaturemaindevicefeaturetitle .styletable1line_-color-PYDnfF {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 681px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-aKHJhE {
  height: 31px;
  left: 552px;
  width: 129px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-xkvszk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 129px;
}

.devicefeaturemaindevicefeaturetitle .contents-xkvszk {
  width: 117px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-TmVRfj {
  height: 31px;
  left: 60px;
  width: 166px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-LFO8Cx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.devicefeaturemaindevicefeaturetitle .contents-LFO8Cx {
  width: 154px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-eFcqx6 {
  height: 31px;
  left: 236px;
  width: 100px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-EMa6T9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.devicefeaturemaindevicefeaturetitle .contents-EMa6T9 {
  width: 88px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text2line-aKHJhE {
  background-color: transparent;
  height: 31px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-n2vxwt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.devicefeaturemaindevicefeaturetitle .contents-n2vxwt {
  width: 184px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-Vjq9x3 {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-uM5oKR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .contents-uM5oKR {
  width: 38px;
}

.devicefeaturemaindevicefeaturetitle .group-USpm29 {
  background-color: transparent;
  height: 466px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .group-2-copy-EJJL4t {
  background-color: transparent;
  height: 268px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-xBax0V {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-WRhDxt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .contents-WRhDxt {
  width: 38px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-0Utchr {
  height: 193px;
  left: 410px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-VsFNdy {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .group-VsFNdy {
  background-color: transparent;
  height: 182px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .content-KpRZxZ {
  height: 160px;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .title-KpRZxZ {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-cIAzBz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.devicefeaturemaindevicefeaturetitle .group-cIAzBz {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .content-cc4zCB {
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .title-cc4zCB {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .group-4-xBax0V {
  background-color: transparent;
  height: 209px;
  left: 59px;
  position: absolute;
  top: 59px;
  width: 259px;
}

.devicefeaturemaindevicefeaturetitle .descriptiontabletop-EJJL4t {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-X7TYLm {
  left: 410px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-VNWmqV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-VNWmqV {
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-BpN9vB {
  left: 60px;
  width: 340px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-OOn3xs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-OOn3xs {
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-title-y2w0kf {
  left: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-cgs6za {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .table-title-text-cgs6za {
  width: 38px;
}

.devicefeaturemaindevicefeaturetitle .group-2-copy-2-EJJL4t {
  background-color: transparent;
  height: 132px;
  left: 0px;
  position: absolute;
  top: 334px;
  width: 680px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-f5QNpz {
  height: 31px;
  left: 0px;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-vZjqvN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.devicefeaturemaindevicefeaturetitle .contents-vZjqvN {
  width: 38px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line-2P5nSv {
  height: 73px;
  left: 410px;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-Qh5Vio {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.devicefeaturemaindevicefeaturetitle .group-Qh5Vio {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .content-DAtQin {
  height: 40px;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .title-DAtQin {
  background-color: transparent;
  color: var(--science-blue);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 258px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-H2X8P9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.devicefeaturemaindevicefeaturetitle .group-H2X8P9 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .content-WNMMLN {
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .title-WNMMLN {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.devicefeaturemaindevicefeaturetitle .group-2-f5QNpz {
  background-color: transparent;
  height: 74px;
  left: 60px;
  position: absolute;
  top: 58px;
  width: 166px;
}

.devicefeaturemaindevicefeaturetitle .group-5-USpm29 {
  background-color: transparent;
  height: 249px;
  left: 380px;
  position: absolute;
  top: 342px;
  width: 710px;
}

.devicefeaturemaindevicefeaturetitle .group-9-USpm29 {
  background-color: transparent;
  height: 259px;
  left: 380px;
  position: absolute;
  top: 741px;
  width: 640px;
}

.devicefeaturemaindevicefeaturetitle .web-sub_-title-USpm29 {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.devicefeaturemaindevicefeaturetitle .sub-title-HXnxOm {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.devicefeaturemaindevicefeaturetitle .web-title-area-USpm29 {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetitle .web-tab-favorite-car-USpm29 {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetitle .x3rd-depth-ol4MKS {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.devicefeaturemaindevicefeaturetitle .tab-ol4MKS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: absolute;
  top: 0px;
  width: auto;
}

.devicefeaturemaindevicefeaturetitle .basic-layout-akelRx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 78px;
}

.devicefeaturemaindevicefeaturetitle .title-akelRx {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 28px;
}

.devicefeaturemaindevicefeaturetitle .lnb-favorite-card-USpm29 {
  background-color: transparent;
  height: 983px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-hiihFu {
  background-color: var(--concrete);
  height: 983px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .background-hiihFu {
  background-color: var(--concrete);
  height: 814px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .stacked-group-hiihFu {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .web-index-title-common-jBEBER {
  margin: 0;
}

.devicefeaturemaindevicefeaturetitle .web-index-contents2dpeth-copy-2-jBEBER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .web-index-contents2dpeth-copy-3-jBEBER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .web-index-contents1dpeth_open_selected-jBEBER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .group-copy-jBEBER {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .empty-G7C3Zd {
  top: 21px;
}

.devicefeaturemaindevicefeaturetitle .empty-bdlNRf {
  top: 0px;
}

.devicefeaturemaindevicefeaturetitle .web-index-title-common-copy-jBEBER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .group-jBEBER {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .empty-7S0w9Y {
  top: 21px;
}

.devicefeaturemaindevicefeaturetitle .empty-FeI1rn {
  top: 0px;
}

.devicefeaturemaindevicefeaturetitle .web-index-title-common-6vK0uf {
  margin: 0px 0 0 0;
}

.devicefeaturemaindevicefeaturetitle .group-copy-2-jBEBER {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .empty-fxxnDJ {
  top: 21px;
}

.devicefeaturemaindevicefeaturetitle .empty-stK3Of {
  top: 0px;
}

.devicefeaturemaindevicefeaturetitle .web-index-title-common-copy-2-jBEBER {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.devicefeaturemaindevicefeaturetitle .line-hiihFu {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.devicefeaturemaindevicefeaturetitle .home-net-gui-guidelin-hiihFu {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.devicefeaturemaindevicefeaturetitle .webgnb-USpm29 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetitle .rectangle-iUDxEC {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetitle .background-iUDxEC {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.devicefeaturemaindevicefeaturetitle .index-iUDxEC {
  background-color: transparent;
  height: 28px;
  left: 427px;
  position: absolute;
  top: 21px;
  width: 117px;
}

.devicefeaturemaindevicefeaturetitle .web-index-select-WsIOld {
  background-color: transparent;
  cursor: pointer;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.devicefeaturemaindevicefeaturetitle .web-index-unselect-WsIOld {
  background-color: transparent;
  cursor: pointer;
  height: 28px;
  left: 85px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.devicefeaturemaindevicefeaturetitle .web-index-unelect_main-iUDxEC {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.devicefeaturemaindevicefeaturetitle .logo-2MUCdx {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.devicefeaturemaindevicefeaturetitle .content {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
}

.devicefeaturemaindevicefeaturetitle .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text1line {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.devicefeaturemaindevicefeaturetitle .table-guide-text2line_m {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}
