/* screen - notificationcase1messagetype */

.notificationcase1messagetype {
  background-color: var(--white);
  height: 2297px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.notificationcase1messagetype .group-3-88XyoF {
  background-color: transparent;
  height: 656px;
  left: 420px;
  position: absolute;
  top: 398px;
  width: 1400px;
}

.notificationcase1messagetype .group-4-88XyoF {
  background-color: transparent;
  height: 893px;
  left: 420px;
  position: absolute;
  top: 1204px;
  width: 1400px;
}

.notificationcase1messagetype .table-guide-title-88XyoF {
  background-color: transparent;
  height: 56px;
  left: 420px;
  position: absolute;
  top: 342px;
  width: 1400px;
}

.notificationcase1messagetype .web-sub_-title_w-description-88XyoF {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.notificationcase1messagetype .web-title-area-88XyoF {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.notificationcase1messagetype .lnb-notification-88XyoF {
  background-color: transparent;
  height: 1167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase1messagetype .rectangle-aaKikR {
  background-color: var(--concrete);
  height: 1167px;
  width: 320px;
}

.notificationcase1messagetype .rectangle-ZgYkmA {
  background-color: var(--concrete);
  height: 1080px;
  width: 320px;
}

.notificationcase1messagetype .stacked-group-aaKikR {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.notificationcase1messagetype .web-index-title-common-9pp3UD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .empty-FMGM34 {
  top: 21px;
}

.notificationcase1messagetype .empty-b8CxuK {
  top: 0px;
}

.notificationcase1messagetype .web-index-contents1dpeth_open_selected-9pp3UD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .web-index-contents2dpeth-copy-2-9pp3UD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .web-index-contents2dpeth-copy-9pp3UD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .empty-RXXr8z {
  top: 21px;
}

.notificationcase1messagetype .empty-FsWUOp {
  top: 0px;
}

.notificationcase1messagetype .group-copy-9pp3UD {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .empty-DXThjx {
  top: 21px;
}

.notificationcase1messagetype .empty-XdslxU {
  top: 0px;
}

.notificationcase1messagetype .web-index-title-reference-copy-9pp3UD {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase1messagetype .line-aaKikR {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.notificationcase1messagetype .home-net-ui-guideline-aaKikR {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.notificationcase1messagetype .webgnb-88XyoF {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.notificationcase1messagetype .rectangle-8La0MO {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.notificationcase1messagetype .background-8La0MO {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.notificationcase1messagetype .index-8La0MO {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.notificationcase1messagetype .web-index-select-fXmmJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.notificationcase1messagetype .web-index-unselect-fXmmJ8 {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.notificationcase1messagetype .web-index-unelect_main-8La0MO {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.notificationcase1messagetype .logo-QGLP9K {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
