/* screen - notificationcase2mesaagetype */

.notificationcase2mesaagetype {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.notificationcase2mesaagetype .group-3-5FEdhA {
  background-color: transparent;
  height: 591px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.notificationcase2mesaagetype .web-title-area-5FEdhA {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.notificationcase2mesaagetype .lnb-notification-5FEdhA {
  background-color: transparent;
  height: 1167px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.notificationcase2mesaagetype .rectangle-BtkhYS {
  background-color: var(--concrete);
  height: 1167px;
  width: 320px;
}

.notificationcase2mesaagetype .rectangle-jLlkdE {
  background-color: var(--concrete);
  height: 1080px;
  width: 320px;
}

.notificationcase2mesaagetype .stacked-group-BtkhYS {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-title-common-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .empty-BGu7O3 {
  top: 21px;
}

.notificationcase2mesaagetype .empty-RgOprH {
  top: 0px;
}

.notificationcase2mesaagetype .web-index-contents1dpeth_open_selected-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-copy-2-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .web-index-contents2dpeth-copy-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .empty-ta4Q9r {
  top: 21px;
}

.notificationcase2mesaagetype .empty-BxS7Xy {
  top: 0px;
}

.notificationcase2mesaagetype .group-copy-2xX7XE {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .empty-AD8n9u {
  top: 21px;
}

.notificationcase2mesaagetype .empty-OMhSHw {
  top: 0px;
}

.notificationcase2mesaagetype .web-index-title-reference-copy-2xX7XE {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.notificationcase2mesaagetype .line-BtkhYS {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.notificationcase2mesaagetype .home-net-ui-guideline-BtkhYS {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 199px;
}

.notificationcase2mesaagetype .webgnb-5FEdhA {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.notificationcase2mesaagetype .rectangle-qmLF3u {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.notificationcase2mesaagetype .background-qmLF3u {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.notificationcase2mesaagetype .index-qmLF3u {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.notificationcase2mesaagetype .web-index-select-F0NExb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.notificationcase2mesaagetype .web-index-unselect-F0NExb {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.notificationcase2mesaagetype .web-index-unelect_main-qmLF3u {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 293px;
}

.notificationcase2mesaagetype .logo-RPki0x {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}
