/* screen - serviceplugintutorialservicetitle */

.serviceplugintutorialservicetitle {
  background-color: var(--white);
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.serviceplugintutorialservicetitle .group-2-yF5iSn {
  background-color: transparent;
  height: 288px;
  left: 419px;
  position: absolute;
  top: 342px;
  width: 670px;
}

.serviceplugintutorialservicetitle .group-6-yF5iSn {
  background-color: transparent;
  height: 186px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.serviceplugintutorialservicetitle .descriptiontabletop-CEszrg {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.serviceplugintutorialservicetitle .table-guide-title-rmuXA7 {
  left: 552px;
  width: 128px;
}

.serviceplugintutorialservicetitle .rectangle-M16ZU6 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.serviceplugintutorialservicetitle .table-title-text-M16ZU6 {
  width: 116px;
}

.serviceplugintutorialservicetitle .table-guide-title-SOfjy5 {
  left: 60px;
  width: 166px;
}

.serviceplugintutorialservicetitle .rectangle-UQlyO2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.serviceplugintutorialservicetitle .table-title-text-UQlyO2 {
  width: 154px;
}

.serviceplugintutorialservicetitle .table-guide-title-copy-rmuXA7 {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.serviceplugintutorialservicetitle .rectangle-lU6EQT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.serviceplugintutorialservicetitle .table-title-text-lU6EQT {
  width: 94px;
}

.serviceplugintutorialservicetitle .table-guide-title-copy-2-rmuXA7 {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.serviceplugintutorialservicetitle .rectangle-xfPBpu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.serviceplugintutorialservicetitle .table-title-text-xfPBpu {
  width: 178px;
}

.serviceplugintutorialservicetitle .table-guide-title-M5EMDR {
  left: 0px;
  width: 50px;
}

.serviceplugintutorialservicetitle .rectangle-aoxzDh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.serviceplugintutorialservicetitle .table-title-text-aoxzDh {
  width: 38px;
}

.serviceplugintutorialservicetitle .descriptiontable2line-CEszrg {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.serviceplugintutorialservicetitle .group-wldukx {
  height: 53px;
  left: 0px;
  top: 0px;
  width: 680px;
}

.serviceplugintutorialservicetitle .table-guide-text1line-CYuMyk {
  left: 552px;
  width: 128px;
}

.serviceplugintutorialservicetitle .rectangle-6WETjz {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.serviceplugintutorialservicetitle .contents-6WETjz {
  width: 116px;
}

.serviceplugintutorialservicetitle .rectangle-OxFcG2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.serviceplugintutorialservicetitle .contents-OxFcG2 {
  width: 154px;
}

.serviceplugintutorialservicetitle .rectangle-TKFo9X {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.serviceplugintutorialservicetitle .contents-TKFo9X {
  width: 88px;
}

.serviceplugintutorialservicetitle .rectangle-jiDE9c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.serviceplugintutorialservicetitle .contents-jiDE9c {
  width: 184px;
}

.serviceplugintutorialservicetitle .table-guide-text1line-YBAent {
  left: 0px;
  width: 50px;
}

.serviceplugintutorialservicetitle .rectangle-IOShwR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.serviceplugintutorialservicetitle .contents-IOShwR {
  width: 38px;
}

.serviceplugintutorialservicetitle .descriptiontable2line-copy-CEszrg {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 126px;
  width: 680px;
}

.serviceplugintutorialservicetitle .group-FBJer9 {
  height: 53px;
  left: 0px;
  top: 0px;
  width: 680px;
}

.serviceplugintutorialservicetitle .table-guide-text1line-IlHhLE {
  left: 552px;
  width: 128px;
}

.serviceplugintutorialservicetitle .rectangle-xO7UeK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.serviceplugintutorialservicetitle .contents-xO7UeK {
  width: 116px;
}

.serviceplugintutorialservicetitle .rectangle-bRktvx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.serviceplugintutorialservicetitle .contents-bRktvx {
  width: 154px;
}

.serviceplugintutorialservicetitle .rectangle-OhoNDi {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.serviceplugintutorialservicetitle .contents-OhoNDi {
  width: 88px;
}

.serviceplugintutorialservicetitle .rectangle-PVL1ie {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.serviceplugintutorialservicetitle .contents-PVL1ie {
  width: 184px;
}

.serviceplugintutorialservicetitle .table-guide-text1line-APnvdb {
  left: 0px;
  width: 50px;
}

.serviceplugintutorialservicetitle .rectangle-3NLwcu {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.serviceplugintutorialservicetitle .contents-3NLwcu {
  width: 38px;
}

.serviceplugintutorialservicetitle .web-sub_-title-yF5iSn {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.serviceplugintutorialservicetitle .sub-title-BpkTUL {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.serviceplugintutorialservicetitle .web-title-area-yF5iSn {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .web-tab-service-plug-in_-home-screen-yF5iSn {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .x3rd-depth-v5iAl6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.serviceplugintutorialservicetitle .tab-f1GFx4 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.serviceplugintutorialservicetitle .key-screen-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 66px;
}

.serviceplugintutorialservicetitle .header_-app-bar-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 107px;
}

.serviceplugintutorialservicetitle .card-copy-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 29px;
}

.serviceplugintutorialservicetitle .service-title-copy-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 76px;
}

.serviceplugintutorialservicetitle .bottom-buttons-wTbrbm {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.serviceplugintutorialservicetitle .lnb-service-plug-in-yF5iSn {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .rectangle-e1E87Q {
  background-color: var(--concrete);
  height: 1397px;
  width: 320px;
}

.serviceplugintutorialservicetitle .lnb-e1E87Q {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .stacked-group-q1NGq9 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-title-common-copy-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .group-copy-SDY3Gd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .empty-copy-uFuZnO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.serviceplugintutorialservicetitle .line-copy-2-uFuZnO {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.serviceplugintutorialservicetitle .empty-copy-2-uFuZnO {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents1dpeth_open_selected-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-copy-2-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-copy-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .web-index-contents2dpeth-copy-3-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .group-SDY3Gd {
  height: 41px;
  margin: 0px 0 0 0;
  width: 320px;
}

.serviceplugintutorialservicetitle .empty-0yxX2S {
  top: 21px;
}

.serviceplugintutorialservicetitle .empty-1CaQPx {
  top: 0px;
}

.serviceplugintutorialservicetitle .group-copy-2-SDY3Gd {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .empty-X6SoQ3 {
  top: 21px;
}

.serviceplugintutorialservicetitle .empty-rn7x03 {
  top: 0px;
}

.serviceplugintutorialservicetitle .web-index-title-common-copy-2-SDY3Gd {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.serviceplugintutorialservicetitle .line-q1NGq9 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.serviceplugintutorialservicetitle .home-net-gui-guidelin-q1NGq9 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.serviceplugintutorialservicetitle .webgnb-yF5iSn {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .rectangle-KhsyyW {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .background-KhsyyW {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.serviceplugintutorialservicetitle .index-KhsyyW {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.serviceplugintutorialservicetitle .web-index-select-y1265v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.serviceplugintutorialservicetitle .web-index-unselect-y1265v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.serviceplugintutorialservicetitle .web-index-unelect_main-KhsyyW {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.serviceplugintutorialservicetitle .logo-YCHIWl {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.serviceplugintutorialservicetitle .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.serviceplugintutorialservicetitle .contents-copy {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.serviceplugintutorialservicetitle .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.serviceplugintutorialservicetitle .table-guide-text2line {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.serviceplugintutorialservicetitle .table-guide-text2line-copy-2 {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}
