/* screen - tabletcover */

.tabletcover {
  background-color: #ffffff;
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletcover .lnbc2-c-connector_0 {
  background-color: transparent;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletcover .rectangle-lnbc2-c-connector_0 {
  background-color: #f2f2f2;
  height: 714px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletcover .cover {
  background-color: transparent;
  height: 764px;
  left: 417px;
  position: absolute;
  top: 112px;
  width: 1092px;
}

.tabletcover .group {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}
