/* screen - servicepluginliveviewfeaturebackkey */

.servicepluginliveviewfeaturebackkey {
  background-color: var(--white);
  height: 2488px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeaturebackkey .group-4-xR3xkB {
  background-color: transparent;
  height: 746px;
  left: 400px;
  position: absolute;
  top: 1542px;
  width: 690px;
}

.servicepluginliveviewfeaturebackkey .group-2-xR3xkB {
  background-color: transparent;
  height: 77px;
  left: 1139px;
  position: absolute;
  top: 1877px;
  width: 252px;
}

.servicepluginliveviewfeaturebackkey .group-3-xR3xkB {
  background-color: transparent;
  height: 938px;
  left: 420px;
  position: absolute;
  top: 396px;
  width: 670px;
}

.servicepluginliveviewfeaturebackkey .group-11-xR3xkB {
  background-color: transparent;
  height: 286px;
  left: 1140px;
  position: absolute;
  top: 1542px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .group-8-ePgx2q {
  background-color: transparent;
  height: 163px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text2line_m-copy-7-BxAHqc {
  background-color: transparent;
  height: 157px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .rectangle-6Nq2zQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .group-6Nq2zQ {
  background-color: transparent;
  height: 146px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .content-4pVsko {
  color: var(--persian-green);
  font-weight: 600;
  height: 60px;
  top: 22px;
}

.servicepluginliveviewfeaturebackkey .content-YCbFpK {
  color: var(--black);
  font-weight: 400;
  height: 40px;
  top: 84px;
}

.servicepluginliveviewfeaturebackkey .content-copy-4pVsko {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 126px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .title-4pVsko {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text1line-copy-2-BxAHqc {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .rectangle-gxeoev {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .contents-gxeoev {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text2line_m-copy-3-BxAHqc {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .rectangle-Y4E8Zj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .contents-Y4E8Zj {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.servicepluginliveviewfeaturebackkey .group-10-ePgx2q {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .rectangle-wxMjJq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .contents-wxMjJq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeaturebackkey .rectangle-Hr5yD8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .contents-Hr5yD8 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeaturebackkey .rectangle-YEK5TH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .contents-YEK5TH {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-9AGi0D {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .rectangle-rxC7sC {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-rxC7sC {
  width: 258px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-90PSgQ {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .rectangle-p4yS4D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-p4yS4D {
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-TaHrye {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .rectangle-TxixpB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-TxixpB {
  width: 38px;
}

.servicepluginliveviewfeaturebackkey .group-7-xR3xkB {
  background-color: transparent;
  height: 113px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .group-6-ZNGgc7 {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .rectangle-RqbgZH {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .contents-RqbgZH {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeaturebackkey .rectangle-olkarU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .contents-olkarU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeaturebackkey .rectangle-cYNSez {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .contents-cYNSez {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-jNFdlf {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .rectangle-iUJ4Ul {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-iUJ4Ul {
  width: 258px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-zeTMfy {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .rectangle-zbd5rV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-zbd5rV {
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title-ZzbOmc {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .rectangle-WT1I5k {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .table-title-text-WT1I5k {
  width: 38px;
}

.servicepluginliveviewfeaturebackkey .web-sub_-title-copy-xR3xkB {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 1484px;
  width: 504px;
}

.servicepluginliveviewfeaturebackkey .web-sub_-title-xR3xkB {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 451px;
}

.servicepluginliveviewfeaturebackkey .web-title-area-xR3xkB {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeaturebackkey .web-tab-service-plug-in_cctv-xR3xkB {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeaturebackkey .x3rd-depth-W6KPNR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeaturebackkey .card-copy-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeaturebackkey .popup-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.servicepluginliveviewfeaturebackkey .incoming-call_-push-n-copy-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeaturebackkey .incoming-call_-flow_m-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewfeaturebackkey .flow_-front-door-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeaturebackkey .flow_-home-screen-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeaturebackkey .flow_-back-key-copy-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeaturebackkey .feature_-basic_-layout-copy-XLMqSr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeaturebackkey .x3rd-depth-copy-W6KPNR {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeaturebackkey .feature_-status-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturebackkey .feature_-button-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeaturebackkey .feature_-dialog-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeaturebackkey .feature_-main-entranc-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeaturebackkey .feature_-front-door-copy-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeaturebackkey .feature_-call-end-copy-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturebackkey .feature_-back-key-copy-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 111px;
}

.servicepluginliveviewfeaturebackkey .feature_-exceptional-hTpgA5 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeaturebackkey .lnb-service-plug-in-xR3xkB {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .rectangle-FeNq88 {
  background-color: var(--concrete);
  height: 1396px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .lnb-FeNq88 {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .stacked-group-BzxujA {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .web-index-title-common-copy-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .group-copy-V24uFx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .empty-copy-62cIoU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .line-copy-2-62cIoU {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturebackkey .empty-copy-2-62cIoU {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .web-index-contents1dpeth_open_selected-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .web-index-contents2dpeth-copy-2-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .web-index-contents2dpeth-copy-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .web-index-contents2dpeth-copy-3-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .group-V24uFx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .empty-dxgfPq {
  top: 21px;
}

.servicepluginliveviewfeaturebackkey .empty-g3ZEsd {
  top: 0px;
}

.servicepluginliveviewfeaturebackkey .group-copy-2-V24uFx {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .empty-8NgCoW {
  top: 21px;
}

.servicepluginliveviewfeaturebackkey .empty-AsWNY9 {
  top: 0px;
}

.servicepluginliveviewfeaturebackkey .web-index-title-common-copy-2-V24uFx {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturebackkey .line-BzxujA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeaturebackkey .home-net-gui-guidelin-BzxujA {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeaturebackkey .webgnb-xR3xkB {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturebackkey .rectangle-7Tb0EE {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginliveviewfeaturebackkey .background-7Tb0EE {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturebackkey .index-7Tb0EE {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeaturebackkey .web-index-select-mKqeLD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeaturebackkey .web-index-unselect-mKqeLD {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeaturebackkey .web-index-unelect_main-7Tb0EE {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicepluginliveviewfeaturebackkey .logo-IhZJvE {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicepluginliveviewfeaturebackkey .content {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  width: 328px;
}

.servicepluginliveviewfeaturebackkey .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicepluginliveviewfeaturebackkey .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text2line_m {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturebackkey .table-guide-text2line_m-copy {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturebackkey .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}
