/* screen - servicepluginliveviewfeatureexceptionalcase */

.servicepluginliveviewfeatureexceptionalcase {
  background-color: var(--white);
  height: 2273px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .group-15-Dxd4AR {
  background-color: transparent;
  height: 748px;
  left: 365px;
  position: absolute;
  top: 396px;
  width: 725px;
}

.servicepluginliveviewfeatureexceptionalcase .group-15-copy-Dxd4AR {
  background-color: transparent;
  height: 564px;
  left: 1140px;
  position: absolute;
  top: 1293px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-12-vqNc2C {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: absolute;
  top: 415px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-3-2IK2rt {
  height: 80px;
  left: 60px;
  top: 69px;
  width: 80px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-10-2IK2rt {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-uvsKS3 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-uvsKS3 {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-5-2IK2rt {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-hzSdRC {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-hzSdRC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-11-2IK2rt {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-DXm7ts {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .group-DXm7ts {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .content-B5xjEE {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .title-B5xjEE {
  color: var(--persian-green);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-14-vqNc2C {
  background-color: transparent;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-xznI3w {
  background-color: transparent;
  height: 75px;
  left: 60px;
  overflow: hidden;
  position: absolute;
  top: 96px;
  width: 100px;
}

.servicepluginliveviewfeatureexceptionalcase .visitor-image-bg_apt-iBEfps {
  background-color: transparent;
  border-radius: 2.22px;
  height: 87px;
  left: 7px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  width: 87px;
}

.servicepluginliveviewfeatureexceptionalcase .group-H546M9 {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 9px;
  width: 87px;
}

.servicepluginliveviewfeatureexceptionalcase .group-2-pU4Mgx {
  background-color: transparent;
  height: 62px;
  left: 3px;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  width: 82px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-WL7py2 {
  height: 32px;
  left: 3px;
  top: 29px;
  width: 16px;
}

.servicepluginliveviewfeatureexceptionalcase .group-4-WL7py2 {
  background-color: transparent;
  height: 61px;
  left: 27px;
  position: absolute;
  top: 0px;
  width: 25px;
}

.servicepluginliveviewfeatureexceptionalcase .path-oMdyI8 {
  background-color: transparent;
  height: 61px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 25px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-oMdyI8 {
  height: 48px;
  left: 8px;
  top: 13px;
  width: 10px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-WL7py2 {
  background-color: var(--gallery);
  height: 46px;
  left: 13px;
  position: absolute;
  top: 15px;
  width: 14px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-XBAwKV {
  height: 37px;
  left: 16px;
  top: 19px;
  width: 8px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-copy-WL7py2 {
  background-color: transparent;
  height: 32px;
  left: 58px;
  position: absolute;
  top: 29px;
  width: 16px;
}

.servicepluginliveviewfeatureexceptionalcase .group-3-WL7py2 {
  height: 40px;
  left: 51px;
  top: 22px;
  width: 15px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-rKXj1q {
  height: 40px;
  left: 0px;
  top: 0px;
  width: 15px;
}

.servicepluginliveviewfeatureexceptionalcase .combined-shape-pN6NNm {
  height: 33px;
  left: 1px;
  top: 2px;
  width: 13px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-pU4Mgx {
  background-color: var(--concrete);
  height: 19px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 87px;
}

.servicepluginliveviewfeatureexceptionalcase .visitor-image-character-iBEfps {
  background-color: transparent;
  height: 87px;
  left: 7px;
  position: absolute;
  top: -6px;
  width: 87px;
}

.servicepluginliveviewfeatureexceptionalcase .ic-mrgcuh {
  background-color: transparent;
  height: 87px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 87px;
}

.servicepluginliveviewfeatureexceptionalcase .png-light-winset-dia-xpjmNg {
  background-color: transparent;
  height: 66px;
  left: 15px;
  position: relative;
  top: 25px;
  width: 57px;
}

.servicepluginliveviewfeatureexceptionalcase .icon-user-d258SN {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 57px;
}

.servicepluginliveviewfeatureexceptionalcase .group-6-xznI3w {
  background-color: transparent;
  height: 86px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-7-3xH8xa {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-jIxlYA {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .group-jIxlYA {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .content-u8CsG9 {
  color: var(--black);
  height: 40px;
  top: 22px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .title-u8CsG9 {
  color: var(--science-blue);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-2-3xH8xa {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-LAZx6g {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-LAZx6g {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-3-3xH8xa {
  background-color: transparent;
  height: 75px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-pxlxtq {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .group-pxlxtq {
  background-color: transparent;
  height: 64px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .content-5xV3YY {
  color: var(--black);
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .content-JlxAKS {
  color: var(--rose);
  height: 20px;
  top: 44px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .title-5xV3YY {
  color: var(--persian-green);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-10-vqNc2C {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-12-hyFJyM {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-RpGmaQ {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .group-RpGmaQ {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .content-fLcZnm {
  color: var(--black);
  height: 20px;
  top: 42px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .title-fLcZnm {
  color: var(--science-blue);
  height: 40px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-6-hyFJyM {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-tp6bCv {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-tp6bCv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-13-hyFJyM {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-rhnIxC {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-rhnIxC {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-11-vqNc2C {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 326px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-14-xah9c9 {
  background-color: transparent;
  height: 73px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-aN7xHE {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .group-aN7xHE {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .content-AFKAJX {
  color: var(--black);
  height: 40px;
  top: 22px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .title-AFKAJX {
  color: var(--science-blue);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-7-xah9c9 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-ZGfaXN {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-ZGfaXN {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-15-xah9c9 {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-R8sje9 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-R8sje9 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .descriptiontabletop-copy-vqNc2C {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-aRdtL2 {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-OEDiqU {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-OEDiqU {
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-mAYCnJ {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-MLYL60 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-MLYL60 {
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-JaqaDx {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-RLq3Rg {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-RLq3Rg {
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .group-9-copy-Dxd4AR {
  background-color: transparent;
  height: 706px;
  left: 380px;
  position: absolute;
  top: 1293px;
  width: 710px;
}

.servicepluginliveviewfeatureexceptionalcase .group-13-copy-Dxd4AR {
  background-color: transparent;
  height: 116px;
  left: 1140px;
  position: absolute;
  top: 1957px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-DTb1r7 {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-rkEyO8 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-rkEyO8 {
  width: 116px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-haJEdZ {
  left: 60px;
  width: 166px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-u4q4U4 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-u4q4U4 {
  width: 154px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-copy-DTb1r7 {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-JV3lxR {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-JV3lxR {
  width: 94px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-copy-2-DTb1r7 {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-Wqr8Ba {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-Wqr8Ba {
  width: 178px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-QxsAyC {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-3w6r6z {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-3w6r6z {
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .descriptiontable2line-copy-M70DQ7 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-Qx3tHi {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-j1w5w7 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 128px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-j1w5w7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line-Qx3tHi {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-At5e5t {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-At5e5t {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line-copy-Qx3tHi {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-0mnAMq {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-0mnAMq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line-copy-2-Qx3tHi {
  background-color: transparent;
  height: 31px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-1xufml {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-1xufml {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-xERIn4 {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-CK7NOg {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-CK7NOg {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .group-21-Dxd4AR {
  background-color: transparent;
  height: 334px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-19-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-M1bpkG {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-3xdXQ0 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-3xdXQ0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-M1bpkG {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-xWxxTs {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-xWxxTs {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-M1bpkG {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-Nxaxpe {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-Nxaxpe {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-20-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 123px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-4-sNXOqt {
  background-color: transparent;
  height: 51px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-FDDqDz {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-FDDqDz {
  color: var(--science-blue);
  font-weight: 600;
  height: 40px;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-sNXOqt {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-B3aLJq {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-B3aLJq {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-2-sNXOqt {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-IqjGkY {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-IqjGkY {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-17-RCpAgy {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 190px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-6-Q9bKtT {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-IOiYww {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-IOiYww {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-3-Q9bKtT {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-uQkjrD {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-uQkjrD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-5-Q9bKtT {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-fwnB7Q {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-fwnB7Q {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .group-18-RCpAgy {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 277px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-9-23tLte {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-XsDbL7 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-XsDbL7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line-copy-4-23tLte {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-6QQr76 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-6QQr76 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text2line_m-copy-8-23tLte {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-OlOtXt {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.08;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .contents-OlOtXt {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-3fgOrO {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-xQv8Zu {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-xQv8Zu {
  width: 258px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-Nca4xj {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-ryT3Di {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-ryT3Di {
  width: 328px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title-nLEarU {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-axRWd5 {
  background-color: var(--black);
  height: 1px;
  left: 0px;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeatureexceptionalcase .table-title-text-axRWd5 {
  width: 38px;
}

.servicepluginliveviewfeatureexceptionalcase .web-sub_-title-Dxd4AR {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 537px;
}

.servicepluginliveviewfeatureexceptionalcase .sub-title-GWOGHK {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.servicepluginliveviewfeatureexceptionalcase .web-title-area-Dxd4AR {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .web-tab-service-plug-in_cctv-Dxd4AR {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .x3rd-depth-xsNEdq {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .card-copy-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeatureexceptionalcase .popup-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.servicepluginliveviewfeatureexceptionalcase .incoming-call_-push-n-copy-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeatureexceptionalcase .incoming-call_-flow_m-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-front-door-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-home-screen-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeatureexceptionalcase .flow_-back-key-copy-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-basic_-layout-copy-Dx5rK6 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeatureexceptionalcase .x3rd-depth-copy-xsNEdq {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-status-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-button-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-dialog-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-main-entranc-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-front-door-copy-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-call-end-copy-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-back-key-copy-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeatureexceptionalcase .feature_-exceptional-FLa2b4 {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 164px;
}

.servicepluginliveviewfeatureexceptionalcase .lnb-service-plug-in-Dxd4AR {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-NA7yk8 {
  background-color: var(--concrete);
  height: 1396px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .lnb-NA7yk8 {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .stacked-group-lNBCOM {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-copy-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .group-copy-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-copy-8GgBAH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-copy-2-8GgBAH {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-copy-2-8GgBAH {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents1dpeth_open_selected-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-2-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-contents2dpeth-copy-3-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .group-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-0DbcvF {
  top: 21px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-2YBf9a {
  top: 0px;
}

.servicepluginliveviewfeatureexceptionalcase .group-copy-2-CGZDk7 {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-Npl0vq {
  top: 21px;
}

.servicepluginliveviewfeatureexceptionalcase .empty-FffTxH {
  top: 0px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-title-common-copy-2-CGZDk7 {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeatureexceptionalcase .line-lNBCOM {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeatureexceptionalcase .home-net-gui-guidelin-lNBCOM {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeatureexceptionalcase .webgnb-Dxd4AR {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .rectangle-iHnFxL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .background-iHnFxL {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeatureexceptionalcase .index-iHnFxL {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-select-IsJY4v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-unselect-IsJY4v {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeatureexceptionalcase .web-index-unelect_main-iHnFxL {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicepluginliveviewfeatureexceptionalcase .logo-D9utPW {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicepluginliveviewfeatureexceptionalcase .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.servicepluginliveviewfeatureexceptionalcase .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicepluginliveviewfeatureexceptionalcase .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewfeatureexceptionalcase .group-3 {
  background-color: transparent;
  position: absolute;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewfeatureexceptionalcase .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewfeatureexceptionalcase .title {
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
}
