/* screen - servicepluginliveviewfeaturedialog */

.servicepluginliveviewfeaturedialog {
  background-color: var(--white);
  height: 1367px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .group-2-PPWLMx {
  background-color: transparent;
  height: 166px;
  left: 1140px;
  position: absolute;
  top: 648px;
  width: 680px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line_m-copy-7-S60MwA {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .rectangle-zxbOcl {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .group-zxbOcl {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .content-Z1X8ah {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .title-Z1X8ah {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-copy-2-S60MwA {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-cfBjs2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .contents-cfBjs2 {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line_m-copy-2-S60MwA {
  background-color: transparent;
  height: 155px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .rectangle-X6xHVf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .group-X6xHVf {
  background-color: transparent;
  height: 144px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .content-WeQKoh {
  color: var(--black);
  font-weight: 600;
  height: 80px;
  top: 22px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .content-ZDghLk {
  color: var(--fuscous-gray);
  font-weight: 400;
  height: 40px;
  top: 104px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .title-WeQKoh {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .group-PPWLMx {
  background-color: transparent;
  height: 186px;
  left: 1140px;
  position: absolute;
  top: 452px;
  width: 680px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line_m-copy-tlJ4xs {
  background-color: transparent;
  height: 175px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .rectangle-jXaTD4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .group-jXaTD4 {
  background-color: transparent;
  height: 164px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .content-KE5YI0 {
  color: var(--black);
  font-weight: 600;
  height: 100px;
  top: 22px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .content-YfpkKY {
  color: var(--fuscous-gray);
  font-weight: 400;
  height: 40px;
  top: 124px;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .title-KE5YI0 {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-tlJ4xs {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-vVxVS1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .contents-vVxVS1 {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line_m-tlJ4xs {
  background-color: transparent;
  height: 53px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .rectangle-lT8EG5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .group-lT8EG5 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .content-jPIobZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .title-jPIobZ {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewfeaturedialog .descriptiontabletop-PPWLMx {
  left: 1140px;
  top: 396px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-MHoZnG {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .rectangle-eV592q {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginliveviewfeaturedialog .table-title-text-eV592q {
  width: 258px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-GJJbn0 {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .rectangle-CgeIzW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginliveviewfeaturedialog .table-title-text-CgeIzW {
  width: 328px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-VkVQ9e {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-7jd6RN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .table-title-text-7jd6RN {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .group-3-PPWLMx {
  background-color: transparent;
  height: 253px;
  left: 1140px;
  position: absolute;
  top: 914px;
  width: 680px;
}

.servicepluginliveviewfeaturedialog .descriptiontabletop-HJ2s08 {
  left: 0px;
  top: 0px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-6rxxyh {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .rectangle-qn0jXx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .table-title-text-qn0jXx {
  width: 116px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-tRervz {
  left: 60px;
  width: 166px;
}

.servicepluginliveviewfeaturedialog .rectangle-GE8kzd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicepluginliveviewfeaturedialog .table-title-text-GE8kzd {
  width: 154px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-copy-6rxxyh {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicepluginliveviewfeaturedialog .rectangle-SxxWZe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicepluginliveviewfeaturedialog .table-title-text-SxxWZe {
  width: 94px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-copy-2-6rxxyh {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicepluginliveviewfeaturedialog .rectangle-Z70s5z {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicepluginliveviewfeaturedialog .table-title-text-Z70s5z {
  width: 178px;
}

.servicepluginliveviewfeaturedialog .table-guide-title-kKSxLR {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-L6q9i8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .table-title-text-L6q9i8 {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .descriptiontable2line-copy-HJ2s08 {
  height: 117px;
  top: 56px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-TcDWIx {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .rectangle-zL56K7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .contents-zL56K7 {
  width: 116px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line-TcDWIx {
  height: 117px;
}

.servicepluginliveviewfeaturedialog .rectangle-fp1zNr {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewfeaturedialog .group-fp1zNr {
  background-color: transparent;
  height: 106px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 154px;
}

.servicepluginliveviewfeaturedialog .content-GFzUUD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewfeaturedialog .content-ddH5gS {
  color: var(--black);
  font-weight: 600;
  height: 20px;
  top: 44px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewfeaturedialog .content-copy-GFzUUD {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 66px;
  width: 154px;
}

.servicepluginliveviewfeaturedialog .title-GFzUUD {
  color: var(--black);
  font-weight: 600;
  width: 154px;
}

.servicepluginliveviewfeaturedialog .rectangle-fKQC1D {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewfeaturedialog .contents-fKQC1D {
  width: 88px;
}

.servicepluginliveviewfeaturedialog .rectangle-NKSvkU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewfeaturedialog .group-NKSvkU {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewfeaturedialog .content-UyvReF {
  color: var(--fuscous-gray);
  font-weight: 400;
  height: 20px;
  top: 22px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewfeaturedialog .title-UyvReF {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-jHFv6T {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-5RDkuq {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .contents-5RDkuq {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .descriptiontable2line-copy-YKpiBi {
  height: 53px;
  top: 189px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-jLkdxl {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .rectangle-iQMmyQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewfeaturedialog .contents-iQMmyQ {
  width: 116px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line-jLkdxl {
  height: 31px;
}

.servicepluginliveviewfeaturedialog .rectangle-0ouO8N {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewfeaturedialog .contents-0ouO8N {
  width: 154px;
}

.servicepluginliveviewfeaturedialog .rectangle-4YvSNm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewfeaturedialog .contents-4YvSNm {
  width: 88px;
}

.servicepluginliveviewfeaturedialog .rectangle-prGLZh {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewfeaturedialog .contents-prGLZh {
  width: 184px;
}

.servicepluginliveviewfeaturedialog .contents-copy-prGLZh {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line-3Dydk1 {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .rectangle-N6Lj3p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewfeaturedialog .contents-N6Lj3p {
  width: 38px;
}

.servicepluginliveviewfeaturedialog .group-5-PPWLMx {
  background-color: transparent;
  height: 208px;
  left: 399px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewfeaturedialog .web-sub_-title-PPWLMx {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 426px;
}

.servicepluginliveviewfeaturedialog .sub-title-vjNIVy {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.servicepluginliveviewfeaturedialog .web-title-area-PPWLMx {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .web-tab-service-plug-in_cctv-PPWLMx {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .x3rd-depth-BRBxee {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .card-copy-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewfeaturedialog .popup-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.servicepluginliveviewfeaturedialog .incoming-call_-push-n-copy-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 199px;
}

.servicepluginliveviewfeaturedialog .incoming-call_-flow_m-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewfeaturedialog .flow_-front-door-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewfeaturedialog .flow_-home-screen-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewfeaturedialog .flow_-back-key-copy-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewfeaturedialog .feature_-basic_-layout-copy-lxLx3N {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewfeaturedialog .x3rd-depth-copy-BRBxee {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewfeaturedialog .feature_-status-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewfeaturedialog .feature_-button-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewfeaturedialog .feature_-dialog-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewfeaturedialog .feature_-main-entranc-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewfeaturedialog .feature_-front-door-copy-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewfeaturedialog .feature_-call-end-copy-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewfeaturedialog .feature_-back-key-copy-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewfeaturedialog .feature_-exceptional-oplSSF {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewfeaturedialog .lnb-service-plug-in-PPWLMx {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .rectangle-G17YRb {
  background-color: var(--concrete);
  height: 1396px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .lnb-G17YRb {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .stacked-group-0B88MB {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-copy-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .group-copy-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-copy-TcCL9A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-copy-2-TcCL9A {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .empty-copy-2-TcCL9A {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents1dpeth_open_selected-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-2-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .web-index-contents2dpeth-copy-3-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .group-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-ut4A77 {
  top: 21px;
}

.servicepluginliveviewfeaturedialog .empty-qyZPyU {
  top: 0px;
}

.servicepluginliveviewfeaturedialog .group-copy-2-zyqzmB {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .empty-ZM08C0 {
  top: 21px;
}

.servicepluginliveviewfeaturedialog .empty-45rqJI {
  top: 0px;
}

.servicepluginliveviewfeaturedialog .web-index-title-common-copy-2-zyqzmB {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewfeaturedialog .line-0B88MB {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewfeaturedialog .home-net-gui-guidelin-0B88MB {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewfeaturedialog .webgnb-PPWLMx {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .rectangle-h1a26C {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .background-h1a26C {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewfeaturedialog .index-h1a26C {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewfeaturedialog .web-index-select-mELeMp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewfeaturedialog .web-index-unselect-mELeMp {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewfeaturedialog .web-index-unelect_main-h1a26C {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicepluginliveviewfeaturedialog .logo-9xvMiv {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicepluginliveviewfeaturedialog .content {
  background-color: transparent;
  font-style: normal;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
}

.servicepluginliveviewfeaturedialog .contents {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
}

.servicepluginliveviewfeaturedialog .descriptiontable2line-copy {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicepluginliveviewfeaturedialog .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  position: absolute;
  width: 680px;
}

.servicepluginliveviewfeaturedialog .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line {
  background-color: transparent;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line-copy {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicepluginliveviewfeaturedialog .table-guide-text2line-copy-2 {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicepluginliveviewfeaturedialog .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewfeaturedialog .title {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
