/* screen - servicepluginreservevisitorvehiclefeature */

.servicepluginreservevisitorvehiclefeature {
  background-color: var(--white);
  height: 5556px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeature .group-13-zcCTeS {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 4450px;
  width: 420px;
}

.servicepluginreservevisitorvehiclefeature .group-25-zcCTeS {
  background-color: transparent;
  height: 906px;
  left: 380px;
  position: absolute;
  top: 3394px;
  width: 710px;
}

.servicepluginreservevisitorvehiclefeature .group-23-zcCTeS {
  background-color: transparent;
  height: 1846px;
  left: 400px;
  position: absolute;
  top: 1398px;
  width: 690px;
}

.servicepluginreservevisitorvehiclefeature .group-19-zcCTeS {
  background-color: transparent;
  height: 274px;
  left: 1140px;
  position: absolute;
  top: 342px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-17-sSQHYM {
  height: 57px;
  top: 103px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-W2KiZY {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-2ovJx0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-2ovJx0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-W2KiZY {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-SFuXEf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-SFuXEf {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-BO6jyl {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-M4T2Ip {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-M4T2Ip {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-18-sSQHYM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-A7tw0Z {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-uanD39 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-uanD39 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-5-A7tw0Z {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-gzWCnO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-gzWCnO {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-6-A7tw0Z {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-6DCOnM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-6DCOnM {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-16-sSQHYM {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-g7sJ4o {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-kw0B7G {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-kw0B7G {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-g7sJ4o {
  cursor: pointer;
  height: 31px;
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-iPS4Dx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-iPS4Dx {
  color: var(--lochmara);
  font-weight: 400;
  height: 20px;
  text-decoration: underline;
  white-space: nowrap;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-qNM6D9 {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-4LPQ6r {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-4LPQ6r {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-5-sSQHYM {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 217px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-r3NnNI {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-9fiHTR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-9fiHTR {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-r3NnNI {
  cursor: pointer;
  height: 51px;
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-YxNHO8 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-YxNHO8 {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-YiF8X6 {
  height: 31px;
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-Kn0NZt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-Kn0NZt {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-vg5KPb {
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-cQRARx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-cQRARx {
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-cyTvts {
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-mohVxX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-mohVxX {
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-CTUCQa {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-XEorWF {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-XEorWF {
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .group-20-zcCTeS {
  background-color: transparent;
  height: 106px;
  left: 829px;
  position: absolute;
  top: 1142px;
  width: 338px;
}

.servicepluginreservevisitorvehiclefeature .group-22-zcCTeS {
  background-color: transparent;
  height: 906px;
  left: 400px;
  position: absolute;
  top: 342px;
  width: 690px;
}

.servicepluginreservevisitorvehiclefeature .group-7-zcCTeS {
  background-color: transparent;
  height: 263px;
  left: 1140px;
  position: absolute;
  top: 716px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-Wt7m1Q {
  left: 552px;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-CaZnGJ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-CaZnGJ {
  width: 116px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-ELy1gz {
  left: 60px;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-261SVS {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-261SVS {
  width: 154px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-Wt7m1Q {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-AGl83E {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-AGl83E {
  width: 94px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-copy-2-Wt7m1Q {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-tK1kLa {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-tK1kLa {
  width: 178px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-NGPBGK {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-Sel0hB {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-Sel0hB {
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontable2line-ILzYl1 {
  top: 56px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-FhqMDy {
  left: 552px;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-UFiizX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .contents-UFiizX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-ZVxYMm {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .contents-ZVxYMm {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-SGvxXV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginreservevisitorvehiclefeature .contents-SGvxXV {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-UQmrHA {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginreservevisitorvehiclefeature .group-UQmrHA {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .content-sGxmyz {
  background-color: transparent;
  color: var(--rose);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .title-sGxmyz {
  background-color: transparent;
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-yYKKp8 {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-mizP3n {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-mizP3n {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontable2line-8QeHBK {
  top: 125px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-xO4lnY {
  left: 552px;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-psoH3x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .contents-psoH3x {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-l3OvMT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .contents-l3OvMT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-4O2wWP {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginreservevisitorvehiclefeature .contents-4O2wWP {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-aDFsJY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginreservevisitorvehiclefeature .contents-aDFsJY {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .contents-copy-aDFsJY {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-mrAryM {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-UFEUN7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-UFEUN7 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontable2line-copy-ILzYl1 {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 199px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-LNQDVH {
  left: 552px;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-krGTUQ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .contents-krGTUQ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-5TQnq0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .contents-5TQnq0 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-1cCZNK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginreservevisitorvehiclefeature .contents-1cCZNK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-EkxDmx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginreservevisitorvehiclefeature .contents-EkxDmx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .contents-copy-EkxDmx {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-HLYAjq {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-iANJ5S {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-iANJ5S {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .group-32-zcCTeS {
  background-color: transparent;
  height: 468px;
  left: 1140px;
  position: absolute;
  top: 1398px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-31-GFOPkH {
  background-color: transparent;
  height: 412px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-17-ebTDxA {
  height: 77px;
  top: 0px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-2-IewKk7 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-bXp8sx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-bXp8sx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-IewKk7 {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-RZjG6g {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-RZjG6g {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-2-IewKk7 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-Hr5fvE {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-Hr5fvE {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-30-ebTDxA {
  background-color: transparent;
  height: 238px;
  left: 0px;
  position: absolute;
  top: 174px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-29-nQ2fqg {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-3-tMsvuh {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-xGgnxW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-xGgnxW {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-7-tMsvuh {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-QNETq9 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-QNETq9 {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-8-tMsvuh {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-JkFfJL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-JkFfJL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-27-nQ2fqg {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 47px;
  width: 620px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-11-xvWUAx {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-rEhv3g {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-rEhv3g {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-12-xvWUAx {
  background-color: transparent;
  height: 31px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-zShix1 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-zShix1 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-12-nQ2fqg {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 114px;
  width: 620px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-15-6dLO1w {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-x29SRK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-x29SRK {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-17-6dLO1w {
  background-color: transparent;
  height: 31px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-qLvznD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-qLvznD {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-28-nQ2fqg {
  background-color: transparent;
  height: 57px;
  left: 60px;
  position: absolute;
  top: 181px;
  width: 620px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-16-BQOdaR {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-LxDIZd {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-LxDIZd {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-18-BQOdaR {
  background-color: transparent;
  height: 31px;
  left: 350px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-diiz01 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-diiz01 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-16-copy-ebTDxA {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 87px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-6-UiQHv6 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-slpUxY {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-slpUxY {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-13-UiQHv6 {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-MeJrXj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-MeJrXj {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-14-UiQHv6 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-uGhxNx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-uGhxNx {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontabletop-copy-GFOPkH {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-3WcV8x {
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-rF765x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-rF765x {
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-xn6nzi {
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-NKOXxx {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-NKOXxx {
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-U3LvYY {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-U50T9x {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-U50T9x {
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .group-15-zcCTeS {
  background-color: transparent;
  height: 207px;
  left: 1140px;
  position: absolute;
  top: 3394px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-36-5PehKQ {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-4-psJP32 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-B2X1x4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-B2X1x4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-9-psJP32 {
  background-color: transparent;
  cursor: pointer;
  height: 73px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-QVWMQT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-QVWMQT {
  color: var(--persian-green);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .contents-copy-QVWMQT {
  color: var(--lochmara);
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-10-psJP32 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-I1Pbb4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-I1Pbb4 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-35-5PehKQ {
  background-color: transparent;
  height: 57px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-7-07Tav2 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-nXSiyv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-nXSiyv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-27-07Tav2 {
  background-color: transparent;
  cursor: pointer;
  height: 51px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-RNcQSU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-RNcQSU {
  color: var(--lochmara);
  font-weight: 400;
  height: 40px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-28-07Tav2 {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-mxrdff {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-mxrdff {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontabletop-copy-2-5PehKQ {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-UGuMsp {
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-6ekXvK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-6ekXvK {
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-NKQH4N {
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-11f9PT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-11f9PT {
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-qg8lUi {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-bUT1km {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-bUT1km {
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .group-14-zcCTeS {
  background-color: transparent;
  height: 220px;
  left: 1140px;
  position: absolute;
  top: 4450px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-34-W12QVb {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-5-zwj4kK {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-6zmLks {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-6zmLks {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-21-zwj4kK {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-clHQC4 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-clHQC4 {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-22-zwj4kK {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-7mG3OK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-7mG3OK {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .group-37-W12QVb {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 143px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line-copy-8-3B6sND {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-Jgg7xw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .contents-Jgg7xw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-23-3B6sND {
  background-color: transparent;
  cursor: pointer;
  height: 71px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-YPHQle {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .contents-YPHQle {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m-copy-24-3B6sND {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-3R1GIk {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .contents-3R1GIk {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontabletop-copy-3-W12QVb {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-hbPq4f {
  left: 410px;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-RNtnJf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-RNtnJf {
  width: 258px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-IwJmf8 {
  left: 60px;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-nEHAnR {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-nEHAnR {
  width: 328px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title-40bmGv {
  left: 0px;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-E0gExW {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginreservevisitorvehiclefeature .table-title-text-E0gExW {
  width: 38px;
}

.servicepluginreservevisitorvehiclefeature .web-sub_-title-zcCTeS {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 360px;
}

.servicepluginreservevisitorvehiclefeature .sub-title-Ha8CJf {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.servicepluginreservevisitorvehiclefeature .web-title-area-zcCTeS {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .web-tab-service-plug-in_cctv-zcCTeS {
  background-color: transparent;
  height: 47px;
  left: 320px;
  position: fixed;
  top: 187px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .x3rd-depth-nwfHmz {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1600px;
}

.servicepluginreservevisitorvehiclefeature .tab-Z7jtKg {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 17px;
  justify-content: flex-start;
  left: 100px;
  position: relative;
  top: 0px;
  width: auto;
}

.servicepluginreservevisitorvehiclefeature .card-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginreservevisitorvehiclefeature .feature-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 48px;
}

.servicepluginreservevisitorvehiclefeature .feature-register-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 112px;
}

.servicepluginreservevisitorvehiclefeature .feature-informatio-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 131px;
}

.servicepluginreservevisitorvehiclefeature .pop-up-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 47px;
}

.servicepluginreservevisitorvehiclefeature .pop-up-detail-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 93px;
}

.servicepluginreservevisitorvehiclefeature .feature-_-delete-lis-BWxmon {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 128px;
}

.servicepluginreservevisitorvehiclefeature .lnb-service-plug-in-zcCTeS {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-MorTdW {
  background-color: var(--concrete);
  height: 1396px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .lnb-MorTdW {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .stacked-group-iWYSjs {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .web-index-title-common-copy-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .group-copy-GTKTgJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .empty-copy-XpEVUL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .line-copy-2-XpEVUL {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginreservevisitorvehiclefeature .empty-copy-2-XpEVUL {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .web-index-contents1dpeth_open_selected-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .web-index-contents2dpeth-copy-2-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .web-index-contents2dpeth-copy-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .web-index-contents2dpeth-copy-3-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .group-GTKTgJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .empty-OVN2Uz {
  top: 21px;
}

.servicepluginreservevisitorvehiclefeature .empty-uOpVfE {
  top: 0px;
}

.servicepluginreservevisitorvehiclefeature .group-copy-2-GTKTgJ {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .empty-kiwqV8 {
  top: 21px;
}

.servicepluginreservevisitorvehiclefeature .empty-uBKqvw {
  top: 0px;
}

.servicepluginreservevisitorvehiclefeature .web-index-title-common-copy-2-GTKTgJ {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginreservevisitorvehiclefeature .line-iWYSjs {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginreservevisitorvehiclefeature .home-net-gui-guidelin-iWYSjs {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginreservevisitorvehiclefeature .webgnb-zcCTeS {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeature .rectangle-TD3VL3 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeature .background-TD3VL3 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginreservevisitorvehiclefeature .index-TD3VL3 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginreservevisitorvehiclefeature .web-index-select-GE1iPh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginreservevisitorvehiclefeature .web-index-unselect-GE1iPh {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginreservevisitorvehiclefeature .web-index-unelect_main-TD3VL3 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicepluginreservevisitorvehiclefeature .logo-xMEJyk {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicepluginreservevisitorvehiclefeature .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicepluginreservevisitorvehiclefeature .contents-copy {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 33px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontable2line {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .group-17 {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 680px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line-copy {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line-copy-2 {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-text2line_m {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.servicepluginreservevisitorvehiclefeature .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}
