/* screen - servicepluginliveviewpushnotification */

.servicepluginliveviewpushnotification {
  background-color: var(--white);
  height: 2698px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.servicepluginliveviewpushnotification .group-4-j4QBos {
  background-color: transparent;
  height: 950px;
  left: 410px;
  position: absolute;
  top: 396px;
  width: 690px;
}

.servicepluginliveviewpushnotification .group-11-j4QBos {
  background-color: transparent;
  height: 566px;
  left: 380px;
  position: absolute;
  top: 1496px;
  width: 720px;
}

.servicepluginliveviewpushnotification .group-24-j4QBos {
  background-color: transparent;
  height: 133px;
  left: 1140px;
  position: absolute;
  top: 396px;
  width: 680px;
}

.servicepluginliveviewpushnotification .group-20-eJJFux {
  background-color: transparent;
  height: 77px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-copy-Lx1khL {
  background-color: transparent;
  height: 31px;
  left: 410px;
  position: absolute;
  top: 0px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-Fi8yZZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .contents-Fi8yZZ {
  color: var(--science-blue);
  font-weight: 600;
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-Lx1khL {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-lAmNoL {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-lAmNoL {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-Lx1khL {
  cursor: pointer;
  height: 71px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-Ma5xr0 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .contents-Ma5xr0 {
  color: var(--lochmara);
  font-weight: 400;
  height: 60px;
  text-decoration: underline;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-title-PRJpEh {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-KCNLsK {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginliveviewpushnotification .table-title-text-KCNLsK {
  width: 258px;
}

.servicepluginliveviewpushnotification .table-guide-title-27SXeQ {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-mo1zdw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginliveviewpushnotification .table-title-text-mo1zdw {
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-title-nzfrlY {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-B4xdln {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewpushnotification .table-title-text-B4xdln {
  width: 38px;
}

.servicepluginliveviewpushnotification .web-sub_-title-j4QBos {
  background-color: transparent;
  height: 57px;
  left: 320px;
  position: absolute;
  top: 338px;
  width: 445px;
}

.servicepluginliveviewpushnotification .sub-title-d7Foiq {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.servicepluginliveviewpushnotification .refer-to-one-ui5x-j4QBos {
  background-color: transparent;
  color: var(--persian-green);
  font-style: normal;
  font-weight: 600;
  height: 40px;
  left: 1140px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 338px;
  width: auto;
}

.servicepluginliveviewpushnotification .group-14-j4QBos {
  background-color: transparent;
  height: 511px;
  left: 1140px;
  position: absolute;
  top: 1496px;
  width: 680px;
}

.servicepluginliveviewpushnotification .group-21-GbF0xI {
  background-color: transparent;
  height: 119px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-UUakxk {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-24oQVG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-24oQVG {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-UUakxk {
  height: 53px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-DM2Rji {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .group-DM2Rji {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewpushnotification .content-Id1b49 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewpushnotification .title-Id1b49 {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-qSHFaC {
  height: 113px;
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-tsKw4p {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .group-tsKw4p {
  background-color: transparent;
  height: 102px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewpushnotification .content-5dJJtC {
  color: var(--black);
  height: 80px;
  width: 258px;
}

.servicepluginliveviewpushnotification .title-5dJJtC {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewpushnotification .group-21-copy-GbF0xI {
  background-color: transparent;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 185px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-sfq8I9 {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-MbeeHX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-MbeeHX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-sfq8I9 {
  height: 53px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-azeZFD {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .group-azeZFD {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewpushnotification .content-MRtMeh {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewpushnotification .title-MRtMeh {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-7pKWxi {
  height: 93px;
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-KVu0eo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .group-KVu0eo {
  background-color: transparent;
  height: 82px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewpushnotification .content-NEw6LS {
  color: var(--black);
  height: 60px;
  width: 258px;
}

.servicepluginliveviewpushnotification .title-NEw6LS {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewpushnotification .group-21-copy-4-GbF0xI {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 432px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-50uxCw {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-OXx5EV {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-OXx5EV {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-50uxCw {
  height: 53px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-M6wixT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .group-M6wixT {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewpushnotification .content-GxBdh2 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewpushnotification .title-GxBdh2 {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-zbalGr {
  height: 73px;
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-XB074S {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .group-XB074S {
  background-color: transparent;
  height: 62px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewpushnotification .content-iwoRcC {
  color: var(--black);
  height: 40px;
  width: 258px;
}

.servicepluginliveviewpushnotification .title-iwoRcC {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewpushnotification .group-21-copy-2-GbF0xI {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 294px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-NdbubF {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-QVgxhv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-QVgxhv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-NdbubF {
  height: 53px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-ywjmdo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .group-ywjmdo {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewpushnotification .content-8n4a5E {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewpushnotification .title-8n4a5E {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-WsC4Xk {
  height: 53px;
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-OxwQmZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .group-OxwQmZ {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewpushnotification .content-aOEfN2 {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewpushnotification .title-aOEfN2 {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewpushnotification .group-21-copy-3-GbF0xI {
  background-color: transparent;
  height: 59px;
  left: 0px;
  position: absolute;
  top: 363px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-vBx6xv {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-3PxxzU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-3PxxzU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-vBx6xv {
  height: 53px;
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-TyFOgZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 340px;
}

.servicepluginliveviewpushnotification .group-TyFOgZ {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 328px;
}

.servicepluginliveviewpushnotification .content-VdGnZG {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 328px;
}

.servicepluginliveviewpushnotification .title-VdGnZG {
  color: var(--persian-green);
  font-weight: 600;
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m-Nxdg5z {
  height: 53px;
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-5o85Bs {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 270px;
}

.servicepluginliveviewpushnotification .group-5o85Bs {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 258px;
}

.servicepluginliveviewpushnotification .content-ZFWDUC {
  color: var(--black);
  height: 20px;
  white-space: nowrap;
  width: 258px;
}

.servicepluginliveviewpushnotification .title-ZFWDUC {
  color: var(--science-blue);
  font-weight: 600;
  width: 258px;
}

.servicepluginliveviewpushnotification .table-guide-title-kjvZSM {
  left: 410px;
  width: 270px;
}

.servicepluginliveviewpushnotification .rectangle-295Cms {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 270px;
}

.servicepluginliveviewpushnotification .table-title-text-295Cms {
  width: 258px;
}

.servicepluginliveviewpushnotification .table-guide-title-WWgFgq {
  left: 60px;
  width: 340px;
}

.servicepluginliveviewpushnotification .rectangle-FPeWry {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 340px;
}

.servicepluginliveviewpushnotification .table-title-text-FPeWry {
  width: 328px;
}

.servicepluginliveviewpushnotification .table-guide-title-Srm30N {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-Znk5j2 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewpushnotification .table-title-text-Znk5j2 {
  width: 38px;
}

.servicepluginliveviewpushnotification .group-3-j4QBos {
  background-color: transparent;
  height: 391px;
  left: 1140px;
  position: absolute;
  top: 2107px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-title-QLSxD0 {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-Yq5mfO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 128px;
}

.servicepluginliveviewpushnotification .table-title-text-Yq5mfO {
  width: 116px;
}

.servicepluginliveviewpushnotification .table-guide-title-m07QrA {
  left: 60px;
  width: 166px;
}

.servicepluginliveviewpushnotification .rectangle-WFoJKt {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 166px;
}

.servicepluginliveviewpushnotification .table-title-text-WFoJKt {
  width: 154px;
}

.servicepluginliveviewpushnotification .table-guide-title-copy-QLSxD0 {
  background-color: transparent;
  height: 38px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 106px;
}

.servicepluginliveviewpushnotification .rectangle-O2AkIM {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 106px;
}

.servicepluginliveviewpushnotification .table-title-text-O2AkIM {
  width: 94px;
}

.servicepluginliveviewpushnotification .table-guide-title-copy-2-QLSxD0 {
  background-color: transparent;
  height: 38px;
  left: 352px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.servicepluginliveviewpushnotification .rectangle-I3hSxj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 190px;
}

.servicepluginliveviewpushnotification .table-title-text-I3hSxj {
  width: 178px;
}

.servicepluginliveviewpushnotification .table-guide-title-O2IISK {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-Gd15RN {
  background-color: var(--black);
  height: 1px;
  opacity: 0.3;
  width: 50px;
}

.servicepluginliveviewpushnotification .table-title-text-Gd15RN {
  width: 38px;
}

.servicepluginliveviewpushnotification .descriptiontable2line-copy-xFHuDp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-wxElIm {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-6EnFjX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewpushnotification .contents-6EnFjX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewpushnotification .rectangle-3TPu8c {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewpushnotification .contents-3TPu8c {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewpushnotification .rectangle-fTsMzZ {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewpushnotification .contents-fTsMzZ {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewpushnotification .rectangle-7ePQ3W {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewpushnotification .group-7ePQ3W {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewpushnotification .content-fdKzmk {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewpushnotification .title-fdKzmk {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-pJXIN5 {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-anvRwO {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-anvRwO {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .descriptiontable2line-copy-2-xFHuDp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 125px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-xjXGQK {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-JRNZpn {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewpushnotification .contents-JRNZpn {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewpushnotification .rectangle-zxUYRU {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewpushnotification .contents-zxUYRU {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewpushnotification .rectangle-ysGkEj {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewpushnotification .contents-ysGkEj {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewpushnotification .rectangle-SrLxB7 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewpushnotification .group-SrLxB7 {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewpushnotification .content-k9EYth {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewpushnotification .title-k9EYth {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-qY9pxe {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-mk0Nss {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-mk0Nss {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .descriptiontable2line-copy-3-xFHuDp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 194px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-GxOKMD {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-m3Eirf {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewpushnotification .contents-m3Eirf {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewpushnotification .rectangle-oKyN77 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewpushnotification .contents-oKyN77 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewpushnotification .rectangle-xcd81b {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewpushnotification .contents-xcd81b {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewpushnotification .rectangle-oxTAlG {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewpushnotification .group-oxTAlG {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewpushnotification .content-Gs5bBZ {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewpushnotification .title-Gs5bBZ {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-okMIj8 {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-Nymuuw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-Nymuuw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .descriptiontable2line-copy-4-xFHuDp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 263px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-glzNxi {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-anEhxv {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewpushnotification .contents-anEhxv {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewpushnotification .rectangle-A0roZT {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewpushnotification .contents-A0roZT {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewpushnotification .rectangle-3KjtCe {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewpushnotification .contents-3KjtCe {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewpushnotification .rectangle-xw7Txo {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewpushnotification .group-xw7Txo {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewpushnotification .content-eI8xvG {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewpushnotification .title-eI8xvG {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-kV9c7x {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-9YPY6H {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-9YPY6H {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .descriptiontable2line-copy-5-xFHuDp {
  background-color: transparent;
  height: 53px;
  left: 0px;
  position: absolute;
  top: 332px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-j0pqXd {
  left: 552px;
  width: 128px;
}

.servicepluginliveviewpushnotification .rectangle-tKFx26 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 128px;
}

.servicepluginliveviewpushnotification .contents-tKFx26 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 116px;
}

.servicepluginliveviewpushnotification .rectangle-4aeVKw {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 166px;
}

.servicepluginliveviewpushnotification .contents-4aeVKw {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 154px;
}

.servicepluginliveviewpushnotification .rectangle-Kz3ix5 {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 100px;
}

.servicepluginliveviewpushnotification .contents-Kz3ix5 {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 88px;
}

.servicepluginliveviewpushnotification .rectangle-QLxnFp {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 196px;
}

.servicepluginliveviewpushnotification .group-QLxnFp {
  background-color: transparent;
  height: 42px;
  left: 6px;
  position: absolute;
  top: 11px;
  width: 184px;
}

.servicepluginliveviewpushnotification .content-HwdJxC {
  color: var(--fuscous-gray);
  height: 20px;
  white-space: nowrap;
  width: 184px;
}

.servicepluginliveviewpushnotification .title-HwdJxC {
  color: var(--black);
  font-weight: 400;
  width: 184px;
}

.servicepluginliveviewpushnotification .table-guide-text1line-Zei9OJ {
  left: 0px;
  width: 50px;
}

.servicepluginliveviewpushnotification .rectangle-M5r9aX {
  background-color: var(--black);
  height: 1px;
  opacity: 0.08;
  width: 50px;
}

.servicepluginliveviewpushnotification .contents-M5r9aX {
  color: var(--black);
  font-weight: 400;
  height: 20px;
  white-space: nowrap;
  width: 38px;
}

.servicepluginliveviewpushnotification .web-title-area-j4QBos {
  background-color: transparent;
  height: 224px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.servicepluginliveviewpushnotification .web-tab-service-plug-in_cctv-j4QBos {
  background-color: transparent;
  height: 94px;
  left: 320px;
  position: fixed;
  top: 194px;
  width: 1600px;
}

.servicepluginliveviewpushnotification .x3rd-depth-LdnMN6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1600px;
}

.servicepluginliveviewpushnotification .card-copy-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 29px;
}

.servicepluginliveviewpushnotification .popup-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 40px;
}

.servicepluginliveviewpushnotification .incoming-call_-push-n-copy-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 200px;
}

.servicepluginliveviewpushnotification .incoming-call_-flow_m-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 250px;
}

.servicepluginliveviewpushnotification .flow_-front-door-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 104px;
}

.servicepluginliveviewpushnotification .flow_-home-screen-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 118px;
}

.servicepluginliveviewpushnotification .flow_-back-key-copy-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 92px;
}

.servicepluginliveviewpushnotification .feature_-basic_-layout-copy-UeRdLr {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 138px;
}

.servicepluginliveviewpushnotification .x3rd-depth-copy-LdnMN6 {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 1600px;
}

.servicepluginliveviewpushnotification .feature_-status-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0;
  position: relative;
  width: 95px;
}

.servicepluginliveviewpushnotification .feature_-button-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 98px;
}

.servicepluginliveviewpushnotification .feature_-dialog-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 96px;
}

.servicepluginliveviewpushnotification .feature_-main-entranc-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 176px;
}

.servicepluginliveviewpushnotification .feature_-front-door-copy-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 122px;
}

.servicepluginliveviewpushnotification .feature_-call-end-copy-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 105px;
}

.servicepluginliveviewpushnotification .feature_-back-key-copy-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 110px;
}

.servicepluginliveviewpushnotification .feature_-exceptional-SGXY6b {
  background-color: transparent;
  cursor: pointer;
  height: 17px;
  margin: 0 0 0 50px;
  position: relative;
  width: 163px;
}

.servicepluginliveviewpushnotification .lnb-service-plug-in-j4QBos {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewpushnotification .rectangle-9kbAmv {
  background-color: var(--concrete);
  height: 1396px;
  width: 320px;
}

.servicepluginliveviewpushnotification .lnb-9kbAmv {
  background-color: transparent;
  height: 1397px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewpushnotification .stacked-group-oyzZs6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 320px;
}

.servicepluginliveviewpushnotification .web-index-title-common-copy-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .group-copy-j8vxNb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .empty-copy-xRw3Zd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 21px;
  width: 320px;
}

.servicepluginliveviewpushnotification .line-copy-2-xRw3Zd {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 20px;
  width: 275px;
}

.servicepluginliveviewpushnotification .empty-copy-2-xRw3Zd {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.servicepluginliveviewpushnotification .web-index-contents1dpeth_open_selected-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .web-index-contents2dpeth-copy-2-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .web-index-contents2dpeth-copy-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .web-index-contents2dpeth-copy-3-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .group-j8vxNb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .empty-5HBLI9 {
  top: 21px;
}

.servicepluginliveviewpushnotification .empty-gytGeL {
  top: 0px;
}

.servicepluginliveviewpushnotification .group-copy-2-j8vxNb {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .empty-e6mYTx {
  top: 21px;
}

.servicepluginliveviewpushnotification .empty-wo8A0B {
  top: 0px;
}

.servicepluginliveviewpushnotification .web-index-title-common-copy-2-j8vxNb {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  margin: 0px 0 0 0;
  position: relative;
  width: 320px;
}

.servicepluginliveviewpushnotification .line-oyzZs6 {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.servicepluginliveviewpushnotification .home-net-gui-guidelin-oyzZs6 {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  left: 24px;
  position: absolute;
  top: 100px;
  width: 212px;
}

.servicepluginliveviewpushnotification .webgnb-j4QBos {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewpushnotification .rectangle-Sn12M0 {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.servicepluginliveviewpushnotification .background-Sn12M0 {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.servicepluginliveviewpushnotification .index-Sn12M0 {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 124px;
}

.servicepluginliveviewpushnotification .web-index-select-mlkQmz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.servicepluginliveviewpushnotification .web-index-unselect-mlkQmz {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.servicepluginliveviewpushnotification .web-index-unelect_main-Sn12M0 {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.servicepluginliveviewpushnotification .logo-xcgwXR {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.servicepluginliveviewpushnotification .content {
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 22px;
}

.servicepluginliveviewpushnotification .contents {
  background-color: transparent;
  font-style: normal;
  left: 6px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 11px;
}

.servicepluginliveviewpushnotification .descriptiontabletop {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 680px;
}

.servicepluginliveviewpushnotification .table-guide-text1line {
  background-color: transparent;
  height: 31px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewpushnotification .table-guide-text2line {
  background-color: transparent;
  height: 31px;
  left: 60px;
  position: absolute;
  top: 0px;
  width: 166px;
}

.servicepluginliveviewpushnotification .table-guide-text2line-copy {
  background-color: transparent;
  height: 31px;
  left: 236px;
  position: absolute;
  top: 0px;
  width: 100px;
}

.servicepluginliveviewpushnotification .table-guide-text2line-copy-2 {
  background-color: transparent;
  height: 53px;
  left: 346px;
  position: absolute;
  top: 0px;
  width: 196px;
}

.servicepluginliveviewpushnotification .table-guide-text2line_m {
  background-color: transparent;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewpushnotification .table-guide-title {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: 0px;
}

.servicepluginliveviewpushnotification .title {
  background-color: transparent;
  font-style: normal;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  opacity: 0.8;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
}
