/* screen - tabletoverview585w1279wlayoutcomponentrule */

.tabletoverview585w1279wlayoutcomponentrule {
  background-color: var(--white);
  height: 1240px;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.tabletoverview585w1279wlayoutcomponentrule .group-2-4WMpmq {
  background-color: transparent;
  height: 28px;
  left: 420px;
  position: absolute;
  top: 392px;
  width: 1108px;
}

.tabletoverview585w1279wlayoutcomponentrule .group-4WMpmq {
  background-color: transparent;
  height: 537px;
  left: 420px;
  position: absolute;
  top: 503px;
  width: 1400px;
}

.tabletoverview585w1279wlayoutcomponentrule .web-sub_-title-4WMpmq {
  background-color: transparent;
  height: 58px;
  left: 320px;
  position: absolute;
  top: 284px;
  width: 1600px;
}

.tabletoverview585w1279wlayoutcomponentrule .web-title-area-4WMpmq {
  background-color: transparent;
  height: 170px;
  left: 320px;
  position: fixed;
  top: 64px;
  width: 1600px;
}

.tabletoverview585w1279wlayoutcomponentrule .lnb-service-feature-4WMpmq {
  background-color: transparent;
  height: 937px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.tabletoverview585w1279wlayoutcomponentrule .rectangle-cL0GJA {
  background-color: var(--concrete);
  height: 937px;
  width: 320px;
}

.tabletoverview585w1279wlayoutcomponentrule .line-cL0GJA {
  background-color: transparent;
  height: 2px;
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 154px;
  width: 275px;
}

.tabletoverview585w1279wlayoutcomponentrule .home-net-gui-guidelin-cL0GJA {
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 100px;
  white-space: nowrap;
  width: auto;
}

.stackedgroup6 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 170px;
  width: 320px;
}

.stackedgroup6 .web-index-title-reference-copy-2-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-Qefrsr {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-x1iOAw {
  width: 72px;
}

.stackedgroup6 .group-zm0cTg {
  height: 41px;
  margin: 0px 0 0 0;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-vqP8b5 {
  bottom: 0px;
}

.stackedgroup6 .empty-xo3Tn7 {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-t48ocJ {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-hlUiDl {
  width: 81px;
}

.stackedgroup6 .group-copy-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-gUs2DO {
  bottom: 0px;
}

.stackedgroup6 .empty-lyCcoW {
  top: 0px;
}

.stackedgroup6 .web-index-title-reference-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-jMaMVw {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-B5KpMp {
  width: 136px;
}

.stackedgroup6 .group-copy-2-zm0cTg {
  background-color: transparent;
  height: 41px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .empty-copy-FWSGoV {
  background-color: transparent;
  bottom: 0px;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.stackedgroup6 .line-copy-2-FWSGoV {
  background-color: transparent;
  height: 2.44%;
  left: 7.19%;
  opacity: 0.2;
  position: absolute;
  top: 48.78%;
  width: 85.62%;
}

.stackedgroup6 .empty-copy-2-FWSGoV {
  background-color: transparent;
  height: 48.78%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .web-index-title-reference-copy-3-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-73Nh0h {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.81%;
}

.stackedgroup6 .title-f8lOtL {
  width: 50px;
}

.stackedgroup6 .group-dFLwwV {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .web-expanded-hPPxet {
  background-color: transparent;
  height: 15.22%;
  left: 8.44%;
  opacity: 1;
  position: absolute;
  top: 42.39%;
  width: 3.44%;
}

.stackedgroup6 .button-DjMyXx {
  height: 157.14%;
  left: 18.18%;
  top: -28.57%;
  transform: rotate(90deg);
  width: 63.64%;
}

.stackedgroup6 .x1-depth-title-hPPxet {
  color: #3695dd;
  width: 67px;
}

.stackedgroup6 .web-index-contents2dpeth-copy-11-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-5zo7ee {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-MPUxA5 {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup6 .web-index-contents2dpeth-copy-10-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-D3OMIn {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-NtGNRX {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup6 .web-index-contents2dpeth-copy-9-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-Qs2H13 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-xQdZAi {
  color: #3695dd;
  font-family: 'SamsungOne-500', Helvetica;
  font-weight: 500;
}

.stackedgroup6 .web-index-contents2dpeth-copy-8-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-txwbi4 {
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x2-death-title-czyfzX {
  color: #717171;
  font-family: 'SamsungOne-400', Helvetica;
  font-weight: 400;
}

.stackedgroup6 .group-DiaKyV {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-DqKPch {
  color: #252525;
  width: 123px;
}

.stackedgroup6 .button-Zx2aEw {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-M42b49 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-c2XArd {
  color: #252525;
  width: 106px;
}

.stackedgroup6 .button-Ros5hz {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-4-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-nRZUYd {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-Q2axjb {
  color: #252525;
  width: 100px;
}

.stackedgroup6 .button-C15sq5 {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-5-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-YbApMe {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-dlDdzE {
  color: #252525;
  width: 112px;
}

.stackedgroup6 .button-MxX8Hk {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.stackedgroup6 .web-index-contents2dpeth-copy-6-zm0cTg {
  background-color: transparent;
  cursor: pointer;
  height: 46px;
  margin: 0px 0 0 0;
  opacity: 1;
  position: relative;
  width: 100%;
}

.stackedgroup6 .group-6awZwj {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.stackedgroup6 .x1-depth-title-XGhO7Z {
  color: #252525;
  width: 106px;
}

.stackedgroup6 .button-iDmfiE {
  height: 122.22%;
  left: -20.00%;
  top: -11.11%;
  width: 140.00%;
}

.tabletoverview585w1279wlayoutcomponentrule .webgnb-4WMpmq {
  background-color: transparent;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverview585w1279wlayoutcomponentrule .rectangle-d9wnIq {
  background-color: var(--shark);
  height: 64px;
  width: 1920px;
}

.tabletoverview585w1279wlayoutcomponentrule .background-d9wnIq {
  background-color: var(--shark);
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.tabletoverview585w1279wlayoutcomponentrule .index-d9wnIq {
  background-color: transparent;
  height: 64px;
  left: 420px;
  position: absolute;
  top: 0px;
  width: 123px;
}

.tabletoverview585w1279wlayoutcomponentrule .web-index-select-xuW4Mr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 32px;
}

.tabletoverview585w1279wlayoutcomponentrule .web-index-unselect-xuW4Mr {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 92px;
  position: absolute;
  top: 0px;
  width: 31px;
}

.tabletoverview585w1279wlayoutcomponentrule .web-index-unelect_main-d9wnIq {
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 296px;
}

.tabletoverview585w1279wlayoutcomponentrule .logo-cTrliD {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 296px;
}

.stackedgroup6 .button {
  background-color: transparent;
  opacity: 1;
  position: absolute;
}

.stackedgroup6 .x1-depth-title {
  background-color: transparent;
  font-family: 'SamsungOne-500', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 17px;
  left: 15.62%;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: calc(50.00% - 8px);
  white-space: nowrap;
}

.stackedgroup6 .x2-death-title {
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  height: 46px;
  letter-spacing: 0.00px;
  line-height: 17px;
  opacity: 1;
  position: absolute;
  right: 0px;
  text-align: left;
  top: calc(50.00% - 23px);
  width: 78.12%;
}
